<div class="owl-item">
    <div class="container" [ngStyle]="{'background-image' :'url('+ beitrag.image + ')'}" id="first">
        <div class="textWrapper" id="details">
            <div class="location">
             <h4 class="location">{{beitrag.location}}</h4>
         </div>
            <div class="title">
                <h2 class="title">{{beitrag.title}}
                </h2>
         </div>
         <div class="date">
             <h4 class="date">{{beitrag.date}}</h4>
            </div>
         <div class="button">
             <button class="read" mat-stroked-button>READ MORE</button>
        </div>
</div>
</div>
</div>