<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'basel-erasmusvonrotterdam/Bild1.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        In der Schalerkapelle, die im äusseren nördlichen Seitenschiff liegt,
        fällt eine grosse rötliche Gedenktafel mit goldenen Buchstaben ins Auge:
        das Epitaph des Erasmus von Rotterdam, der 1536 im Basler Münster - der
        reformierten Hauptkirche - beigesetzt wurde. Ursprünglich befand sich
        das Grab des Erasmus (um 1466–1536) im Hauptschiff vor dem Lettner. Das
        von seinen Freunden Bonifacius Amerbach (1495–1562), Hieronymus Froben
        (1501–1563) und Nikolaus Bischoff (1501–1564) in Auftrag gegebene
        Epitaph wurde jedoch während einer Umgestaltung im 19. Jahrhundert an
        die heutige Stelle versetzt. Das Grab selbst geriet in Vergessenheit –
        bis es während der Münstergrabung 1974 wiederentdeckt wurde. Heute ruhen
        die Gebeine wieder direkt beim Grabmal; die Grabplatte ist allerdings
        bis heute verschollen. <br />
        Das Epitaph ist aus einer rötlichen, mit weissen Adern durchzogenen
        Kalksteinplatte, die aus dem Allgäu stammt, gefertigt. Sockel und Gesims
        wurden im Zuge der Umplatzierung in die Schalerkapelle 1855 erneuert und
        bestehen aus Sandstein.
      </p>

      <h2>Das Medaillon des Terminus</h2>
      <p>
        Oberhalb der Inschrift ist das Bild des Terminus, des römischen Gottes
        der Grenzsteine, zu sehen. Von diesem berichtet unter anderem auch der
        Kirchenvater Augustinus in seinem Werk <i>De civitate Dei</i> (Vom
        Gottesstaat; hier in deutscher Übersetzung von Alfred Schröder), wie
        dieser selbst vor dem Göttervater Jupiter nicht zurückwich: <br />

        «Als Tarquinius das Kapitol zu erbauen sich anschickte und sah, dass der
        Platz, der ihm besonders würdig und geeignet erschien, bereits von
        anderen Göttern besetzt sei – und es waren ihrer viele an der Stätte, wo
        das Kapitol errichtet wurde –, fragte er durch Vogelzeichen an, ob sie
        ihren Platz an Jupiter abtreten wollten; denn er wagte nicht gegen ihren
        Willen zu handeln und meinte, sie würden einer so erhabenen Gottheit,
        ihrem König, gern den Platz überlassen; in der Tat waren auch alle
        bereit, Platz zu machen bis auf die genannten drei, Mars, Terminus und
        Juventas; darum wurden in den Bau des Kapitols auch diese drei
        einbezogen, aber in so versteckten Bildern, dass kaum die gelehrtesten
        Männer darum wussten.» <br />

        Weil das aus dieser Geschichte heraus Terminus zugeschriebene Motto
        <i>concedo nulli</i> (ich weiche vor niemandem zurück) der persönliche
        Leitspruch des Erasmus war, ist die Büste des Terminus quasi als sein
        Emblem auf dem Epitaph zu sehen.
      </p>

      <img
        class="bild"
        src="../../../assets/images/basel-erasmusvonrotterdam/Bild3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Oberhalb der eigentlichen Inschrift befindet sich ein Ornamentstreifen
        mit einem runden Medaillon in der Mitte. Darin ist das Profil des
        römischen Gottes Terminus dargestellt, umrahmt ist das Medaillon von
        Bändern, Blättern und Weinranken. (Bild: Andrea Flückiger)
      </p>

      <h2>Die Inschrift</h2>
      <div class="flex-container">
        <div>
          <p>
            <i
              >CHRISTO SERVATORI S[ACRUM] <br />
              DES[IDERIO] ERASMO<br />
              ROTERODAMO<br />
              VIRO OMNIBUS MODIS MAXI[-]<br />
              MO, CUIUS INCOMPARABILEM <br />
              IN OMNI DISCIPLINARUM GE[-]<br />
              NERE ERUDITIONEM PARI CON[-]<br />
              IUNCTAM PRUDENTIA POSTE[-]<br />
              RI ET ADMIRABUNTUR ET PRAE[-]<br />
              DICABUNT, BONIFACIUS AMER[-]<br />
              BACHIUS, HIERON[YMUS]<br />
              FROBENIUS, NIC[OLAUS]<br />
              EPISCOPIUS, HAERES ET NUNCU[-]<br />
              PATI SUPREMAE SUAE VOLUNTA[-]<br />
              TIS VINDICES, PATRONO OPTIMO,<br />
              NON MEMORIAE, QUAM IMMORTA[-] <br />
              LEM SIBI EDITIS LUCUBRATIONI[-] <br />
              BUS COMPARAVIT, IIS TANTISPER,<br />
              DUM ORBIS TERRARUM STABIT,<br />
              SUPERFUTURO, AC ERUDITIS UBI[-] <br />
              QUE GENTIUM COLLOCUTURO, SED <br />
              CORPORIS MORTALIS, QUO <br />
              RECON[-] <br />
              DITUM SIT ERGO, HOC SAXUM<br />
              POSUERE. MORTUUS EST IIII.<br />
              EID[US] IUL[IAS] IAM <br />
              SEPTUAGENARIUS, <br />
              AN(NO) A CHRISTO NATO<br />
              MDXXXVI.
            </i>
          </p>
        </div>
        <div>
          <p>
            Christus dem Erlöser geweiht.<br />
            Für Desiderius Erasmus <br />
            von Rotterdam, <br />
            dem in jeder Art und Weise äusserst <br />
            grossen Mann, dessen unvergleichbare <br />
            Gelehrsamkeit in jeder Sparte der <br />
            Wissenschaften, die mit ebensolcher <br />
            Klugheit gepaart ist, die Nachgeborenen <br />
            sowohl bewundern und rühmen werden, <br />
            ihrem äusserst guten Schutzherrn <br />
            haben Bonifacius Amerbach, Hieronymus <br />
            Froben und Nicolaus<br />
            Bischoff, der Erbe und die öffentlich <br />
            erklärten Bürgen seines <br />
            letzten Willens,<br />
            nicht zur Erinnerung, welche er <br />
            durch seine herausgegebenen Werke <br />
            unsterblich gemacht hat, durch die er, <br />
            solange der Erdenkreis besteht, <br />
            weiterleben und mit den Gelehrten <br />
            aller Völker reden wird, sondern <br />
            um seinen sterblichen Körper zu <br />
            bestatten, <br />
            diesen Grabstein gesetzt. <br />
            Er starb, bereits in seinen <br />
            Siebzigern, <br />
            am 12. Juli des Jahres 1536 <br />
            nach Christi Geburt.
          </p>
        </div>
      </div>
      <img
        class="bild"
        src="../../../assets/images/basel-erasmusvonrotterdam/Bild4.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Das Epitaph des Erasmus von Rotterdam ist ein rötlicher Kalkstein mit
        weisser Maserung. (Bild: Andrea Flückiger)
      </p>
      <h2>Leben und Wirken des Erasmus von Rotterdam</h2>
      <p>
        Warum Erasmus von Rotterdam nach seinem Tod 1536 als katholischer
        Priester im bereits reformierten Münster bestattet wurde – und dies,
        obwohl zu diesem Zeitpunkt sowohl Bestattungen in Kirchen wie auch
        jeglicher Totenkult verboten waren – , und warum er im Text «durch seine
        herausgegebenen Werke unsterblich» genannt wird, wird aus dem Leben und
        Wirken des Erasmus deutlich. <br />
        Erasmus von Rotterdam wurde vermutlich am 28. Oktober zwischen 1464 und
        1469 als nicht ehelicher Sohn eines katholischen Priesters und dessen
        Haushälterin geboren. Nach dem Tod der Eltern entschied sein Vormund,
        den Jungen in ein Augustiner-Kloster zu geben, wo Erasmus die
        Priesterweihe erhielt. 1493 verliess er jedoch das Kloster und trat als
        Sekretär in die Dienste des Bischofs Henri de Bergues (1449–1502). Von
        1495 bis 1499 studierte Erasmus an der Sorbonne in Paris Theologie. Als
        Erzieher von Lord Mountjoy (um 1478–1534) kam er 1499 nach England, wo
        er unter anderem Thomas Morus (1478–1535, humanistischer Autor der
        Renaissance, 1529–1532 Lordkanzler unter Heinrich VIII. 1491–1547 und
        John Colet 1467–1519, Übersetzer des Neuen Testaments ins Englische,
        Wegbereiter der Reformation in England) bekannt wurde. Hier lernte
        Erasmus von Rotterdam das höfische Leben kennen und schätzen und
        entwickelte sich zu einem weltgewandten Gelehrten. <br />
        Erasmus von Rotterdam zählt bis heute zu den bedeutendsten
        Repräsentanten des europäischen Humanismus. Er gilt als Vorreiter der
        Reformation, die er als Theologe durch seine kirchenkritische Haltung
        vorbereitete, obwohl er nicht auf einen Bruch mit der katholischen
        Kirche hinarbeitete, sondern vielmehr ein Verfechter einer ausgeprägten
        religiösen Toleranz war. Als Schriftsteller machte er sich unter anderem
        durch seine Satireschrift <i>Encomion Moriae</i> (Lob der Torheit) aus
        dem Jahr 1511 einen Namen, in der er die Scholastik und die kirchlichen
        Missstände kritisierte. Als ein Universalgelehrter, der mit allen
        zeitgenössischen Persönlichkeiten in Verbindung stand, fand seine
        Philosophie grosse Verbreitung. <br />
        Erasmus wechselte während seines gesamten Lebens immer wieder den
        Wohnort. Unter anderem lebte er auch mehrere Jahre in Basel (1514–1516,
        1521–1529, 1535–1536), wo er bei Johannes Froben 1516 seine lateinische
        Neuübersetzung des Neuen Testaments drucken liess – eine so gut
        gelungene Übersetzung, dass diese von Papst Leo X. (1475–1521) explizit
        gutgeheissen wurde, obwohl die <i>Vulgata</i> (die lateinische
        Bibelübersetzung von Hieronymus) bis dahin als sakrosankt gegolten
        hatte. Erasmus liess die Übersetzung so drucken, dass jeweils links der
        griechische Urtext und rechts die neue (lateinische) Übersetzung des
        Erasmus stand. Mit dieser Ausgabe lag das Neue Testament zum ersten Mal
        gedruckt in griechischer Sprache vor, was für die Reformatoren von
        unglaublicher Wichtigkeit war. So übersetzte etwa Martin Luther
        (1483–1546) 1522 das Neue Testament auf der Grundlage der Zweitauflage
        von Erasmus’ Neuem Testament vom Griechischen direkt ins Deutsche. Auch
        das Neue Testament der King James Bibel basiert auf dem griechischen
        Text des Erasmus. <br />
        In der Nacht vom 11. auf den 12. Juli 1536 verstarb Erasmus von
        Rotterdam im Alter von ungefähr 70 Jahren an der Bäumleingasse in Basel
        – im Haus seines Freundes und Druckers Hieronymus Froben (des ältesten
        Sohnes von Johannes Froben). Aufgrund einer Ausnahmebewilligung des
        Basler Rates wurde er am 12. Juli im Münster, der reformierten
        Hauptkirche, an gut sichtbarer Lage – vor dem ehemaligen Marienaltar –
        beigesetzt. Das Epitaph wurde am 30. Oktober 1538 schräg gegenüber der
        Kanzel angebracht und entwickelte sich innerhalb kurzer Zeit zu einer
        Sehenswürdigkeit, die viele Besuchende anzog. <br />
        Dass Erasmus von Rotterdam in einer Zeit heftiger konfessioneller
        Auseinandersetzungen als katholischer Priester im reformierten Münster
        beigesetzt wurde, zeigt sehr deutlich das hohe Ansehen, das er in Basel
        trotz seiner kritischen Haltung gegenüber der Reformation genoss.
      </p>
      <p class="autor">
        Andrea Flückiger ist Theologiestudentin im Bachelor an der Universität
        Bern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Augustinus von Hippo (354–439 n.Chr.): «<i>De civitate Dei</i>.
            Zweiundzwanzig Bücher über den Gottesstaat», in: Des heiligen
            Kirchenvaters Aurelius Augustinus zweiundzwanzig Bücher über den
            Gottesstaat. Aus dem Lateinischen übersetzt von Alfred Schröder.
            (Des heiligen Kirchenvaters Aurelius Augustinus ausgewählte
            Schriften 1–3, Bibliothek der Kirchenväter, 1. Reihe, Band 01, 16,
            28), Kempten / München: 1911–16, verfügbar unter:
            <a
              target="_blank"
              href="https://bkv.unifr.ch/de/works/cpl-313/versions/zweiundzwanzig-bucher-uber-den-gottesstaat-bkv/divisions/125 "
              ><i>De Civitate Dei.</i> Zweiundzwanzig Bücher über den
              Gottesstaat</a
            >
            (27.12.2022).
          </li>
          <li>
            Jenny, Beat Rudolf: «Tod, Begräbnis und Grabmal des Erasmus von
            Rotterdam», in: Basler Zeitschrift für Geschichte und Altertumskunde
            86 (1986), 61–104, verfügbar unter:
            <a target="_blank" href="http://edoc.unibas.ch/dok/A6243506"
              >Tod, Begräbnis und Grabmal des Erasmus von Rotterdam</a
            >
            (10.1.2023).
          </li>
          <li>
            Meier, Hans-Rudolf / Schwinn Schürmann, Dorothea / Bernasconi, Marco
            / Hess, Stefan / Jäggi Carola / Nagel, Anne / Pajor, Ferdinand: Die
            Kunstdenkmäler des Kantons Basel-Stadt X. Bern: Gesellschaft für
            Schweizerische Kunstgeschichte GSK, verfügbar unter:
            <a
              target="_blank"
              href="https://library.oapen.org/handle/20.500.12657/49857"
              >Die Kunstdenkmäler des Kantons Basel-Stadt X</a
            >
            (27.12.2022).
          </li>

          <li>
            Pronay, Andreas: Die lateinischen Grabinschriften in den Basler
            Kirchen. Band 2: Münster und Martinskirche, Basel / Berlin: Schwabe
            2019.
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
