//individuelles css:

.flex-container {
  display: flex;
}

.flex-container > div {
  width: 49.5%;
  padding-left: 1em;
}

//gemeinsames css:

.wrapper {
  hyphens: auto; //Silbentrennung
}

.text {
  text-align: justify; //Blocksatz
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding-left: 1%;
  padding-right: 1%;
  line-height: 1.625;
  font-weight: 300;
  font-size: 1.1em;
}

.innerText {
  grid-column: 2/3;
  padding-left: 5%;
  padding-right: 5%;
}

#firstParagraph::first-letter {
  float: left;
  font-size: 4em;
  line-height: 0.5em;
}

p {
  margin-bottom: 2%;
}

h2 {
  font-weight: 300;
  font-size: 1.7em;
  margin-bottom: 1%;
}

a {
  color: black;
}

a:hover {
  color: darkslategrey;
}

.bild {
  width: 100%;
}

.bild-klein {
  width: 49.5%;
}

.bildunterschrift {
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 2%;
}

.autor {
  text-align: left;
  font-style: italic;
  margin: 2%;
}

.vertiefung {
  text-align: left;
}

.map-container {
  margin-top: 2%;
  border: 1px black solid;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 2%;
}

.map {
  background: white;
  height: 100%;
  padding-top: 50%;
}

@media (min-width: 1700px) {
  //individuelles css:

  //gemeinsames css:

  .text {
    font-size: 0.9vw;
  }

  h2 {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }

  #firstParagraph::first-letter {
    font-size: 3.6vw;
    line-height: 1.8vw;
  }
}

@media (max-width: 1000px) {
  //individuelles css:

  //gemeinsames css:

  .text {
    grid-template-columns: 0fr 1fr 0fr;
  }
}
