<div class="container">
    <div class="cover">
        <div class="textWrapper">
            <h1>Kontakt</h1>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="content">
        <div class="adress"> 
            <p>Institut für Historische
            Theologie<br>Universität Bern<br>
            Länggassstrasse 51 <br> CH-3012 Bern
        <br>
        <a href="mailto:theos@theol.unibe.ch">theos&#64;theol.unibe.ch</a>
        <br>
        <br>
    </p>
    </div>

    </div>
</div>