<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'bern-taeufergeschichte/bild2.jpg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Taucht ein in das Leben von Jacob Baltzli, in jene Zeit der Verfolgung,
        des Lebenskampfes und der Hoffnung auf eine bessere Zeit. Die Geschichte
        der TäuferInnen begann mit der Reformation. Sie vertraten derart
        revolutionäre Gedanken bezüglich Religionsfreiheit, dass sie heute gerne
        als linker Flügel der Reformation bezeichnet werden. Da die damalige
        feudale und ständische Obrigkeit dies nicht dulden wollte und konnte,
        nahm die Geschichte ihren entsprechend dunklen Lauf. Auf dem
        Stationenweg wird die Geschichte des Täufers Jacob Baltzli in Form eines
        unterhaltsamen und doch ernsthaften Spiels fortlaufend erzählt und
        emotional spür- und erlebbar gemacht.
      </p>

      <img
        class="bild"
        src="../../../assets/images/bern-taeufergeschichte/bild1.jpg"
        alt=""
      />
      <p class="bildunterschrift">
        Münster/Altstadt: Eintauchen in die Geschichte der Täufer in Bern.
        (Bild: Beat Loosli)
      </p>
      <h2>
        Christus als Herr über alles Leben – die reformatorische Interpretation
        der Täufer…
      </h2>
      <p>
        Nach täuferischem Verständnis ging die Reformation mit der Abschaffung
        der Messe, dem Ablass und dem Bekenntnis „allein durch den Glauben,
        allein durch Gnade, allein durch Schrift“ zu wenig weit. Für die
        TäuferInnen war der Aufbau der damaligen Gesellschaft und die Art, wie
        sie kontrolliert wurde grundsätzlich falsch. Sie wollten, dass die
        Gewalten getrennt, die Waffen niedergelegt und die persönliche Glaubens-
        und Gewissensfreiheit respektiert werde. Diese radikalen Vorstellungen
        und Forderungen, die über Religion und ihre Symbole hinausgingen,
        setzten die sozialen, wirtschaftlichen und politischen Strukturen und
        ihre Praxis arg unter Druck. Um das Jahr 1527 formulierte eine
        Täufergruppe in Schleitheim (SH) sieben Artikel, die als erstes
        Glaubensbekenntnis der Täufer verstanden werden können. Darin wird die
        Taufe als Akt der selbstverantwortlichen Entscheidung verstanden, was
        gezwungenermassen die Erwachsenentaufe nach sich zieht. Sich am
        gewaltfreien Leben Christi orientierend, war es den Mitgliedern der
        Täufergemeinden untersagt, das Schwert zu führen und Kriegsdienst zu
        leisten. Auch durften sie nicht die Hand zum Schwur erheben, da Jesus
        seinen Jüngern in Matthäus 5,34 den Eid ausdrücklich verboten habe.
        Schwören könne nur Gott allein, da er keinen Begrenzungen unterliege und
        einzig seine Absichten vollkommen ausführen könne. Die obrigkeitliche
        Autorität wird nicht grundsätzlich in Frage gestellt, sie wird als von
        Gott eingesetzte Ordnung anerkannt. Aber wie der Apostel Paulus in Römer
        13,3 sagt, soll sich die Obrigkeit mit den Werken, also mit dem, was der
        Mensch tut, nicht aber mit dem, was ein Mensch denkt, beschäftigen.
        Einer der damals führenden Vertreter der Täuferbewegung und Namensgeber
        der Mennoniten , Menno Simons (1496 – 1561), lehrte, dass Christus der
        Herr über alles Leben sei und die Regierenden dazu berufen seien, die
        Bösen zu züchtigen und Gerechtigkeit walten zu lassen. Gleichzeitig
        ermahnte er die Herrschenden wiederholt, das Wort Gottes frei
        verkündigen zu lassen und die Ohnmächtigen und Unterdrückten gerecht zu
        behandeln.
      </p>
      <img
        class="bild"
        src="../../../assets/images/bern-taeufergeschichte/bild2.jpg"
        alt=""
      />
      <p class="bildunterschrift">
        Ländte: Im März 1710 wurden auf obrigkeitlichen Befehl über 50 Berner
        Täuferinnen und Täufern, die nicht geflüchtet waren, auf Schiffe
        verfrachtet und rheinabwärts deportiert. (Bild: Beat Loosli)
      </p>
      <h2>...und ihre Auswirkungen</h2>
      <p>
        Die Reformatoren waren keine Vorkämpfer der Religionsfreiheit, wie wir
        sie heute verstehen. Religionsfreiheit bedeutet einerseits, dass auf
        gleichem Territorium unterschiedliche Religionsgemeinschaften existieren
        und diese ihren Kult ausüben dürfen. Sie hat aber noch weitergehende
        Folgen und gewährt den Menschen, dass sie auch im alltäglichen Leben so
        handeln dürfen, wie es im Rahmen der öffentlichen Ordnung ihrem Glauben
        entspricht. Wie der amerikanische Ethiker und Theologe Glen Harold
        Strasser in seinem Aufsatz „Demokratie (im mennonitischen Kontext)“
        schreibt, ist die Haltung der Täufer auch bei der Entwicklung der
        Menschenrechte und der Demokratie nicht zu unterschätzen: „..fest steht,
        dass die erste umfassende Abhandlung über Menschenrechte von dem
        Mennoniten und Baptisten Richard Overton [1647 in England] geschrieben
        wurde – mit biblisch belegten Erörterungen, mit Argumenten aus der
        historischen Erfahrung mit Folter und Religionskriegen und mit
        Vorstellungen, die im Mittelalter entwickelt worden waren.“ Overton hat
        die Menschenrechte von der biblischen Ethik her abgeleitet und in eine
        Sprache übersetzt, die auch die pluralistische Gesellschaft versteht.
        Bis heute messen sich die Anstrengungen der Täufer – sei es für den
        Zivildienst, gewaltfreie Konfliktlösung oder der Einsatz für
        benachteiligte Minderheiten – am biblisch aufgezeigten jesuanischen
        Einsatz für die Armen und diejenigen, die keine Stimme in der
        Gesellschaft haben, damit ihnen Gerechtigkeit wiederfahre.
      </p>
      <h2>Stationenweg als Mahnmal und Anstoss</h2>
      <p>
        Der Stationenweg ist ein Gemeinschaftsprojekt der Mennoniten-Gemeinde
        Bern und der Kirchgemeinde Münster. Der Stationenweg beginnt im Münster
        und verläuft durch das Zentrum der Altstadt in Bern. Die Spurensuche
        dauert eine gute Stunde. Die Teilnehmenden erhalten die Möglichkeit, mit
        allen Sinnen in die Geschichte der Täufer einzutauchen. Er erinnert an
        das Geschehene, geht aber weiter und macht auch die Versöhnung mit
        denen, die an den Mennoniten schuldig geworden sind, sichtbar. Insgesamt
        soll der Weg als Mahnmal und Anstoss dienen, dass Glaube als frei und
        unantastbar respektiert werden muss.
      </p>

      <p class="autor">
        Dorothea Loosli-Amstutz, lic.sc.theol. ist Älteste der Mennoniten
        Gemeinde (Alttäufer) Bern und führt die Einzelfirma «kreative
        Entwicklungsberatung».
      </p>

      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier: 
        </p>
         <ul style="margin-top:0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a style="color: black" routerLink="/{{ author.pathname[i] | removeshitespaces | lowercase }}">
              {{author.location[i]}}: 
              {{author.shorttitle[i]}} 
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Website des Stationenwegs, verfügbar unter: 
            <a target="_blank" href="https://stationenweg-bern.ch/"
              >https://stationenweg-bern.ch/</a
            >
            (31.01.2022).
          </li>
          <li>
            Mennonitisches Lexikon, verfügbar unter: 
            <a target="_blank" href=" https://www.mennlex.de"
              >https://www.mennlex.de</a
            >
            (31.01.2022).
          </li>
          <li>
            Schweizerischer Verein für Täufergeschichte, verfügbar unter: 
            <a target="_blank" href=" https://www.mennonitica.ch"
              >https://www.mennonitica.ch</a
            >
            (31.01.2022).
          </li>
        </ul>
      </div>

      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
