<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'st-mangen-wiborada/Bild0.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        St. Mangen ist eine Kirche mit langer ökumenischer Tradition: Die
        älteste Kirche der Stadt St. Gallen wurde ursprünglich als
        Memorialkirche zu Ehren des Hl. Magnus (um 699–772) gebaut, eines
        ehemaligen Mönches des Klosters St. Gallen, der im Allgäu als Missionar
        gewirkt haben soll. Der Bauherr war Salomon III. (um 850–919/920), Abt
        vom Kloster St. Gallen und gleichzeitig Bischof von Konstanz. Für die
        Gottesdienste dieser Gedächtniskirche waren drei Ordensleute und drei
        Weltpriester zuständig.
      </p>
      <h2>Die Inklusin Wiborada</h2>
      <p>
        In den ersten Jahren war es vermutlich recht ruhig um dieses Gotteshaus,
        bis die Inklusin Wiborada (ca. 880–926) im Jahr 916 entschied, sich dort
        einmauern zu lassen und die letzten Jahre ihres Lebens in einer Zelle an
        der Aussenwand der Kirche zu verbringen. Wiborada war mit ihrem Bruder
        Hitto vermutlich aus der Altenburg im Thurgau nach St. Gallen gekommen.
        Während der Bruder ins Kloster St. Gallen eintrat, verbrachte Wiborada
        zunächst ein mehrjähriges ‹Noviziat› (eine Probezeit vor dem Ablegen des
        endgültigen Gelübdes) in einer Zelle an der Kirche in St. Georgen. Am
        Pfingsttag 916 zog sie nach St. Mangen; der Überlieferung zufolge soll
        Abtbischof Salomo sie eigenhändig an der schattigen Nordostecke der
        Kirche eingemauert haben. Dort wirkte sie als Beterin, Seelsorgerin und
        Seherin. Als 926 eine Schar von Kriegern aus Ungarn die Stadt überfiel,
        starb auch Wiborada, die zwar die Bevölkerung und die Mönche des
        Klosters zur Flucht aufgerufen, für sich selbst aber entschieden hatte,
        zu bleiben. <br />
        Ihre Zelle wurde auch ihr Grab, an dem sich schon kurz nach ihrem Tod
        Wunder ereignet haben sollen. Um 950 wurden ihre Gebeine in die Kirche
        überführt, und wenige Jahre später schrieb der Mönch Ekkehard I. (um
        910–973) ihre erste Lebensgeschichte. Als sie 1047 als erste Frau in
        einem kanonischen Verfahren heiliggesprochen wurde, entwickelte sich ihr
        Grab zum beliebten Pilgerort. Die Kirche St. Mangen wurde 1100
        erweitert, um den Ort des Grabes in den Chorraum zu integrieren.
        Wiboradas Beispiel folgten während des ganzen Mittelalters andere Frauen
        (wie Rachild, ihre Schülerin, bis zur letzten Inklusin Barbara
        Hornbogin). Bis zur Reformation lebten immer wieder Frauen in Zellen an
        den Kirchenmauern.
      </p>

      <img
        class="bild"
        src="../../../assets/images/st-mangen-wiborada/Bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Bild aus dem Codex Sang. 602: So stellte man sich Wiborada in St. Mangen
        rückblickend aus dem 15. Jahrhundert vor, wie sie vom Fenster ihrer
        Zelle einen Bettler empfängt. Cod. Sang. 602, p. 324/325:
        <a href="https://www.e-codices.unifr.ch/de/csg/0602/324/0/"
          >e-codices.unifr.ch</a
        >. (Bild: Ann-Katrin Gässlein)
      </p>
      <h2>Brände, Blitzeinschläge und Erdbeben</h2>
      <p>
        Im Mittelalter erlebte die Kirche mehrere Brände und Blitzeinschläge;
        nach dem Stadtbrand von 1418 konnten die alten Mauern aber
        wiederverwendet werden. St. Mangen liegt auf dem Ira-Hügel, der heute
        Teil der St. Galler Altstadt ist. 1422 wurde das Ira-Quartier ummauert
        und damit in die Stadt einbezogen. In St. Mangen wurde eine Kapelle zu
        Ehren Wiboradas gestiftet und 1456 geweiht, weshalb ihre Gebeine erneut
        erhoben und in einem Reliquienschrein aus vergoldeter Holzschnitzerei
        auf dem Altar dieser Kapelle beigesetzt wurden. <br />
        Während der Reformation wurden zunächst in der Stadtkirche St. Laurenzen
        Gottesdienste der reformatorischen Tradition gefeiert. In harten
        Verhandlungen zwischen Stadt und Kloster St. Gallen wurde die Kirche St.
        Mangen aus der Verbindung mit der Abtei gelöst und unter die Hoheit des
        Stadtrats gestellt. Im Februar 1528 verordnete der Stadtrat, alle Bilder
        und Reliquien aus St. Mangen wegzuschaffen und die Edelmetalle
        einzuschmelzen. Die noch vorhandenen Überreste aus dem Grab von Wiborada
        wurden an einem unbekannten Ort vergraben, eine lokale Tradition
        vermutet sie entweder bei St. Mangen oder im Kloster St. Katharinen, das
        heute die städtische Kinderbibliothek beherbergt. Die leere
        Wiborada-Kapelle in St. Mangen wurde erst vergrössert und zur ersten
        «Vadiana», der ersten Bibliothek der Stadt, welcher der Reformator
        Joachim Vadian (1483/84–1551) seinen persönlichen Buchbestand vermachte.
        Später war auch das «Collegium Musicum in St. Magni Gewölb» an der
        ehemaligen Kapelle untergebracht. Die Kapelle wurde aber 1776, zwei
        Jahre nach einem Erdbeben, wegen Einsturzgefahr abgerissen. Um die
        Kirche herum befand sich ab 1568 der Friedhof der Stadt, der 1876
        aufgelassen und 1897 endgültig geräumt wurde.
      </p>
      <img
        class="bild"
        src="../../../assets/images/st-mangen-wiborada/Bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Die Kirche heute: neben der Kirche erinnern der Wiborada-Brunnen und die
        Wiborada-Treppe an die Stadtheilige. (Bild: Kath. Kirche im Lebensraum
        St. Gallen)
      </p>
      <h2>Eine Kirche – viele Funktionen</h2>
      <p>
        Im 19. Jahrhundert blieb St. Mangen die Kirche der reformierten
        Christ:innen. 1876 allerdings, als im Nachgang an das 1. Vatikanische
        Konzil, die Christkatholische Kirchgemeinde entstand, gewährte ihr die
        reformierte Kirchgemeinde das Sakralgebäude für rund 20 Jahre. Bis 1895
        feierten die christkatholischen Christ:innen regelmässig Gottesdienste,
        bis sie ihre eigene Christuskirche am Rosenberg einweihen konnten. Knapp
        hundert Jahre später, 1977/ 1978 feierten sie nochmals während der
        Restauration ihrer Kirche in St. Mangen. <br />
        Im 20. Jahrhundert feierten zeitweise die griechisch-orthodoxen
        Christ:innen, die evangelisch-methodistische Gemeinde während der
        Bauzeit ihres neuen Zentrums, und seit 1979 beherbergt St. Mangen die
        traditionsreiche Französische Kirche St. Gallen, die seit ihrem Bestehen
        in St. Katharinen Gottesdienste gefeiert hatte. Die Eigentümerin und
        Hausherrin, die evangelisch-reformierte Kirchgemeinde St. Gallen
        Centrum, nutzt die Kirche etwa einmal im Monat, und regelmässig werden
        Kammerkonzerte dort abgehalten. St. Mangen steht auch für Trauungen,
        Abdankungen und Anlässe kirchlicher Vereinigungen zur Verfügung.
      </p>
      <h2>«Fenster nach innen» und «Fenster nach aussen»</h2>
      <p>
        2021 wurde an der nordwestlichen Aussenwand der Kirche eine Holzzelle im
        frühmittelalterlichen Stil errichtet und die Kirchenwand durchstossen,
        um ein «Fenster nach innen» zu schaffen. Während zehn Wochen lebten zehn
        Frauen und Männer jeweils für eine Woche eingeschlossen, wie Wiborada
        vor über tausend Jahren, wenn auch mit grösserem Komfort. Sie wurden von
        Menschen aus der Bevölkerung mit Nahrungsmitteln und Wasser versorgt,
        öffneten das «Fenster nach aussen» täglich für zwei Stunden und nahmen
        Fürbitten und Anliegen der Menschen aus der Stadt entgegen. Ihre Zeit in
        St. Mangen wurde von täglichen Abendandachten begleitet, die ökumenisch
        gestaltet wurden. Zusammen mit einer Ausstellung wurde das Leben
        Wiboradas für die Bevölkerung der Stadt St. Gallen neu aufgearbeitet und
        von verschiedenen Gruppen besucht. Dieses Projekt stiess auf grossen
        Anklang und wird bis zum 1100. Todesjahr von Wiborada weitergeführt. Wie
        es anschliessend weitergeht, ist offen – für die Zukunft der Kirche St.
        Mangen, der ältesten Kirche der Stadt, wird die Tradition von Wiborada
        auf jeden Fall eine Rolle spielen.
      </p>
      <img
        class="bild"
        src="../../../assets/images/st-mangen-wiborada/Bild3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Eine kleine Holzzelle schmiegt sich an die nordwestliche Wand der Kirche
        St. Mangen. (Bild: Kath. Kirche im Lebensraum St. Gallen)
      </p>
      <img
        class="bild"
        src="../../../assets/images/st-mangen-wiborada/Bild4.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Die Einrichtung der heutigen Zelle orientiert sich an den Beschreibungen
        und Vorgaben aus dem Mittelalter, ist aber komfortabler ausgerichtet.
        (Bild: Kath. Kirche im Lebensraum St. Gallen)
      </p>

      <p class="autor">
        Ann-Katrin Gässlein ist Beauftragte für Kultur und Bildung in der
        Citypastoral der Kath. Kirche im Lebensraum St. Gallen und
        wissenschaftliche Assistentin am Lehrstuhl für Liturgiewissenschaft an
        der Theologischen Fakultät in Luzern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Gässlein Ann-Katrin/Emmenegger Gregor: Wiborada von St. Gallen.
            Neuentdeckung einer Heiligen, Basel 2022. Verfügbar unter:

            <a
              target="_blank"
              href="https://schwabe.ch/wiborada-von-st.-gallen-978-3-7965-4500-9"
              >schwabe.ch/wiborada-von-st.-gallen</a
            >
            (16.08.2022).
          </li>
          <li>
            Graf, Karl: «Eine Kirche mit mannigfaltigen Schicksalen», in:
            Evangelisch-reformierte Kirchgemeinde St. Gallen (Hg.): Die Kirche
            Sankt Mangen in St. Gallen, St. Gallen 1983, 9-16.
          </li>
          <li>
            Grüninger, Irmgard: «Archäologische Untersuchungen am Bau der
            Kirche», in: Evangelisch-reformierte Kirchgemeinde St. Gallen (Hg.):
            Die Kirche Sankt Mangen in St. Gallen, St. Gallen 1983, 17-49.
          </li>
          <li>
            Irblich, Eva: Die Vitae sanctae Wiboradae. Ein Heiligenleben des 10.
            Jahrhunderts als Zeitbild. Sonderdruck aus den Schriften des Vereins
            für Geschichte des Bodensees und seiner Umgebung, 88. Heft,
            Friedrichshafen 1970.
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
