<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'st-mangen-wiborada/Bild0.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        St. Mangen ist eine Kirche mit langer ökumenischer Tradition: Die
        älteste Kirche der Stadt St. Gallen wurde ursprünglich als
        Memorialkirche zu Ehren des Hl. Magnus (um 699–772) gebaut, eines
        ehemaligen Mönches des Klosters St. Gallen, der im Allgäu als Missionar
        gewirkt haben soll. Der Bauherr war Salomon III. (um 850–919/920), Abt
        vom Kloster St. Gallen und gleichzeitig Bischof von Konstanz. Für die
        Gottesdienste dieser Gedächtniskirche waren drei Ordensleute und drei
        Weltpriester zuständig.
      </p>
      <h2>Die Inklusin Wiborada</h2>
      <p>
        In den ersten Jahren war es vermutlich recht ruhig um dieses Gotteshaus,
        bis die Inklusin Wiborada (ca. 880–926) im Jahr 916 entschied, sich dort
        einmauern zu lassen und die letzten Jahre ihres Lebens in einer Zelle an
        der Aussenwand der Kirche zu verbringen. Wiborada war mit ihrem Bruder
        Hitto vermutlich aus der Altenburg im Thurgau nach St. Gallen gekommen.
        Während der Bruder ins Kloster St. Gallen eintrat, verbrachte Wiborada
        zunächst ein mehrjähriges ‹Noviziat› (eine Probezeit vor dem Ablegen des
        endgültigen Gelübdes) in einer Zelle an der Kirche in St. Georgen. Am
        Pfingsttag 916 zog sie nach St. Mangen; der Überlieferung zufolge soll
        Abtbischof Salomo sie eigenhändig an der schattigen Nordostecke der
        Kirche eingemauert haben. Dort wirkte sie als Beterin, Seelsorgerin und
        Seherin. Als 926 eine Schar von Kriegern aus Ungarn die Stadt überfiel,
        starb auch Wiborada, die zwar die Bevölkerung und die Mönche des
        Klosters zur Flucht aufgerufen, für sich selbst aber entschieden hatte,
        zu bleiben. <br />
        Ihre Zelle wurde auch ihr Grab, an dem sich schon kurz nach ihrem Tod
        Wunder ereignet haben sollen. Um 950 wurden ihre Gebeine in die Kirche
        überführt, und wenige Jahre später schrieb der Mönch Ekkehard I. (um
        910–973) ihre erste Lebensgeschichte. Als sie 1047 als erste Frau in
        einem kanonischen Verfahren heiliggesprochen wurde, entwickelte sich ihr
        Grab zum beliebten Pilgerort. Die Kirche St. Mangen wurde 1100
        erweitert, um den Ort des Grabes in den Chorraum zu integrieren.
        Wiboradas Beispiel folgten während des ganzen Mittelalters andere Frauen
        (wie Rachild, ihre Schülerin, bis zur letzten Inklusin Barbara
        Hornbogin). Bis zur Reformation lebten immer wieder Frauen in Zellen an
        den Kirchenmauern.
      </p>

      <img
        class="bild"
        src="../../../assets/images/st-mangen-wiborada/Bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Bild aus dem Codex Sang. 602: So stellte man sich Wiborada in St. Mangen
        rückblickend aus dem 15. Jahrhundert vor, wie sie vom Fenster ihrer
        Zelle einen Bettler empfängt. Cod. Sang. 602, p. 324/325:
        <a href="https://www.e-codices.unifr.ch/de/csg/0602/324/0/"
          >e-codices.unifr.ch</a
        >. (Bild: Ann-Katrin Gässlein)
      </p>
      <h2>Brände, Blitzeinschläge und Erdbeben</h2>
      <p>
        Im Mittelalter erlebte die Kirche mehrere Brände und Blitzeinschläge;
        nach dem Stadtbrand von 1418 konnten die alten Mauern aber
        wiederverwendet werden. St. Mangen liegt auf dem Ira-Hügel, der heute
        Teil der St. Galler Altstadt ist. 1422 wurde das Ira-Quartier ummauert
        und damit in die Stadt einbezogen. In St. Mangen wurde eine Kapelle zu
        Ehren Wiboradas gestiftet und 1456 geweiht, weshalb ihre Gebeine erneut
        erhoben und in einem Reliquienschrein aus vergoldeter Holzschnitzerei
        auf dem Altar dieser Kapelle beigesetzt wurden. <br />
        Während der Reformation wurden zunächst in der Stadtkirche St. Laurenzen
        Gottesdienste der reformatorischen Tradition gefeiert. In harten
        Verhandlungen zwischen Stadt und Kloster St. Gallen wurde die Kirche St.
        Mangen aus der Verbindung mit der Abtei gelöst und unter die Hoheit des
        Stadtrats gestellt. Im Februar 1528 verordnete der Stadtrat, alle Bilder
        und Reliquien aus St. Mangen wegzuschaffen und die Edelmetalle
        einzuschmelzen. Die noch vorhandenen Überreste aus dem Grab von Wiborada
        wurden an einem unbekannten Ort vergraben, eine lokale Tradition
        vermutet sie entweder bei St. Mangen oder im Kloster St. Katharinen, das
        heute die städtische Kinderbibliothek beherbergt. Die leere
        Wiborada-Kapelle in St. Mangen wurde erst vergrössert und zur ersten
        «Vadiana», der ersten Bibliothek der Stadt, welcher der Reformator
        Joachim Vadian (1483/84–1551) seinen persönlichen Buchbestand vermachte.
        Später war auch das «Collegium Musicum in St. Magni Gewölb» an der
        ehemaligen Kapelle untergebracht. Die Kapelle wurde aber 1776, zwei
        Jahre nach einem Erdbeben, wegen Einsturzgefahr abgerissen. Um die
        Kirche herum befand sich ab 1568 der Friedhof der Stadt, der 1876
        aufgelassen und 1897 endgültig geräumt wurde.
      </p>
      <img
        class="bild"
        src="../../../assets/images/st-mangen-wiborada/Bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Die Kirche heute: neben der Kirche erinnern der Wiborada-Brunnen und die
        Wiborada-Treppe an die Stadtheilige. (Bild: Kath. Kirche im Lebensraum
        St. Gallen)
      </p>
      <h2></h2>

      <p class="autor">autor</p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            textb4link (Leerzeichen am Schluss)
            <a target="_blank" href="https://websitelink">text</a>
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
