<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'bern-muristalden/bild0.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Der ‹Grosse Muristalden› bietet einen einmaligen Blick auf die Fassaden
        der alten Berner Stadthäuser und auf die Aare, die in einem grossen
        Bogen um die Altstadt fliesst. Oben auf dem Plateau, befindet sich eine
        weitbekannte Bildungsinstitution. Diese kann auf eine historisch, aber
        auch theologisch bedeutende Tradition zurückblicken. <br />
        Verschiedene Wege führen von der Hauptstrasse zu den Eingangstoren des
        heutigen Campus Muristalden, und auch die Lebenswege der Menschen sind
        verschieden, welche täglich durch diese Tore ein- und ausgehen. Es ist
        ein vielseitiges und umfangreiches Bildungsangebot, das Menschen
        verschiedensten Alters zum Campus bringt. Seit jeher wird in den Räumen
        der Schule gelehrt, gelernt und für das zukünftige Leben ausgebildet.
        Das diverse Bildungsangebot ist nicht zuletzt Resultat einer Entwicklung
        des pädagogischen Leitbildes dieser Bildungsinstitution. Das Leitbild
        wurde stetig den gesellschaftlichen Bedingungen angepasst, und hat
        dadurch versucht, auf die Fragen der jeweiligen Zeit Antworten zu geben.
        Die Schule und ihre pädagogische Haltung trugen immer wieder dem Neuen
        Rechnung. Dies zeichnete sich bereits vor fast 170 Jahren in der
        Gründungsmotivation ab.
      </p>
      <h2>Die Gründungsgeschichte</h2>
      <p>
        Der erste theologisch bedeutende Grundstein wurde bereits mit dem Anfang
        der Bildungsinstitution gelegt: Der Vikar und spätere Pfarrer Friedrich
        Gerber (1828-1905) gründete in Aarwangen ein privates Gymnasium für
        potenzielle Maturanden, die mangels finanzieller Ressourcen keinen
        Zugang zu einem weiterführenden Schulangebot hatten. Die jungen Männer
        erhielten an diesem Gymnasium eine gute Vorbereitung auf das
        Theologiestudium, mit der spezifischen Absicht, sie zu ‹Arbeitern im
        Reich Gottes› heranzuziehen. Zu diesem Zeitpunkt bestand die
        Gesellschaft rund um Bern grösstenteils aus Bäuer:innenfamilien und
        Handwerksbetrieben. Da das Bildungsangebot Gerbers einen sozialen Nerv
        der Zeit traf, war der Andrang dementsprechend hoch. Daher war es nach
        kurzer Zeit nicht mehr möglich in einem Privatzimmer zu unterrichten und
        es wurde noch im selben Jahr, 1854, in einer Scheune neben dem Schloss
        Aarwangen mit der notwendigen Hilfe der Evangelischen Gesellschaft eine
        Literarschule gegründet, eine Schule mit dem Fokus auf alten Sprachen
        und theologischen Inhalten. Ein Jahr später folgte eine zusätzliche
        Seminarabteilung zur Ausbildung von Lehrern und daher wurde erneut ein
        Umzug nötig, dieses Mal nach Diessbach bei Büren. Die Errichtung des
        Schulbetriebes erfolgte nur einige Jahre nach der Gründung des
        Bundesstaates Schweiz (1848) und hängt mit den politisch liberalen
        Bestrebungen zusammen. Der Bereich Bildung entkoppelte sich immer mehr
        von der Kirche und der christlichen Religion, dies wurde als liberale
        Entwicklung gesehen und politisch umgesetzt, so dass liberale Seminare
        gegründet wurden. Das Evangelische Lehrerseminar
        <i>Pension der Herren von Lerber und Gerber</i> in Bern, wie die
        Ausbildungsstätte nun genannt wurde, sah sich mit dem pietistischen
        Schuleiter und Griechischlehrer Theodor von Lerber (1823-1901) und
        Pfarrer Gerber als Direktor als eine Art Gegengewicht zu den als liberal
        geltenden Seminaren. Die Schule suchte sich wenig später, da die
        Unterkunft zunehmend zu klein wurde, neue Unterrichtsräume. So wurde
        1855 in der Junkerngasse die Pforte des Evangelischen Seminars
        Muristalden geöffnet. Gestartet wurde mit acht Seminaristen, die im
        Internat wohnten und zwölf externen Schülern der Literarschule, die sich
        auf das Theologiestudium vorbereiteten. Nur einige erfolgreiche Jahre
        später wurde der Bau des Seminars auf dem Muristalden, wo sich die
        Institution noch heute befindet, begonnen. Im Jahr 1867 gab es bereits
        drei Seminarklassen mit etwa sechzig Schülern. <br />
        Die Gründungsgeschichte des Campus Muristalden widerspiegelt somit einen
        Teil der Geschichte Berns. Die Schule mit ihrer nach christlich
        religiösen Werten ausgelegten Bildung wurde herausgefordert im
        liberal-politisch erstarkten Bern. Sie stellte einerseits eine Art
        Gegenbewegung dar, anderseits bot sie eine Gelegenheit auf die
        Bildungschancenungleichheit zu reagieren und somit eine mögliche Antwort
        auf eine soziale Frage dieser Zeit zu geben.
      </p>

      <img
        class="bild"
        src="../../../assets/images/bern-muristalden/bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Der Campus Muristalden, Volksschule und Gymnasium. (Bild: Meriel
        Lannutti)
      </p>
      <h2>Im letzten Jahrhundert</h2>

      <p>
        Der zunehmende Säkularisierungsprozess der Gesellschaft im letzten
        Jahrhundert verschob das Religiöse immer mehr ins Private, dadurch wurde
        auch an den Grundpfeilern des Evangelischen Seminars gerüttelt. Die
        Frage drängte sich auf, welche Relevanz das ‹Evangelisch› im Namen der
        pädagogischen Lehr- und Lernwerkstätte in diesem veränderten Zeitalter
        hatte und wie sich die Umstände auf das Leitbild der Institution
        auswirken sollten. In einem Text der Jubiläumsschrift
        <i>150 Jahre Muristalden</i> wurde darauf verwiesen, dass der Auftrag
        der Schule sich im Bereich Religion zunehmend erweitert hat und keine
        Reduktion derselben stattfand. Die Erweiterung zeichne sich in der
        Veränderung ab: Es sei nicht mehr Religion zu lehren, sondern die
        Kenntnis über die eigene Religion und über andere Religionen sei zu
        vermitteln (Jubiläumsausgabe 2004). Die Bildung des Campus Muristalden
        beruht durchgehend auf einem Verständnis der eigenen Kultur und
        Tradition, dass daraus eine eigenständige Fähigkeit zur Kritik und
        Reflexion resultieren soll. Dies prägt das pädagogische Profil bis in
        die Gegenwart, erkennbar seit der Gründung, in der Entwicklung vom
        Evangelischen Seminar und der Volkschule zu einem Gymnasium mit
        musisch-gestalterisch-pädagogischem Schwerpunkt. <br />
        Eine tiefgreifende Wandlung erlebte der Campus Muristalden auch
        innerhalb der letzten 50 Jahren: Eine grössere Heterogenität wurde
        angestrebt. Die erste Frau wurde in den 70-er Jahren des letzten
        Jahrhunderts zum Seminar zugelassen und in den 90-er wurde der Begriff
        des Evangelischen aus dem Institutionsnamen gestrichen, die christliche
        Wertehaltung aber in ihren Statuten beibehalten. In den Nullerjahren
        wurde dann der seminaristischen Ausbildung nach einer fast 150-jährigen
        Ausbildungstradition ein Ende gesetzt. Um die gleiche Zeit wurde das
        neue Gebäude, der Trigon, eröffnet, welcher Räumlichkeiten für diverse
        an der Schule angegliederte, aber auch davon unabhängige Angebote
        bereitstellt. Der Rückblick zeigt, dass die Schule es immer wieder
        schaffte, sich den Anforderungen der Zeit anzupassen. Dass die
        Auseinandersetzungen mit dem jeweiligen Zeitgeist fruchtbar sind, davon
        zeugt das fast 170-jährige Bestehen. Es ist gelungen Veränderungen und
        Erneuerungen zuzulassen und dennoch die Verbundenheit zur
        Gründungsintention aufrechtzuerhalten. «Wenn mit dem Neuen nicht einfach
        das Alte weggewischt wird», dann kann das Selbstverständnis bestärkt und
        gefestigt werden (Jubiläumsausgabe 2004, 14).
      </p>

      <h2>Im Heute angekommen</h2>
      <p>
        «Glauben ist für mich ein Thema, wenn das nicht so wäre, wäre ich nicht
        am Campus Muristalden», sagt Ursula Käser, die seit 2018 als erste Frau
        das Amt der Direktorin der Bildungsinstitution inne hat. «Mit den
        evangelischen Wurzeln verbinde den Muristalden heute nicht mehr eine
        christliche Praxis im Alltag, sondern die pädagogische Haltung, die den
        Menschen ins Zentrum stellt» (ebenfalls Käser). <br />
        Die Schüler:innenschaft auf allen Bildungsstufen und -angeboten des
        Campus Muristalden deckt ein breites Spektrum ab und widerspiegelt die
        Diversität der aktuellen Gesellschaft. Auf diese Diversität und die
        verschiedenen Menschen- wie Lerngeschichten versucht der Campus
        Muristalden Angebote zu schaffen. Dies wiederum erinnert an Pfarrer
        Gerbers Engagement, der zur damaligen Zeit vor Augen führte, dass nicht
        alle die gleichen Voraussetzungen mitbrachten und verschieden gefördert
        werden sollten und dass dies unterschiedliche Angebote brauchte. <br />
        Ein erweitertes Angebot am Campus ist die Kirchlich-Theologische Schule
        (KTS). Es ist ein Konzept für Menschen, die auf dem zweiten Bildungsweg
        Theologie studieren möchten. Ihnen wird ermöglicht, innerhalb von zwei
        Jahren die notwendige Maturität zu erwerben und so für den universitären
        Lernbetrieb gut vorbereitet zu sein. Durch dieses Angebot verweist der
        Campus Muristalden, auch wenn in den letzten Jahrzehnten die Loslösung
        vom Prädikat ‹evangelisch› stattgefunden hat, auf seine Wurzeln. Mit der
        Kirchlich-Theologischen Schule wird der heutige Campus zu einem ganz
        konkreten theologisch bedeutsamen Ort, an dem Menschen ihren neuen
        Bildungsweg beginnen und diesen gleichzeitig auf alten Pfaden begehen.
      </p>
      <img
        class="bild"
        src="../../../assets/images/bern-muristalden/bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Eingangsschild, Campus Muristalden, Volksschule und Gymnasium. (Bild:
        Meriel Lannutti)
      </p>

      <p class="autor">
        Meriel Lannutti ist Bachelorstudentin an der Theologischen Fakultät der
        Universität Bern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>Campus Muristalden Magazin (erscheint einmal jährlich)</li>
          <li>
            Campus Muristalden AG (Hg.): Campus Muristalden. Jubiläum 1854–2004,
            Bern 2004.
          </li>
          <li>
            Evangelisches Seminar Muristalden (Hg.): Jubiläumsschrift 1979, Bern
            1979.
          </li>
          <li>
            Evangelisches Seminar Muristalden (Hg.): Jubiläumsschrift 1854–1954,
            Bern 1954.
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
