<head>
    <script src="https://kit.fontawesome.com/2ef642611a.js" crossorigin="anonymous"></script>
</head>
<footer>
    <div class="footer-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perferendis praesentium, vitae earum dolorem
        </p>
        <!-- <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-uni"></i></a></li>
        </ul> -->
    </div>
    <div class="footer-bottom">
        <p>Für die Inhalte ist theos verantwortlich</p>
    </div>
</footer>