* {
  box-sizing: border-box;
}

.textWrapper {
  color: white;
}
.container {
  width: 453.25px;
  height: 490px;
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 0;
}

.location {
  margin-top: 10px;
  margin: 0;
  grid-row: 2/3;
}
#fifth {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/waterfall.jpg");
  background-size: cover;
  background-position: center center;
  padding: 15px 35px;
}
#fourth {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/mounten.png");
  background-size: cover;
  background-position: center center;
  padding: 15px 35px;
}
#third {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/stone.jpg");
  background-size: cover;
  background-position: center center;
  padding: 15px 35px;
}

#second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/leafs.jpg");
  background-size: cover;
  background-position: center center;
  padding: 15px 35px;
}

#first {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/first.jpg");
  background-size: cover;
  background-position: center center;
  padding: 15px 35px;
}
.title {
  margin: 0;
  grid-row: 3/4;
}

.date {
  margin: 0;
  grid-row: 4/5;
}

.button {
  margin: 0;
  grid-row: 5/6;
  margin-bottom: 50px;
}

.title h2 {
  font-family: "Playfair Display";
  font-size: 36px;
}

.location h4 {
  font-family: "Montserrat";
  text-transform: uppercase;
}

.date h4 {
  font-family: "Montserrat";
}
