<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="container" id="first">
            <div class="textWrapper">
                <div class="location">
                    <h4 class="location">bern</h4>
                </div>
                <div class="title">
                    <h2 class="title">Lorem Ipsum what</h2>
                </div>
                <div class="date">
                    <h4 class="date">May 10. 2021</h4>
                </div>
                <div class="button">
                    <button mat-stroked-button>READ MORE</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="container" id="second">
            <div class="textWrapper">
                <div class="location">
                    <h4 class="location">bern</h4>
                </div>
                <div class="title">
                    <h2 class="title">Lorem Ipsum what</h2>
                </div>
                <div class="date">
                    <h4 class="date">May 10. 2021</h4>
                </div>
                <div class="button">
                    <button mat-stroked-button>READ MORE</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="container" id="third">
            <div class="textWrapper">
                <div class="location">
                    <h4 class="location">bern</h4>
                </div>
                <div class="title">
                    <h2 class="title">Lorem Ipsum what</h2>
                </div>
                <div class="date">
                    <h4 class="date">May 10. 2021</h4>
                </div>
                <div class="button">
                    <button mat-stroked-button>READ MORE</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="container" id="fourth">
            <div class="textWrapper">
                <div class="location">
                    <h4 class="location">bern</h4>
                </div>
                <div class="title">
                    <h2 class="title">Lorem Ipsum what</h2>
                </div>
                <div class="date">
                    <h4 class="date">May 10. 2021</h4>
                </div>
                <div class="button">
                    <button mat-stroked-button>READ MORE</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="container" id="fifth">
            <div class="textWrapper">
                <div class="location">
                    <h4 class="location">bern</h4>
                </div>
                <div class="title">
                    <h2 class="title">Lorem Ipsum what</h2>
                </div>
                <div class="date">
                    <h4 class="date">May 10. 2021</h4>
                </div>
                <div class="button">
                    <button mat-stroked-button>READ MORE</button>
                </div>
            </div>
        </div>
    </ng-template>
</owl-carousel-o>