<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'casaccia-kirche/bild0_.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Viele Wege führen bekanntlich nach Rom. Zur Zeit der römischen Kaiser
        ist das wörtlich gemeint. Alle Wege liegen dabei an wichtigen
        geografischen Orten. Unter Kaiser Augustus (63 v. Chr.–14 n. Chr.)
        werden etwa 15 v. Chr. alle Alpenvölker unterworfen und die
        Infrastruktur Richtung Norden ausgebaut. Seitdem rollen Blechlawinen
        über die Alpen – von Legionärs- zum Strassenschild. Um nach Chur und ins
        Rheintal zu gelangen, bauen die Römer mehrere Heeresstrassen. Eine Route
        führt von Como nach Chiavenna durch das heutige Bergell (ursprünglich
        ‹Praegallia›, also ‹Vor-Gallien›) und über den Septimerpass, der heute
        mehr ein Wanderweg ist. Am Fusse dieses Passes, in Casaccia, nimmt
        unsere Legende des kopflosen Wanderers ihr tragisches Ende.
      </p>

      <h2>Der Beginn</h2>

      <p>
        Ihr Anfang liegt etwa im Jahr 348, als ein gewisser Gaudentius als Kind
        heidnischer Eltern in Oberitalien geboren und erzogen wird. Irgendwann
        kommt dieser nach Vercelli, östlich von Mailand, und wird dort im
        christlichen Glauben unterrichtet – dies wohl unter dem Einfluss des
        Bischofs Eusebius (283–371), der Gaudentius später selbst zum Bischof
        weiht. Als solcher amtet Gaudentius dann auch in der Gegend. <br />
        Gaudentius scheint ein hervorragender Prediger zu sein, denn er kann
        viele Heiden für den christlichen Glauben gewinnen und ‹Häretiker›
        überzeugen. Wie Eusebius vor ihm, ist auch Gaudentius ein Gegner einer
        zu seiner Zeit in Norditalien vorherrschenden christlichen Lehre, mit
        anderen theologischen Ansichten, was Gaudentius bald zum Verhängnis
        wird. So ist anzunehmen, dass seine Überzeugung, kombiniert mit seinen
        ausgeprägten Prediger-Fähigkeiten, ihn zum Ziel jener Anhängerschaft
        macht, denn er muss schliesslich fliehen und gelangt dadurch ins
        entfernte Bergell.
      </p>

      <h2>Das Wirken</h2>
      <p>
        Im Bergell findet er sich in einem Gebiet wieder, in dem lange noch
        rätische Gottheiten verehrt werden und diese auch mit römischen
        vermischt sind. Vermutlich kommen ortsansässige Familien durch ihre in
        den Militärdienst eingezogenen Familienmitglieder bereits vor Gaudentius
        in Berührung mit dem Christentum. Hier beweist Gaudentius wiederum seine
        Fähigkeiten zu predigen und bringt viele zum Glauben der katholischen
        Kirche. Sein Eifer ruft aber auch an diesem Zufluchtsort im Bergell eine
        ihm altbekannte Dynamik hervor; denn als er wohl zu unverfroren die
        hiesige Oberschicht wegen ihrer Verfehlungen tadelt, bewirken diese beim
        römischen Stadthalter dessen Verurteilung, unter dem Vorwand, Gaudentius
        habe sich gegen die Staatsgewalt verschworen. Dies bedeutet in seinem
        Fall: Tod durch die Axt. <br />
        Gaudentius lässt das Urteil ‹fromm und schweigend› über sich ergehen und
        wird zu einer Tanne zwischen Vicosoprano und Casaccia geführt. Dort
        erleidet er schliesslich den Märtyrertod. Gaudentius hebt daraufhin sein
        Haupt auf und trägt es bis nach Casaccia, wo er dann begraben wird – so
        heisst es der Legende nach.
      </p>

      <h2>Der Aufschwung</h2>

      <p>
        Dieses Ereignis, samt nachfolgend auftretender Erscheinungen des
        Enthaupteten, veranlasst die Gläubigen vor Ort dazu, an jener Stelle, an
        der Gaudentius sein Haupt bei Casaccia niederlegte, eine ihm geweihte
        Kirche zu erbauen, worin dessen Gebeine aufbewahrt werden. Ebenfalls ist
        von einer Gedenkkapelle die Rede, die unter jener Tanne, bei der das
        Urteil vollstreckt wurde, gestanden haben soll. <br />
        Die Kirche wird 831 ein erstes Mal urkundlich erwähnt. Die Kapelle
        präsentiert sich hingegen als schwierig zu belegen und daher noch
        schwieriger zu lokalisieren – 1860 sollen oberhalb von Vicosoprano noch
        wenige Gemäuerreste sichtbar gewesen sein. Dem entgegen positioniert
        sich die Legende, Gaudentius habe seinen Kopf ein «Stadium», also etwa
        180 Meter weit getragen, wodurch man, ausgehend vom Standort der ersten
        Gaudentius-Kirche in Casaccia, kurz vor dem heutigen Dorf zu stehen
        käme. Hinzu kommt die Aussage einer lokalen Person, der zufolge sich die
        Enthauptung gemäss der mündlichen Volksüberlieferung in Pranzaira, das
        zwischen Vicosoprano und Casaccia liegt, vollzogen haben soll. <br />
        Der Region geht es in den ersten Jahrhunderten wirtschaftlich
        ausgezeichnet, so ist die Frequenz an Durchreisenden und Händlern, die
        über den Septimerpass nach Italien wollen, hoch. Um das Jahr 1116 wird
        bei der Kirche ein Hospiz gegründet. Der Ort wird zunehmend zu einem
        beliebten Wallfahrtsort. Dies führt dazu, dass die bestehende Kirche
        nicht mehr alle Wallfahrenden aufnehmen kann. 1359 entsteht daher eine
        zweite, grössere Kirche – es bleibt unklar, ob eine neue Kirche
        errichtet oder die bestehende lediglich erweitert wird. Dieser zweite
        Bau ist aber nur von kurzem Bestehen, denn bereits 1514 wird mit einem
        dritten Bau begonnen. Zuvor hat eine Schlammlawine das Hospiz
        verschüttet und die Kirche in unbekanntem Ausmasse tangiert, weshalb
        Kirche samt Hospiz und Reliquien des Gaudentius auf eine erhöhte Ebene,
        oberhalb von Casaccia, verlegt werden. Der Bau der dritten Kirche endet
        1518. An ihrem neuen, exponierten Standort erleben die Kirche und das
        Hospiz ihren finalen Aufschwung an Ansehen und Reichtum. Im Zuge dieser
        neu gewonnenen Aufmerksamkeit im Bistum wird der heilige Gaudentius zum
        Schutzpatron des Gotteshausbundes, also dem Vorgänger des heutigen
        Kantons Graubünden. Die leiblichen Überreste Gaudentius’ erhalten einen
        exponierten Platz im Chorraum – auf 2.80 m Höhe findet er in einer
        Grabnische hinter Eisenstangen seine letzte Ruhe. Die Ruhe währt jedoch
        nicht lange.
      </p>

      <img
        class="bild"
        src="../../../assets/images/casaccia-kirche/bild1_.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Rekonstruktion der Kirche und des Hospizes von 1518 (vgl. Dalbert, 1950;
        Giovanoli, 2019). Blick Richtung Südosten. (Bild und Rekonstruktion:
        Lukas Wüst, 2024)
      </p>

      <h2>Der Niedergang</h2>

      <p>
        Mit dem Einzug des Protestantismus um 1529 nehmen als erstes die
        Ortschaften in Ob-Porta (oberer Teil des Bergells) die neue Lehre an.
        Bereits 1533 streiten sich Ob- und Unter-Porta hinsichtlich der
        Verwaltung der Güter zweier Gotteshäuser, darunter der
        Gaudentius-Kirche. Dabei hält ein Schiedsspruch fest, dass, wenn der
        Entscheid des Gotteshausbundes diesbezüglich nicht akzeptiert wird, alle
        Güter der Kirche veräussert werden müssen. Das zeigt auf, wie schnell
        sich die neue Lehre im Bergell verbreitet und sich die Säkularisierung
        bemerkbar macht. Vorerst bleibt die Gaudentius-Kirche aber unbehelligt
        und als einziges ein gemeinsam genutztes Gotteshaus für das bereits
        reformierte Ob-Porta und das weiterhin römisch-katholische Unter-Porta.
        <br />
        Im Jahr 1550 wird der zum Protestantismus übergetretene und
        exkommunizierte Bischof von Istrien, Pietro Paolo Vergerio (1498–1565),
        von Ob-Porta als Prediger berufen. So predigt Vergerio unter anderem
        auch in Casaccia gegen Papsttum und Messe. Diese Predigt verfehlt sein
        Ziel nicht, denn daraus folgt, dass am Vorabend zum (damaligen) Feiertag
        des heiligen Gaudentius am 07.5.1552 (zugleich Christi Himmelfahrt)
        einige Männer gewaltsam durch die Fenster der Kirche eindringen, sich am
        Inventar zu schaffen machen und die Reliquien des Gaudentius stehlen.
        Die entwendeten Objekte werden entweder in den nahegelegenen Fluss
        geworfen oder verkauft. Nach dieser Entweihung, dem so genannten
        Bildersturm, geht auch Unter-Porta zum Protestantismus über und bis 1556
        werden alle Kirchengüter unter den Gemeinden des Bergells per Los
        aufgeteilt. Davon sind auch das Hospiz und dessen Besitztümer betroffen
        – die Kirche verliert ihre Bedeutung, das Hospiz stellt seine
        Tätigkeiten ein und Wallfahrten bleiben aus. Nur Casaccia nutzt die
        Kirche fortan noch gelegentlich für Begräbnisse. Die letzte Beisetzung
        findet 1732 statt. Ab jetzt werden Kirche und Hospiz gänzlich sich
        selbst überlassen, was zu einem raschen Zerfall führt.
      </p>

      <img
        class="bild"
        src="../../../assets/images/casaccia-kirche/bild2_.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Innenraum der Kirche (links), Blick Richtung Westen, und ehemalige
        Grabnische des heiligen Gaudentius im Chorraum (rechts), Blick Richtung
        Nordosten. (Bilder: Lukas Wüst, 2024)
      </p>

      <h2>Was bleibt</h2>

      <p>
        Begibt man sich heute vom Engadin her ins Bergell, kommt man in den
        Genuss der Serpentinen des Malojapasses. Kurz darauf baut sich einem am
        Rande des Blickfelds ein imposantes Mauerwerk auf – aber nur ein Moment
        der Unaufmerksamkeit und es zieht unbemerkt vorüber. Nimmt man sich die
        Zeit und betritt die Mauern der Gaudentius-Kirche, stellt man fest, dass
        die Kirche das gleiche Schicksal ereilt hat, wie ihr Namensgeber – auch
        sie steht da, ohne Haupt. Das Dach ist schon vor langer Zeit
        eingebrochen und den Innenraum hat sich die Natur zu eigen gemacht. Ins
        Auge sticht am anderen Ende des einst sakralen Raumes eine leere Nische
        an der Chorwand. Bereits 1643 wird die Kirche durch den Kapuziner
        Francesco Maria da Vigevano (1605–1692), im Auftrag des Bischofs von
        Chur, inspiziert. In einem Schreiben an den Bischof hält der Kapuziner
        fest, dass die Grabnische «nicht so groß ist, daß es für einen
        vollständigen Mann genügt hätte […], denn es ist nicht länger als die
        Höhe von meiner Schulter bis zur Erde […]» – hinsichtlich dessen, dass
        der Heilige geköpft wurde, scheint diese Beschreibung allerdings
        ungewollt präzise geraten. <br />
        Die Grundrisse vor der Kirche zeigen ein überdachtes Portal, ein
        Beinhaus, ein Wohnhaus der Mönche und das Hospiz mit
        Wirtschaftsgebäuden. Das einst vielbesuchte Hospiz ist kaum mehr als
        ehemaliges Haus zu erkennen, nur noch wenige Maurerreste erinnern daran,
        dass hier gelebt und verweilt wurde. <br />
        Im Jahre 1923 schliesst Fritz Jecklin (1863–1927) einen Bericht zur St.
        Gaudentiuskirche mit der Hoffnung: «Möge in nicht allzu ferner Zeit
        pietätvoller Sinn […] das ehrwürdige Erbe der Väter durch sachgemäße
        Konservierung vor dem gänzlichen Zerfalle bewahren!» Nur zwei Jahre
        später, im Jahre 1925, werden auf Initiative des Bergeller Künstlers
        Giovanni Giacometti (1868–1933) erste Stabilisierungsarbeiten
        vorgenommen. Weitere Konservierungs- und Restaurierungsarbeiten beginnen
        2009 und dauern bis 2022.
      </p>

      <img
        class="bild"
        src="../../../assets/images/casaccia-kirche/bild3_.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Blick auf Gaudentius-Kirche und Überreste des Hospizes samt weiteren
        Gebäuden (links), zweite eigene Rekonstruktion (vergleiche Dalbert,
        1950; Giovanoli, 2019) der Anlage von 1518 (rechts), Blick Richtung
        Südosten. (Bilder und Rekonstruktion: Lukas Wüst, 2024)
      </p>

      <p class="autor">
        Lukas Wüst ist Marketingverantwortlicher bei der Katholischen
        Kirchgemeinde Wil, Inhaber des Studios «wüst konzept & design» und
        Bachelorstudent an der Theologischen Hochschule Chur.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Jecklin, Fritz: «Geschichte der St. Gaudentiuskirche bei Casaccia.»,
            in: Pieth, Friedrich (Hg.): Bündnerisches Monatsblatt : Zeitschrift
            für bündnerische Geschichte, Landes- und Volkskunde (Nr. 1), Chur
            1923, 1–17.
          </li>
          <li>
            Jecklin, Fritz: «Geschichte der St. Gaudentiuskirche bei Casaccia.
            [Fortsetzung und Schluss]», in: Pieth, Friedrich (Hg.):
            Bündnerisches Monatsblatt : Zeitschrift für bündnerische Geschichte,
            Landes- und Volkskunde (Nr. 2), Chur 1923, 44–61.
          </li>
          <li>
            Giovanoli, Diego: «Früh dem Verfall überlassen: Die Wallfahrtsstätte
            San Gaudenzio bei Casaccia», in: Verein für Bündner Kulturforschung
            (Hgg.): Bündner Monatsblatt : Zeitschrift für Bündner Geschichte,
            Landeskunde und Baukultur (Nr. 2), Chur 2019, 131–161.
          </li>
          <li>
            Lechner, Ernst: Das Thal Bergell (Bregaglia) in Graubünden, mit
            Chiavenna. Natur, Sagen, Geschichte, Volk, Sprache etc. nebst
            Wanderungen, Leipzig 1874.
          </li>
          <li>
            Nüscheler, Arnold: Die Gotteshäuser der Schweiz.
            Historisch-antiquarische Forschungen, Zürich 1864.
          </li>
          <li>
            Dalbert, Peter: «Das ursprüngliche Hospiz der San Gaudentiuskirche
            zu Casaccia», in: Verein für Bündner Kulturforschung (Hgg.): Bündner
            Monatsblatt : Zeitschrift für bündnerische Geschichte, Landes- und
            Volkskunde (Nr. 7), Chur 1933, 206–210.
          </li>
          <li>
            Dalbert, Peter: « Contributo alla storia della chiesa di S.
            Gaudenzio a Casaccia », in: Pro Grigioni Italiano (Hgg.): Quaderni
            grigionitaliani (Bd. 20, Nr. 1), Poschiavo 1950, 41–51.
          </li>
          <li>
            Poeschel, Erwin: «Die Täler am Vorderrhein, II. Teil Schams,
            Rheinwald, Avers, Münstertal, Bergell»: Gesellschaft für
            Schweizerische Kunstgeschichte (Hg.): Die Kunstdenkmäler der Schweiz
            (Bd. 14), Basel 1943.
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
