<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'niederamt-sakrallandschaft/bild0.jpg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Verkehr, Industrie, AKW. Aber auch: Bewaldete Hügelzüge, Ackerflächen,
        Aare. Diese Assoziationen verbinden Durchreisende, die im Zug oder im
        Auto auf der Hauptstrasse Nummer 5 zwischen Olten und Aarau unterwegs
        sind, vielleicht mit dem südlichen Niederamt. Lange Zeit stark
        landwirtschaftlich geprägt, hatte sich das Gebiet im 19. und 20.
        Jahrhundert zu einem europaweit bedeutenden Standort der Schuhindustrie
        entwickelt (u.a. Bally in Schönenwerd, Strub, Glutz & Co. in Olten, Hug
        & Co. in Dulliken). In den Trente Glorieuses nach dem Zweiten Weltkrieg
        erlebte die Region dann einen «gewaltigen Aufbruch nach ‹vorn›», wie der
        Gemeindeammann von Däniken 1974 schrieb: Allein in dieser Gemeinde
        wurden mit dem Schnellgutbahnhof, dem Postverteilzentrum (1977) und dem
        Kernkraftwerk Gösgen (1979) innert kurzer Zeit mehrere grosse
        Infrastrukturprojekte realisiert. Heute ist der AKW-Kühlturm weit herum
        sichtbarer Blickfang und eigentliche «Landmarke des solothurnischen
        Niederamts» (Fabian Furter und Patrick Schoeck-Ritschard). An dieser
        Stelle interessiert freilich weniger die wirtschaftliche Entwicklung als
        vielmehr die Religion(en) und deren Sichtbarkeit im öffentlichen Raum.
      </p>

      <h2>Abseits der Dorfzentren und Verkehrsachsen</h2>
      <p>
        In den drei Gemeinden Däniken, Gretzenbach und Schönenwerd, auf denen im
        Folgenden der Fokus liegt, gibt es je einen (Kirch-) ‹Bühl›, einen
        Hügel, auf dem prominent eine Kirche steht: In Schönenwerd ist dies die
        – seit 1874 christkatholische –
        <a
          target="_blank"
          href="https://www.theos.unibe.ch/stiftskirche-st.-leodegar"
          >Stiftskirche St. Leodegar</a
        >
        (ab dem 11. Jahrhundert; ältester erhaltener Sakralbau im Kanton
        Solothurn), in Gretzenbach die römisch-katholische Kirche St. Peter und
        Paul (1660er Jahre, 1884 erweitert), in Däniken die
        evangelisch-reformierte Kirche (1949). Symbolisch erhöht, zugleich aber
        auch eigentümlich entrückt, liegen diese Sakralbauten der drei
        wichtigsten christlichen Konfessionen heute etwas abseits der
        Dorfzentren und Hauptverkehrsachsen. Die Gründe für diese besondere
        Konstellation sind in der Kirchen-, aber auch in der
        Wirtschaftsgeschichte zu suchen, die im Niederamt in besonderem Masse
        miteinander verflochten sind. So etwa manifestierte sich der
        Kulturkampf, aus dem in den 1870er Jahren die christkatholische Kirche
        hervorging – nicht zuletzt mit tatkräftiger Unterstützung des
        Schuhfabrikanten Carl Franz Bally (1821–1899) –, hier besonders
        deutlich.
      </p>

      <h2>Verblasste Moderne</h2>
      <p>
        Die Modernisierungsbestrebungen des römischen Katholizismus, die im 20.
        Jahrhundert in den Bereichen Liturgie und Kirchenarchitektur einsetzten,
        zeigen sich an zwei weiteren, römisch-katholischen Kirchenbauten: Mariä
        Himmelfahrt in Schönenwerd (1937–1938), eine Basilika mit wuchtigen
        Chorflankentürmen des Architekten Fritz Metzger (1898–1973) – eines
        wichtigen Vertreters der schweizerischen katholischen Kirchenarchitektur
        im 20. Jahrhundert –, und St. Josef in Däniken (1962–1964), eine vor
        allem im Innern stimmig gestaltete Kirche von Hanns A. Brütsch
        (1916–1997) – eines Erneuerers des modernen Kirchenbaus –, die
        Sichtbeton und verputzte Flächen miteinander kombiniert. Heute scheint
        die einstige Modernität dieser beiden Gotteshäuser zumindest von aussen
        etwas verblasst.
      </p>

      <img
        class="bild"
        src="../../../assets/images/niederamt-sakrallandschaft/bild1.jpg"
        alt=""
      />
      <p class="bildunterschrift">
        St. Josef, Däniken. Innenraum (Bild: David Zimmer)
      </p>

      <img
        class="bild"
        src="../../../assets/images/niederamt-sakrallandschaft/bild2.jpg"
        alt=""
      />
      <p class="bildunterschrift">
        Buddhistisches Zentrum Wat Srinagarinvararam, Gretzenbach. (Bild: David
        Zimmer)
      </p>

      <img
        class="bild"
        src="../../../assets/images/niederamt-sakrallandschaft/bild3.jpg"
        alt=""
      />
      <p class="bildunterschrift">
        Sikh-Tempel (Gurdwara), Däniken. (Bild: David Zimmer)
      </p>

      <img
        class="bild"
        src="../../../assets/images/niederamt-sakrallandschaft/bild4.jpg"
        alt=""
      />
      <p class="bildunterschrift">
        Sikh-Tempel (Gurdwara), Däniken (Bild: David Zimmer)
      </p>

      <p class="autor">autor</p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            textb4link (Leerzeichen am Schluss)
            <a target="_blank" href="https://websitelink">text</a>
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
