<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'niederamt-sakrallandschaft/bild0.jpg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Verkehr, Industrie, AKW. Aber auch: Bewaldete Hügelzüge, Ackerflächen,
        Aare. Diese Assoziationen verbinden Durchreisende, die im Zug oder im
        Auto auf der Hauptstrasse Nummer 5 zwischen Olten und Aarau unterwegs
        sind, vielleicht mit dem südlichen Niederamt. Lange Zeit stark
        landwirtschaftlich geprägt, hatte sich das Gebiet im 19. und 20.
        Jahrhundert zu einem europaweit bedeutenden Standort der Schuhindustrie
        entwickelt (u.a. Bally in Schönenwerd, Strub, Glutz & Co. in Olten, Hug
        & Co. in Dulliken). In den Trente Glorieuses nach dem Zweiten Weltkrieg
        erlebte die Region dann einen «gewaltigen Aufbruch nach ‹vorn›», wie der
        Gemeindeammann von Däniken 1974 schrieb: Allein in dieser Gemeinde
        wurden mit dem Schnellgutbahnhof, dem Postverteilzentrum (1977) und dem
        Kernkraftwerk Gösgen (1979) innert kurzer Zeit mehrere grosse
        Infrastrukturprojekte realisiert. Heute ist der AKW-Kühlturm weit herum
        sichtbarer Blickfang und eigentliche «Landmarke des solothurnischen
        Niederamts» (Fabian Furter und Patrick Schoeck-Ritschard). An dieser
        Stelle interessiert freilich weniger die wirtschaftliche Entwicklung als
        vielmehr die Religion(en) und deren Sichtbarkeit im öffentlichen Raum.
      </p>

      <h2>Abseits der Dorfzentren und Verkehrsachsen</h2>
      <p>
        In den drei Gemeinden Däniken, Gretzenbach und Schönenwerd, auf denen im
        Folgenden der Fokus liegt, gibt es je einen (Kirch-) ‹Bühl›, einen
        Hügel, auf dem prominent eine Kirche steht: In Schönenwerd ist dies die
        – seit 1874 christkatholische –
        <a
          target="_blank"
          href="https://www.theos.unibe.ch/stiftskirche-st.-leodegar"
          >Stiftskirche St. Leodegar</a
        >
        (ab dem 11. Jahrhundert; ältester erhaltener Sakralbau im Kanton
        Solothurn), in Gretzenbach die römisch-katholische Kirche St. Peter und
        Paul (1660er Jahre, 1884 erweitert), in Däniken die
        evangelisch-reformierte Kirche (1949). Symbolisch erhöht, zugleich aber
        auch eigentümlich entrückt, liegen diese Sakralbauten der drei
        wichtigsten christlichen Konfessionen heute etwas abseits der
        Dorfzentren und Hauptverkehrsachsen. Die Gründe für diese besondere
        Konstellation sind in der Kirchen-, aber auch in der
        Wirtschaftsgeschichte zu suchen, die im Niederamt in besonderem Masse
        miteinander verflochten sind. So etwa manifestierte sich der
        Kulturkampf, aus dem in den 1870er Jahren die christkatholische Kirche
        hervorging – nicht zuletzt mit tatkräftiger Unterstützung des
        Schuhfabrikanten Carl Franz Bally (1821–1899) –, hier besonders
        deutlich.
      </p>

      <h2>Verblasste Moderne</h2>
      <p>
        Die Modernisierungsbestrebungen des römischen Katholizismus, die im 20.
        Jahrhundert in den Bereichen Liturgie und Kirchenarchitektur einsetzten,
        zeigen sich an zwei weiteren, römisch-katholischen Kirchenbauten: Mariä
        Himmelfahrt in Schönenwerd (1937–1938), eine Basilika mit wuchtigen
        Chorflankentürmen des Architekten Fritz Metzger (1898–1973) – eines
        wichtigen Vertreters der schweizerischen katholischen Kirchenarchitektur
        im 20. Jahrhundert –, und St. Josef in Däniken (1962–1964), eine vor
        allem im Innern stimmig gestaltete Kirche von Hanns A. Brütsch
        (1916–1997) – eines Erneuerers des modernen Kirchenbaus –, die
        Sichtbeton und verputzte Flächen miteinander kombiniert. Heute scheint
        die einstige Modernität dieser beiden Gotteshäuser zumindest von aussen
        etwas verblasst.
      </p>

      <img
        class="bild"
        src="../../../assets/images/niederamt-sakrallandschaft/bild1.jpg"
        alt=""
      />
      <p class="bildunterschrift">
        St. Josef, Däniken. Innenraum (Bild: David Zimmer)
      </p>

      <h2>Exotische Goldkuppeln</h2>
      <p>
        Möglicherweise erst auf den zweiten Blick oder durch Zufall werden
        Durchreisende auf zwei Sakralgebäude nichtchristlicher
        Religionsgemeinschaften aufmerksam. Zwar sind beide mit auffälligen
        Goldkuppeln versehen, sie liegen aber etwas versteckt inmitten wenig
        ansehnlicher Gewerbebauten. Auf dem Gemeindegebiet von Däniken, nördlich
        der Bahngeleise und Hauptstrasse, befindet sich der Gurdwara (Tempel)
        der Sikh-Gemeinde Schweiz, südöstlich davon, weniger als einen Kilometer
        entfernt, das theravadisch-buddhistische Zentrum Wat Srinagarinvararam
        in Gretzenbach. Die zwei unauffällig-auffälligen Tempel muten in der
        angestammten Solothurner Sakrallandschaft zunächst reichlich exotisch
        an.
      </p>
      <img
        class="bild"
        src="../../../assets/images/niederamt-sakrallandschaft/bild2.jpg"
        alt=""
      />
      <p class="bildunterschrift">
        Buddhistisches Zentrum Wat Srinagarinvararam, Gretzenbach. (Bild: David
        Zimmer)
      </p>
      <h2>Buddhistischer Tempel…</h2>

      <p>
        Die thai-buddhistische Vereinigung Wat Thai konnte in den 1990er Jahren
        in Gretzenbach Bauland kaufen und in mehreren Etappen ein Klostergebäude
        mit Wohnräumen, einen Glockenturm, mehrere Schreine und Annexbauten,
        einen Ubosot (religiöses Hauptgebäude) und eine Convention Hall mit
        einem Fassungsvermögen von über tausend Personen errichten. Der Bau des
        buddhistischen Tempels wurde massgeblich vom thailändischen Königshaus
        finanziert, insbesondere von Prinzessinnenmutter Somdet Phra
        Srinagarindra (1900–1995), die auf den Wandmalereien im Innern des
        Ubosot denn auch abgebildet ist. Daneben erkennt man einen Alphornbläser
        in Berner Tracht und ein Kind mit Schweizerfähnchen. Der 2003
        eingeweihte Ubosot gilt als erster neu gebauter thai-buddhistischer
        Tempel in Europa.
      </p>

      <h2>… und Sikh-Tempel</h2>
      <p>
        Der Sikh-Tempel in Däniken gibt sich, was seine Dimensionen und seine
        architektonische Gestaltung angehen, deutlich bescheidener. Er weist
        aber alle für das Gemeindeleben wichtigen Merkmale eines Gurdwara auf:
        zwiebelförmige goldene Türmchen an den Ecken, Khanda-Symbole (Embleme
        des Sikhismus) an der Fassade, einen Nishan Sahib (wimpelförmige Fahne)
        an der Stange im Vorhof, einen Sakralraum mit Podest, Baldachin und
        heiligem Buch, Aufenthaltsräume, eine Küche für das Zubereiten des
        Langar (Gemeinschaftsmahl), Sanitäranlagen. Der Verein «Sikh Gemeinde
        Schweiz» wurde Anfang der 2000er Jahre gegründet und nutzte zuerst eine
        umgebaute Autowerkstatt am heutigen Standort, die nach zehn Jahren durch
        einen Neubau ersetzt wurde. An der Einweihung 2015 nahm auch der
        Solothurner Regierungsrat Remo Ankli teil.
      </p>

      <img
        class="bild"
        src="../../../assets/images/niederamt-sakrallandschaft/bild3.jpg"
        alt=""
      />
      <p class="bildunterschrift">
        Sikh-Tempel (Gurdwara), Däniken. (Bild: David Zimmer)
      </p>

      <img
        class="bild"
        src="../../../assets/images/niederamt-sakrallandschaft/bild4.jpg"
        alt=""
      />
      <p class="bildunterschrift">
        Sikh-Tempel (Gurdwara), Däniken (Bild: David Zimmer)
      </p>

      <h2>Kaum sichtbares Nebeneinander</h2>
      <p>
        Schliesslich gibt es auf dem Gebiet der drei Niederämter Gemeinden
        Däniken, Gretzenbach und Schönenwerd Versammlungsräume weiterer
        religiöser Gemeinschaften, von denen hier – ohne Anspruch auf
        Vollständigkeit – lediglich der türkisch geprägte Kulturverein Marifet,
        der muslimische Verein Wissensoase und die Freie Evangelische Gemeinde
        (FEG) Aarau genannt seien, die alle im Industriegebiet von Schönenwerd
        untergekommen sind. Sie sind, ob gewollt oder ungewollt, in der
        Öffentlichkeit kaum sichtbar.
      </p>

      <h2>Spiegel gesellschaftlicher Entwicklungen</h2>

      Gesamthaft gesehen zeichnet sich das südliche Niederamt durch eine grosse
      religiöse Pluralität aus, die nach Einschätzung der kantonalen
      Religionskoordinatorin, Julia Vitelli, «mittlerweile eine
      Selbstverständlichkeit ist». Hauptgrund dafür, dass sich hier neben den
      seit langem präsenten christlichen Konfessionen in den letzten Jahrzehnten
      auch diverse nichtchristliche Religionsgemeinschaften niedergelassen
      haben, dürfte die zentrale, verkehrsgünstige Lage sein, was sich nicht
      zuletzt daran zeigt, dass sich die Einzugsgebiete dieser Gemeinschaften
      oft weit über die Kantonsgrenzen hinaus erstrecken. Die bemerkenswert
      vielfältige Sakrallandschaft im südlichen Niederamt, wie sie sich heute
      zeigt, versinnbildlicht den Bedeutungsverlust der christlichen
      Konfessionen, die Säkularisierung und die gleichzeitige religiöse
      Pluralisierung in der Schweiz, die städtebaulich erst ansatzweise sichtbar
      sind. Das Niederamt scheint geeignet, um diese Entwicklungen exemplarisch
      mitzuverfolgen und kritisch zu reflektieren.

      <p class="autor">autor</p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            textb4link (Leerzeichen am Schluss)
            <a target="_blank" href="https://websitelink">text</a>
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
