<!-- Redundant? -->

<div class="container-title">
  <div class="cover">
    <div class="textWrapper">
      <h1>«theos bedeutet für mich...»</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <div class="person">
      <div>
        <img class="image" src="../../assets/images/adriana.jpg" alt="" />
        <p><i>Stud. theol. Adriana Basso Schaub</i></p>
        <p class="text">
          «Orte erzählen Geschichte und Geschichten. Bei theos erzählen Menschen
          eine Geschichte, die ihnen ein Ort preisgibt, und sie erzählen aus
          ihrem Blickwinkel. theos zeigt dadurch nicht nur eine Vielfalt an
          bedeutsamen Orten der Schweiz, sondern eine Vielfalt von Perspektiven.
          Das macht theos für mich aus: es ist eine sprudelnde Quelle von
          Geschichten, von kleinen und grossen Orten, die durch Menschen ihre
          Farbigkeit bekommen und die eigene Gedankenwelt anregen und bereichern
          können.»
        </p>
        <a
          href="https://www.histtheol.unibe.ch/ueber_uns/personen/basso_schaub_adriana/index_ger.html"
        >
          Adriana Basso Schaub ist Sachbearbeiterin am Institut für Historische
          Theologie.</a
        >
      </div>
    </div>
    <div class="person">
      <div>
        <img class="image" src="../../assets/images/2.jpg" alt="" />
        <p><i>Prof. Dr. Katharina Heyden</i></p>
        <p class="text">
          «Orte sind nicht von sich aus bedeutsam. Sie werden es, indem Menschen
          sich darin bewegen – physisch und gedanklich. theos schafft Raum zum
          Nachdenken: Welche Geschichten birgt ein Ort? Worauf verweist er mich?
          Was lerne ich an ihm über Gott und die Welt? In Geschichtsbüchern
          lesen wir von grossen, bedeutenden Orten: von Kathedralen, Schlössern
          oder Schlachtfeldern. theos sammelt auch die kleinen, bedeutsamen
          Orte: Kapellen, Brücken, Grabsteine und lädt ein sie zu entdecken –
          physisch und gedanklich.»
        </p>
        <a
          href="https://www.histtheol.unibe.ch/ueber_uns/personen/prof_dr_heyden_katharina/index_ger.html"
        >
          Dr. Katharina Heyden ist Professorin am Institut für Historische
          Theologie für Ältere Geschichte des Christentums und der
          interreligiösen Begegnungen.</a
        >
      </div>
    </div>

    <!-- Personeneintrag von Maria Lissek

            <div class="person">
            <div><img class="image" src="../../assets/images/maria.jpg" alt="">
                <p><i>Dr. theol. Maria Lissek</i></p>
                <p class="text">«Orte sind nicht einfach nur Orte: Sie erzählen von Menschen und Ereignissen, in ihnen
                    spiegeln sich
                    Deutungen und Ansichten wider und sie ermöglichen einen anderen Zugang zu Fragen und
                    Auseinandersetzungen in Geschichte und Gegenwart. Orte sind daher Quellen der Theologie, die mehr
                    erkennen lassen als Texte oder diese verständlicher machen. Durch theos wird die Schweiz zu einer
                    theologischen Quelle. In der Betrachtung von Orten - in ihrem Gebiet oder mit ihr verbunden - zeigt
                    sich ihre religiöse Prägung und ein Stück Schweizer Geschichte bekannter und unbekannter Menschen,
                    Ereignisse, Deutungen und Ansichten in Geschichte und Gegenwart. Ihre theologische Bedeutsamkeit
                    liegt darin, die Schweiz mit anderen Augen zu sehen und sie lädt ein zum Weiterdenken, -forschen und
                    -ergründen dessen, was nicht nur in Büchern gelesen werden kann, sondern auch konkret vor Ort
                    erfahrbar ist. Da alle Menschen, gleich welcher religiösen Prägung, sich an theos beteiligen können,
                    ist es ein kleines Wikipedia, das wie ein Boomerang die theos-Landkarte erweitert. Das macht es für
                    mich aus: theos ist von Menschen für Menschen, die uns zeigen, welche theologische Bedeutung gewisse
                    Orte (für sie) haben.»</p>
                <a href="https://www.histtheol.unibe.ch/ueber_uns/personen/dr_des_lissek_maria/index_ger.html"> Dr.
                    Maria Lissek ist Postdoktorandin am Institut für Historische Theologie.</a>
            </div>
        </div>
    -->

    <div class="person">
      <div>
        <img class="image" src="../../assets/images/sina.jpg" alt="" />
        <p><i>Sina von Aesch</i></p>
        <p class="text">
          «Eine Landkarte mit roten Stecknadeln zu markieren, ist reizvoll:
          Orte, die besucht wurden, verbinden sich mit Erinnerungen. Orte, die
          noch besucht werden, laden ein, Fragen zu stellen und Geschichte(n) zu
          entdecken. theos bedeutet für mich, Geschichte und Theologie konkret
          zusammen zu denken und zu erleben, dass sich Orte in neuer Sichtweise
          zeigen: Wem hatte dieser Ort aus welchen Gründen etwas bedeutet? Wie
          sehen andere Menschen Orte, die ich zu kennen meinte? Wenn ich mich –
          wandernd oder in Gedanken – zu unbekannten Orten bewege, schärft sich
          meine Wahrnehmung. Das macht für mich die Faszination von theos aus:
          Dass ich leise Geschichten dank anderen erstmals oder lauter höre und
          dass ich die Schweiz entlang den roten Stecknadeln bereisen kann,
          stets mit Augenmerk auf noch unerzählte Geschichten.»
        </p>
        <a
          href="https://www.histtheol.unibe.ch/ueber_uns/personen/von_aesch_sina/index_ger.html"
        >
          Sina von Aesch ist Doktorandin und Assistentin am Institut für
          Historische Theologie.</a
        >
      </div>
    </div>

    <div class="person">
      <div>
        <img class="image" src="../../assets/images/martin.jpg" alt="" />
        <p><i>Prof. Dr. Martin Sallmann</i></p>
        <p class="text">
          «Steine, Mauern, Gebäude, die Räume umschliessen – sie zeugen von
          Menschenhand und menschlichem Geist. Orte verweisen nicht nur auf
          Menschen, sondern sind mit ihnen verbunden, oft unsichtbar und
          unausgesprochen, manchmal über Gegenstände, manchmal über Bilder,
          manchmal über Texte sind sie verwoben mit menschlichem Sein, mit
          Handwerk, mit Kunst, mit Geschichten – und damit auch mit unserem
          Dasein. Theos nimmt diese Vielfalt von Orten und ihren Zusammenhängen
          auf und macht sie auf kreative Weise zugänglich.»
        </p>
        <a
          href="https://www.histtheol.unibe.ch/ueber_uns/personen/prof_dr_sallmann_martin/index_ger.html"
        >
          Dr. Martin Sallmann ist Professor am Institut für Historische
          Theologie für Neuere Geschichte des Christentums und Konfessionskunde.
        </a>
      </div>
    </div>
  </div>
</div>
