@import "~@angular/material/theming";
@import "./edp-palettes";

@include mat-core();

$standard-font: mat-typography-config(
  $font-family: "Roboto, sans-serif",
);

$edp-theme: mat-light-theme(
  (
    color: (
      primary: $primary-palette,
    ),
  )
);

@include mat-core($standard-font);
@include angular-material-theme($edp-theme);
