<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'solothurn-soeurs-grises/bild2.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <h2>Ein guter Ruf eilt von Beaune nach Solothurn</h2>
      <br />
      <p id="firstParagraph">
        Die Geschichte der Spitalschwestern von Solothurn beginnt im
        französischen Beaune bei Nicolas Rolin (1376–1461) und Guigone de Salins
        (1403–1470). Das Ehepaar stiftete der Stadt 1443 ein Armenspital mit dem
        bezeichnenden Namen Hôtel-Dieu. In dem 1452 eingeweihten Gebäude stand
        ein grosser Saal zur Pflege und Betreuung der Kranken zur Verfügung. Für
        ihre Genesung galt auch der tägliche Gottesdienst als unerlässlich.
        Hierfür wurde in den Krankensaal ein Altar mit der Darstellung des
        Jüngsten Gerichtes von Roger van der Weyden (1400–1464) integriert. Die
        Schwestern des Hôtel-Dieu genossen ein solches Ansehen, dass nach dem
        Tod ihres Gatten selbst die Stifterin ihre prunkvollen Kleider gegen die
        schlichte graue Tracht eintauschte und ihr Leben fortan als Sœur grise
        der Pflege widmete. Aufgrund der hohen Nachfrage, die der gute Ruf mit
        sich brachte, wurden die Schwestern nach 200-jähriger lokaler Tätigkeit
        zunehmend aus Beaune entsandt, um die Führung in einem der
        neugegründeten Spitäler der Zeit Ludwigs XIV. (1638–1715) zu übernehmen.
        Auf diesem Wege kamen Vertreterinnen des Hôtel-Dieu 1667 auch in die
        freie Reichsstadt Besançon. Über das im heutigen Jura gelegene
        Porrentruy erreichten die
        <em>Filles de Notre Dame des sept douleurs</em>
        1788 schliesslich Solothurn.
      </p>

      <img
        class="bild"
        src="../../../assets/images/solothurn-soeurs-grises/bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Spitalschwestern und Novizinnen 1919 (Bild: Detail von Plakat im Alten
        Spital Solothurn: Adriana Basso Schaub)
      </p>
      <h2>
        Die Weiterentwicklung der Pflege in Solothurn nach Vorbild des
        Hôtel-Dieu
      </h2>
      <p>
        Warum Spitalschwestern aus Frankreich nach Solothurn geholt wurden,
        lässt sich am ehesten mit dem etwas anachronistischen Ausdruck
        ‹Fachkräftemangel› erklären. Während Wohlhabende sich zu Hause pflegen
        liessen, übernahmen in den Spitälern un(aus)gebildete und schlecht
        bezahlte Männer und Frauen diese Arbeit. Der Ruf ‹der Pflege› war
        miserabel. <br />
        Im Alten Spital Solothurn wurden Einheimische, Auswärtige und
        Verunfallte aufgenommen und gegen unterschiedlich hohen Pfrund betreut.
        Betagte, Waise, im damaligen Sprachgebrauch sogenannte ‹Geisteskranke›
        und ‹Schwerbehinderte› wurden durch den Brudermeister und seine Frau
        unter der Mithilfe von Mägden gepflegt. <br />
        Diesem Mangel an Pflegequalität, der sich aus der Betreuung durch die
        Laien ergab, wollte ein Beschluss des Rates von 1785 entgegentreten.
        Danach sollten in Zukunft Ordensschwestern für die Krankenpflege berufen
        werden. Zur Inspektion der Lage wurde die Oberin von Porrentruy, Sr.
        Maria Eva Ostertag (1738–1812), nach Solothurn gebeten. Sie veranlasste
        die Errichtung von zwei hohen Krankensälen zu je 20 Betten. Anders als
        noch in Beaune sollten Männer und Frauen räumlich getrennt liegen. Eine
        Kapelle für den täglichen Gottesdienst sollte die beiden Säle verbinden.
      </p>
      <img
        class="bild"
        src="../../../assets/images/solothurn-soeurs-grises/bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Alte Spitalapotheke Solothurn. Schwesterntracht bis 1953. (Bild: Adriana
        Basso-Schaub)
      </p>
      <h2>Die Ausbildung der <em>Sœurs grises</em></h2>
      <p>
        1785 begann ein erster Solothurner Ausbildungsgang für fünf fromme
        Töchter aus bürgerlichen Familien im Hôtel-Dieu von Porrentruy. Sie
        hatten sich einerseits gegen ein Leben in Ehe entschieden, andererseits
        für eines mit Bildung. Ihre Ausbildung endete nach sechsmonatiger
        Probezeit und zweijährigem Noviziat. 1788 waren die ersten
        Spitalschwestern von Solothurn bereit, ihr Ordensgelübde abzulegen.
        Darin versprachen sie den Dienst an den Armen sowie ein Leben in Armut,
        Keuschheit und Gehorsamkeit. Diese ‹Profess› musste von allen
        Solothurner Spitalschwestern bis 1933 jedes Jahr erneuert werden.
      </p>
      <h2>Das Pflegeverständnis im 18. und 19. Jahrhundert</h2>
      <p>
        Die <em>Sœurs grises</em>, wie die Spitalschwestern nach ihrer grauen
        (Beginen)Tracht genannt wurden, kümmerten sich neben der Pflege des
        Körpers auch um die des Geistes und unterwiesen die Kranken in
        Glaubensinhalten und Tugenden. Sie waren also bereits in einer Urform um
        jene Körper-Seele-Einheit bemüht, an denen sich auch Modelle der
        Moderne, wie das ‹biopsychosoziale Modell von Krankheit und Gesundheit›
        (Engels 1977) oder die ‹body-mind-unity-theory› (Egger 2005)
        abarbeiteten sollten. <br />Für den 1832 entstandenen medizinischen Kurs
        der Diakonissenanstalt von Kaiserswerth wurde ein eigenes Lehrmittel
        veröffentlicht. Es ist ein interessantes Zeitzeugnis, nicht nur für ein
        bereits beeindruckendes Wissen zur Krankenbeobachtung, sondern auch für
        ‹Berufs›bild und -ethos religiös angebundener Pflegerinnen dieser Zeit.
        So liest man dort gleich in Kapitel I: Wer «Krankenpflege als ein Werk
        der Liebe für den Herrn» auffasst, «bringt die nötigen
        Grundeigenschaften ganz von selbst mit». Die Pflegerin soll ausserdem
        folgende Fähigkeiten besitzen oder erlernen: «Aufmerksamkeit,
        Geistesgegenwart, Kaltblütigkeit und Muth, Milde im Umgang mit den
        Kranken, Heiterkeit, Verschwiegenheit, Wahrhaftigkeit – besonders
        gegenüber dem Arzt, Pünktlichkeit, Verträglichkeit.» In einer Mischung
        aus euphemistisch formulierter Aufopferungsbereitschaft und
        Notwendigkeit zur präventiven Gesundheitsfürsorge schliesst Kapitel XV:
        «Gesundheit und körperliche Tüchtigkeit gehören zu den unumgänglich
        notwendigen Erfordernissen einer guten Pflegerin. Zugleich aber ist sie
        durch ihren Beruf manchen schädlichen Einflüssen ausgesetzt, die sie
        unvermeidlich treffen und jede bedrohen können. Sie teilt hierin mit dem
        Arzt das schöne Bewusstsein, auch mit Gefahr ihres Lebens, ihre Pflicht
        üben und ihr Liebesopfer darbringen zu dürfen. Was sie jedoch zur
        Verhütung und Entfernung schädlicher Einwirkungen auf die Gesundheit und
        in ihrem Verhalten zur Bewahrung dieser letzteren tun kann und soll,
        gehört auch zu den Gegenständen ihres Wissens.»
      </p>
      <h2>Die Umsetzung im Alten Spital in Solothurn</h2>
      <p>
        Die frisch ausgebildeten Schwestern Solothurns hatten Residenzpflicht
        und hausten in den Klausurzellen im Obergeschoss des Alten Spitals. Sie
        verpflichteten sich bis 1904 der deutschen Übersetzung der Besançoner
        Satzungen des Erzbischofs von Grammont aus dem Jahre 1787. Die
        Schwestern wählten aus ihrer Gemeinschaft eine Vorsteherin auf drei bis
        sechs Jahre. Die erste ‹Mutter› hiess Sr. Maria Magdalena Graf
        (1760–1825). Sie wurde ganze neun Mal wiedergewählt und erlebte während
        ihrer Zeit den Einfall der Franzosen (1798), diverse Epidemien und die
        Teuerungskrise von 1816/17. Im 19. Jahrhundert gab es im Alten Spital
        acht Schwestern. Mehr liessen die Platzverhältnisse der Klausur nicht
        zu. Neben der Krankenpflege teilten sich die Sœurs grises die Ämter:
        Leitung und Novizinnenmeisterin, sowie die Bewirtschaftung von
        Sakristei, Apotheke, Küche, Garten und Weinkeller. In Küche, Backstube
        und Wäscherei wurden sie von extern Angestellten unterstützt. Zwischen
        1788–1930 befanden sich im Obergeschoss des Spitals ein ‹Männersaal› und
        ein ‹Weibersaal› in denen nach Beauner Vorbild je 20 zweischläfige
        Betten entlang der Wände aufgestellt waren. Bereits im ersten Jahr
        wurden hier 305 Kranke versorgt. Bei ihnen wurden Würmer, Krätze, Krebs,
        Syphilis, Karies oder Asthma diagnostiziert – am häufigsten kamen sie
        jedoch mit Magen-Darm-Krankheiten oder nach Unfällen. Es wurden
        chirurgische Eingriffe vorgenommen und Geburtshilfe angeboten. Die
        Fenster waren zu beiden Seiten des Krankensaales hoch angesetzt, um die
        bereits als wichtig erkannte Frischluftzufuhr zu gewährleisten, dabei
        jedoch den gefährlichen Durchzug zu vermeiden. Zweimal täglich wurden
        die Säle mit Wacholder ausgeräuchert, um dem Gestank der Exkremente und
        der mit Hospitalbrand infizierten Wunden Herr zu werden. <br />Die
        Behandlung und Verpflegung waren grundsätzlich kostenlos, doch konnten
        Wohlhabendere in Notzeiten zur Kasse gebeten werden. Täglich wurden die
        Kranken mit drei Mahlzeiten (10, 14 und 18 Uhr) und zusätzlich mit 1dl
        Spitalwein aus eigenem Anbau verköstigt. In Zeiten des Mangels konnten
        ausserdem in einer Art Früh(st)form der ‹SPITEX› (spitalexterne Hilfe
        und Pflege) geeigneten Kranken die Medikamente aus der berühmten
        Spitalapotheke nach Hause geliefert werden, um einen Spitaleintritt
        abzuwenden. Die Aufzeichnungen der Schwestern vom September des Jahres
        1837 zählen bei voller Bettenauslastung insgesamt 26 Eintritte, 24
        Austritte, 7 Verstorbene.
      </p>
      <h2>
        Von den <em>Sœurs grises</em> zur Ausbildung von ‹freien Schwestern›
      </h2>
      <p>
        Ab 1858 übernahmen die Sœurs grises auch auswärtige Pflegetätigkeit,
        z.B. in Pflegeheimen und Pfrundanstalten, aber auch in
        Erziehungsanstalten. 1895 wurde das ‹Heim für erholungsbedürftige
        Spitalschwestern› in Deitingen gegründet. Allein aus ihrer Berufung
        konnten die Schwestern ihre Kräfte für die anstrengende Pflegetätigkeit
        auch damals schon nicht ziehen. <br />Nach dem zweiten Weltkrieg betrieb
        Solothurn eine der ‹freien Krankenpflegeschulen› (1947), bildete also
        wie die Vorreiterinnen Zürich (1884) Baldegg (1911) neben eigenen auch
        weltliche, ‹freie Schwestern› aus. Seit 1980 verzeichnete die
        Spitalschwesterngemeinschaft Solothurns keine Neuaufnahmen mehr. Die
        verbleibenden Sœurs grises sichern den Nachlass der Gemeinschaft und
        ihrer 230-jährigen Geschichte.
      </p>
      <img
        class="bild"
        src="../../../assets/images/solothurn-soeurs-grises/bild3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Grabplatte in der Spitalkirche zum Heiligen Geist, Solothurn. (Bild:
        Ulrike Münger)
      </p>

      <p class="autor">
        Ulrike Münger ist Theologiestudentin an der Theologischen Fakultät der
        Universität Bern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier: 
        </p>
        <ul>
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{ beitrag | removeshitespaces | lowercase }}"
            >
              {{ author.location[i] }}:
              {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Medizinischer Kurs von Kaiserswerth, ca. 1842, Auszüge in: Heim, Urs
            F. A.: Leben für andere. Die Krankenpflege der Diakonissen und
            Ordensschwestern in der Schweiz, Basel 1998, 238.
          </li>
          <li>
            Heim, Urs F. A.: Leben für andere. Die Krankenpflege der Diakonissen
            und Ordensschwestern in der Schweiz, Basel 1998.
          </li>
          <li>
            Hermann, Claudia / Hirter-Trüb, Ursula / Zürcher, Christine /
            Keller, Peter: Das Alte Spital und die Spitalapotheke in Solothurn,
            Schweizerische Kunstführer, Gesellschaft für Schweizerische
            Kunstgeschichte GSK, Bern 2021.
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
