<div class="container-title">
  <div class="cover">
    <div class="textWrapper">
      <h1>«<span class="accent">theos</span> bedeutet für mich...»</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <div class="person">
      <img class="image" src="../../assets/images/adriana.jpg" alt="" />
      <div class="text">
        <p><i>Adriana Basso Schaub</i></p>
        <p>
          «Orte erzählen Geschichte und Geschichten. Bei theos machen Menschen
          eine Geschichte lebendig, die ihnen ein Ort preisgibt. Sie
          repräsentieren die Geschichte und den Ort aus ihrem Blickwinkel. theos
          zeigt dadurch nicht nur eine Vielfalt an bedeutsamen Orten der
          Schweiz, sondern eine Vielfalt von Perspektiven. Das macht theos für
          mich aus: es ist eine sprudelnde Quelle von Geschichten, von kleinen
          und grossen Orten, die durch Menschen ihre Farbigkeit bekommen und die
          eigene Gedankenwelt anregen und bereichern können.»
        </p>
        <a
          href="https://www.histtheol.unibe.ch/ueber_uns/personen/basso_schaub_adriana/index_ger.html"
          target="_blank"
        >
          Adriana Basso Schaub ist studentische Hilfsassistentin am Institut für
          Historische Theologie.</a
        >
      </div>
    </div>
    <div class="person">
      <img class="image" src="../../assets/images/2.jpg" alt="" />
      <div class="text">
        <p><i>Katharina Heyden</i></p>
        <p>
          «Orte sind nicht von sich aus bedeutsam. Sie werden es, indem Menschen
          sich darin bewegen – physisch und gedanklich. theos schafft Raum zum
          Nachdenken: Welche Geschichten birgt ein Ort? Worauf verweist er mich?
          Was lerne ich an ihm über Gott und die Welt? In Geschichtsbüchern
          lesen wir von grossen, bedeutenden Orten: von Kathedralen, Schlössern
          oder Schlachtfeldern. theos sammelt auch die kleinen, bedeutsamen
          Orte: Kapellen, Brücken, Grabsteine und lädt ein sie zu entdecken –
          physisch und gedanklich.»
        </p>
        <a
          href="https://www.histtheol.unibe.ch/ueber_uns/personen/prof_dr_heyden_katharina/index_ger.html"
          target="_blank"
        >
          Dr. Katharina Heyden ist Professorin am Institut für Historische
          Theologie für Ältere Geschichte des Christentums und der
          interreligiösen Begegnungen.</a
        >
      </div>
    </div>

    <div class="person">
      <img class="image" src="../../assets/images/maria.jpg" alt="" />
      <div class="text">
        <p><i>Maria Lissek</i></p>
        <p>
          «Orte sind nicht einfach nur Orte: Sie erzählen von Menschen und
          Ereignissen, in ihnen spiegeln sich Deutungen und Ansichten wider und
          sie ermöglichen einen anderen Zugang zu Fragen und
          Auseinandersetzungen in Geschichte und Gegenwart. Orte sind daher
          Quellen der Theologie, die mehr erkennen lassen als Texte oder diese
          verständlicher machen. Durch theos wird die Schweiz für mich zu einer
          theologischen Quelle. Dank den Beiträgen der theos-Autor_innen ist
          theos für mich ein kleines Wikipedia, das mich auf interessante Orte
          aufmerksam macht oder mir Bekanntes neu erschliesst.»
        </p>
        <a
          href="https://www.histtheol.unibe.ch/ueber_uns/personen/dr_des_lissek_maria/index_ger.html"
          target="_blank"
        >
          Dr. Maria Lissek ist Postdoktorandin am Institut für Historische
          Theologie.</a
        >
      </div>
    </div>
    <div class="person">
      <img class="image" src="../../assets/images/martin.jpg" alt="" />
      <div class="text">
        <p><i>Martin Sallmann</i></p>
        <p>
          «Steine, Mauern, Gebäude, die Räume umschliessen – sie zeugen von
          Menschenhand und menschlichem Geist. Orte verweisen nicht nur auf
          Menschen, sondern sind mit ihnen verbunden, oft unsichtbar und
          unausgesprochen, manchmal über Gegenstände, manchmal über Bilder,
          manchmal über Texte sind sie verwoben mit menschlichem Sein, mit
          Handwerk, mit Kunst, mit Geschichten – und damit auch mit unserem
          Dasein. theos nimmt diese Vielfalt von Orten und ihren Zusammenhängen
          auf und macht sie auf kreative Weise zugänglich.»
        </p>
        <a
          href="https://www.histtheol.unibe.ch/ueber_uns/personen/prof_dr_sallmann_martin/index_ger.html"
          target="_blank"
        >
          Dr. Martin Sallmann ist Professor am Institut für Historische
          Theologie für Neuere Geschichte des Christentums und Konfessionskunde.
        </a>
      </div>
    </div>
  </div>
</div>
