<head>
    <script src="https://kit.fontawesome.com/2ef642611a.js" crossorigin="anonymous"></script>
</head>
<footer>
    <div class="footer-content">
        <p>Graphikdesign Matthias Käser; Webmaster: IHT; <br/>
            Webdesign: Marco Buchholz und Philipp Lammerskitten; <br/>
            Für die Inhalte ist die theos-Redaktion verantwortlich.
        </p>
        <p></p>
        <!-- <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-uni"></i></a></li>
        </ul> -->
    </div>
</footer>