<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'biel-filmpodium/bild1.jpg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Wer eine Kinovorstellung im Filmpodium besuchen möchte, wappne sich mit
        Sinn für Orientierung, in sprachlicher wie geographischer Hinsicht.
        Verborgen hinter dem Kunsthaus Pasquart in Biel/Bienne, schmiegt sich
        das Filmpodium an den Hang des Jurasüdfusses. Die steile Treppe
        erklommen, die knarzige Holztür durchschritten, finden sich die
        Besucher_innen endlich im Kinosaal wieder. Die Wahrscheinlichkeit, von
        einem der Gründungsmitglieder an der Kasse willkommen geheissen zu
        werden, ist hoch – en français ou uf bärndütsch, comme vous préférez.
        Die tiefroten Kinosessel im Winter, die Holzbänke auf der Dachterrasse
        im Sommer laden ein, Platz zu nehmen und einzutauchen in die gleich
        beginnende Vorstellung. Was in den kommenden 75’, 90’ oder auch mal 127’
        geschieht, kann nur annährend beschrieben werden: Der Film «schafft eine
        eigene Wirklichkeit, eine Filmlänge lang und lässt in dieser Zeit kein
        anderes Bild neben sich gelten. Film hat die Qualität und den Anspruch
        des Traumes, der den Geist gefangen nimmt und zu seiner einzigen
        Wirklichkeit wird.» Dass das Auftauchen aus dieser eigenen Wirklichkeit
        einen Moment beansprucht, zeichnet sich auf den Gesichtern der
        Besucher_innen ab, die nach der Vorstellung aus dem Saal kommen. Manche
        hängen den bewegten und den eigenen Bildern nach, andere suchen den
        Austausch. Diese Filmgespräche lassen sich bestens an der Bar im
        Filmpodium führen – mit der Crew hinter der Theke genauso wie mit der
        Sitznachbarin, die zwar gerade denselben Film sah und jetzt dennoch eine
        ganz eigene Perspektive ins Nachgespräch einträgt.
      </p>

      <img
        class="bild"
        src="../../../assets/images/biel-filmpodium/bild1.jpg"
        alt=""
      />
      <p class="bildunterschrift">
        Eingang in das Filmpodium. (Bild: Sina von Aesch)
      </p>
      <h2>Alternativen zeigen – in Kunst, Kultur und Kinosaal</h2>
      <p>
        Bald feiert das Filmpodium sein dreissigjähriges Bestehen in dieser
        Lokalität. Entstanden ist der Verein bereits 1986 und setzte sich – vor
        dem Hintergrund der Jugendunruhen der 1980er Jahren in Zürich und
        anderen Städten der Schweiz – dafür ein, dass auch im Seeland ein Ort
        für alternative Kunst entstand. Die jungen Menschen forderten Orte, an
        denen Kunst und Kultur gezeigt wird, in der sie eine Rolle spielten und
        wo sie ihre Lebensform gerade auch in den gezeigten Kinofilmen
        wiedererkennen konnten. <br />Bis heute ist das Filmpodium diesen
        ideellen Überzeugungen treu geblieben. In Einzelvorstellungen oder in
        thematischen Zyklen werden Filme weitab vom Mainstream gezeigt. Damals
        wurde dem ersten Zyklus der Name «Frauen, Lesben, Schwule» gegeben, ein
        (nicht nur finanzielles) Wagnis für einen kleinen Filmclub, der auf den
        Ticketverkauf angewiesen war und der nur dank grossem Engagement von
        Freiwilligen und Mitstreiter_innen wachsen und 1993 diesen eigenen
        Kinosaal beziehen konnte.
      </p>
      <p></p>
      <h2>Neue Deutungsangebote</h2>
      <p>
        Es ist dem Filmpodium eigen, Themen aufzugreifen, die brisant sind und
        bewegen. Bei Zyklen über die Weltreligionen, über Körper und Wahrheit,
        über Mütterfiguren und Gerechtigkeit werden drängende Debatten mit
        existenziellen Fragen verknüpft. In diesem Zusammenspiel von
        Gegenwärtigem und Zeitlosem eröffnen sich Gesprächsräume, in denen
        philosophische und theologische Fragen auf vorläufige Antworten treffen
        und zum Weiterdenken antreiben. Eine Besonderheit am Filmpodium ist die
        sorgfältige Auswahl des Programms: der laute Blockbuster macht dem
        zarten Dokumentarfilm Platz, ein Low-Budget-Film findet sich neben einem
        argentinischen Roadmovie. Durch diese Auswahl geschieht eine Verlagerung
        in der Wahrnehmung der Kinobesucher_innen – die leisen Filme, die andere
        Geschichten erzählen als jene mit Happy End, sind hier kein
        Randphänomen. Sie rücken ins Zentrum und verschaffen sich damit Platz,
        gehört und gesehen zu werden. Sie bespielen Alternativen und erwecken
        damit wechselseitige Bilder in den Köpfen der Betrachtenden zum Leben.
        Es entstehen neue Deutungsangebote: Hollywood ist hier nicht Massstab
        des Erstrebenswerten, sondern wird kritisch betrachtet, durchdrungen,
        hinterfragt – und z.B. «als Artikulation des patriarchalen Unbewussten»
        interpretiert.
      </p>
      <img
        class="bild"
        src="../../../assets/images/biel-filmpodium/bild2.jpg"
        alt=""
      />
      <p class="bildunterschrift">
        Der versteckte Weg zu einer «anthropologischen Lektion». (Bild: Sina von
        Aesch)
      </p>
      <h2>«Der Film ist die Kunst, das Leben zu erzählen.»</h2>
      <p>
        Dass diese Uminterpretation möglich wird, setzt eine präzise Wahrnehmung
        voraus. Das, was sich vor den Augen abspielt und in glatten Bildern
        präsentiert wird, wird in alternativen Filmen in Frage gestellt – ein
        Blick hinter das, was allzu eindeutig erscheint. Diese Denkrichtung
        versucht auch die Theologie in die grossen Sinn- und Deutungsfragen der
        Menschen und Mitwelt einzutragen. Film und Theologie sind jedoch nicht
        bloss über ihre Denk- und Darstellungsweise verbunden, sondern auch über
        ihre Inhalte. Film und Theologie fragen nach, machen das Leben zum Thema
        und scheuen dabei das Bruchstückhafte und Unbequeme nicht. Leben wird
        «als ein ‘in Geschichte verstricktes’ dargestellt.» Oder knapper: «Der
        Film ist die Kunst, das Leben zu erzählen.» Auf genau jene Kunst bezieht
        sich auch eine Theologie, die ihre doppelte Funktion als reflektierender
        und erzählender Denkmodus wahrnehmen will.
      </p>
      <h2>Moderne Erzählgemeinschaften</h2>
      <p>
        Eine unter Cinéast_innen beliebte These besagt, Filme stünden in
        wechselseitiger Abhängigkeit zu gesellschaftlich verhandelten Topoi. An
        diese These könnte die Beobachtung anknüpfen, wonach Filme vermehrt dann
        religiöse Themen behandeln, wenn diese sonst im öffentlichen Diskurs
        weniger und weniger werden. «Das Kino ist es, in dem modernen Menschen
        eine ‘hilfreiche Story’ erzählt wird», so schreibt Bettina
        Brinkmann-Schaeffer, eine Theaterwissenschaftlerin, die über Sinndeutung
        und Religion im Film forscht. Auch die Kirchen beanspruchen für sich,
        den Menschen sinnstiftende Erzählungen von erbaulichem, tröstendem und
        inspirierendem Charakter ans Herz zu legen. <br />
        Kirche und Kino als Konkurrentinnen zu betrachten, die als konkrete Orte
        um die Deutungshoheit existenzieller Fragen ringen, das würde gerade,
        aber nicht nur den Umständen in Biel, wo vielfältige Initiativen die
        beiden Formen von Erzählgemeinschaften verbinden, unrecht tun. Viel
        stärker ist das Gemeinsame von Film und Theologie: So, wie die Theologie
        das umkreist, was als Geheimnis bisweilen unsagbar bleibt, so ist auch
        der Film ein Medium, das in narrativer Form das transportieren kann, was
        in Worten allein nicht zu fassen wäre – und genau wie der Film das Leben
        nicht einfangen, wohl aber szenenhaft abbilden kann, so kann die
        Theologie nicht antworten auf die existenziellen Fragen des Glaubens,
        wohl aber wesentliche Fragen stellen. Im Filmpodium erlebe ich die
        Bedeutsamkeit alternativer Filmkunst: Eintauchend in Lebenswelten
        anderer, die mir von sich und teils von mir erzählen, erweitert sich
        mein Horizont. Der Film eröffnet einen Zugang zu dem, was über mich
        hinausgeht, er ermöglicht mir den Zugang zu dem Ort, an den meine Worte
        nicht hinreichen. Und wenn ich beim Abspann langsam wieder auftauche,
        hat sich eine Szene, ein Klang, ein Gedanke eingeschrieben in meine
        Erinnerung – und es stimmt, was Peter Sloterdijk schreibt: «Wer ins Kino
        geht, riskiert immer eine anthropologische Lektion.»
      </p>
      <p></p>
      <p class="autor">
        Sina von Aesch ist Doktorandin und Assistentin am Institut für
        Historische Theologie an der Universität Bern.
      </p>

      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
         <ul>
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a style="color: black" routerLink="/{{ beitrag | removeshitespaces | lowercase }}">
              {{author.location[i]}}: 
              {{author.shorttitle[i]}} 
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Kirsner, Inge: «Unterwegs zu einer Film-Theologie.
            Praktisch-theologische Erkundungen zur Religion im Film», in:
            International Journal of Practical Theology 6, Heft 1 (2002)
            121–137.
          </li>
          <li>
            Kippel, Heike: Film. Feministische Theorie und Geschichte, Handbuch
            Frauen- und Geschlechterforschung (2010) 744–749.
          </li>
        </ul>
      </div>
      <h2>Weitere Hinweise:</h2>
      <p>
        Das aktuelle Kinoprogramm, Tickets und weitere Veranstaltungen ist
        verfügbar unter:
        <a target="_blank" href="http://www.filmpodiumbiel.ch"
          >http://www.filmpodiumbiel.ch</a
        >
        (31.01.2022).
      </p>

      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
