<div class="titleWrapper">
    <div class="title">
        <div class="vertical">
            <img class="theoslogo" src="../../../assets/theos_Logo.png" alt="" />
            <!--<h1 id="title"><span class="accent">t</span>heos</h1> 
            <h3 id="sub">Theologisch bedeutsame Orte der Schweiz</h3> !-->
        </div>
    </div>
    <div class="logo">
        <img id="uniLogo" src="../../assets/logobern.png">
    </div>
    <div class="institut">
        <h4 class="institut"><a target="_blank" href="https://www.histtheol.unibe.ch/index_ger.html"> Institut für<br> Historische <br>Theologie</a></h4>
    </div>
</div>
<div class="navWrapper" ngStickyNav stickyClass="sticky">
    <nav class="nav">
        <div class="links">
            <ul class="nav_links">
                <li><a routerLink="/home" [ngClass]="router.url == '/home' ? 'active' : 'link'">Home</a></li>
                <li><a routerLink="/reisehinweise/kacheln"
                        [ngClass]="router.url == '/reisehinweise/kacheln' || router.url == '/reisehinweise/map' ? 'active' : 'link'">Orte</a>
                </li>
                <li><a routerLink="/beitrag" [ngClass]="router.url == '/beitrag' ? 'active' : 'link'">Ihr Beitrag</a>
                </li>
                <li><a routerLink="/team" [ngClass]="router.url == '/team' ? 'active' : 'link'">Über uns</a></li>
                <li><a routerLink="/kontakt" [ngClass]="router.url == '/kontakt' ? 'active' : 'link'">Kontakt</a></li>

            </ul>
        </div>
        <div class="rightbutton">
        </div>
        <div class="dropdown">
            <mat-icon (click)="toggleNav()">menu</mat-icon>
        </div>
    </nav>
</div>
<mat-sidenav-container (backdropClick)="close()" class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" fixedInViewport [(opened)]="open">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <div class="side">
                <ul class="side">
                    <li class="side_li">
                        <a routerLink="/home" (click)="toggleNav()">Home</a>
                    </li>
                    <li class="side_li">
                        <a routerLink="/reisehinweise/kacheln" (click)="toggleNav()">Orte</a>
                    </li>
                    <li class="side_li">
                        <a routerLink="/beitrag" (click)="toggleNav()">Ihr
                            Beitrag</a>
                    </li>
                    <li class="side_li">
                        <a routerLink="/team" (click)="toggleNav()">Über
                            uns</a>
                    </li>
                    <li class="side_li">
                        <a routerLink="/kontakt" (click)="toggleNav()">Kontakt</a>
                    </li>
                </ul>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>