<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'basel-galluspforte/Bild0.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Wenn man das Basler Münster von Norden her betritt, schreitet man durch
        die im 12. Jahrhundert entstandene Galluspforte. Den Namen erhält sie
        durch einen Altar, der dem Heiligen Gallus gewidmet war und in
        vorreformatorischer Zeit durch diesen Eingang erreicht wurde. Die Pforte
        selbst ist in einem stringenten Bildsystem gestaltet, welches das
        Eintreten in den Kirchenraum theologisch wie auch sozialethisch auflädt.
        Der Norden gilt, wie auch der Westen, als eine Himmelsrichtung der
        Dunkelheit, weil die Sonne nicht dort ihren Lauf nimmt (Norden)
        beziehungsweise untergeht (Westen). Somit ist bereits die Richtung, aus
        der seit über 800 Jahren die Menschen auf diese Pforte zugehen,
        symbolisch aufgeladen. Die Kirche ist nach Osten hin, auf den
        Sonnenaufgang, den anbrechenden Tag, die Auferstehung und die
        eschatologische Hoffnung ausgerichtet. Von dieser Richtung und ihrer
        Bedeutung her ist das Münster, wie die meisten christlichen Kirchen,
        gedacht. Die Gläubigen kommen aus dem Dunkel der Welt und betreten den
        Raum des Lichtes. Tagsüber ist dieser Effekt der Lichtverhältnisse beim
        Eintreten von Norden her sogar noch stärker als beim Hauptportal im
        Westen. Dieser Übergang, den die Galluspforte markiert, ist also selbst
        bereits stark symbolisch durchwirkt. Umso interessanter ist es, in den
        Augenschein zu nehmen, was die Menschen in diesem unscheinbaren, aber
        gewichtigen Passagenritual wahrnehmen.
      </p>

      <img
        class="bild"
        src="../../../assets/images/basel-galluspforte/Bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Frontalansicht der Galluspforte. (Bild: Silvan Beer)
      </p>
      <h2>Peter – Paulus – Pantokrator</h2>
      <p>
        Der Blick wird beim Näherkommen unweigerlich nach oben in die Mitte
        gezogen. Im Tympanon sehen wir Christus als Weltenrichter (Mt 25,31-33).
        Er sitzt auf einem Thron und hält in der Rechten ein Kreuz und in der
        Linken ein aufgeschlagenes Buch. Rechts von ihm steht Petrus, der
        ikonografisch an einem grossen Schlüssel (Mt 16,19) zu erkennen ist.
        Neben Petrus kniet eine nicht eindeutig zu identifizierende Gestalt, mit
        einem Kirchenmodell in der Hand. Wahrscheinlich handelt es sich dabei um
        den Stifter des Portals. Auf der rechten Seite, zur Linken Christi,
        steht Paulus mit zwei weiteren Figuren. Paulus steht neben dem Buch, das
        Christus in der Hand hält. Seine Rolle als Heidenapostel, der das
        Evangelium den Menschen verkündet, klingt hier an. Petrus hingegen steht
        auf der Seite des kreuzförmigen Zepters, was an seine Rolle als
        Kirchenoberhaupt erinnert. Um den Weltenrichter sehen wir also die
        personifizierte Kirche und Verkündigung versammelt, die beide ihre
        Sendung von Christus her empfangen. Ebenfalls bieten sich Bezüge zu Rom
        an, da das Petrus-Paulus-Pantokrator Motiv typisch ist für die römische
        Ikonographie.
      </p>

      <h2>Das kommende Gericht – ohne Himmel und Hölle</h2>
      <p>
        Interessanterweise gibt es keine Darstellung von Himmel und Hölle, wie
        es im mittelalterlichen Motiv des Weltenrichters sonst oft der Fall ist
        und auch in Mt 25,32 präsent ist. Jedoch sind direkt unter der
        beschriebenen Szene die klugen und die törichten Jungfrauen zu erkennen
        (Mt 25,1–13), die dieses Motiv gleichnishaft behandeln. Links sehen wir
        die Klugen mit den brennenden Öllampen, denen Christus segnend durch
        eine offene Tür entgegentritt. Rechts die Törichten, die betrübt und mit
        erloschenen Lampen vor einer verschlossenen Pforte stehen. Das
        Eschatologische an diesem Gericht, das eine Einteilung der Menschen in
        Willkommene und Abgelehnte beinhaltet, wird noch durch die aus ihren
        Gräbern auferstehenden Menschen und die Posaunen blasenden Engel über
        dem Tympanon unterstrichen. Unter diesen Engeln sehen wir links Johannes
        den Täufer und rechts einen jungen Mann mit einer Schriftrolle, der
        nicht eindeutig zu bestimmen ist. Möglicherweise handelt es sich dabei
        um Johannes den Lieblingsjünger Jesu. In dieser Deutung wäre die
        Funktion Christi als Weltenrichter eingerahmt von je einer zentralen
        Gestalt des Beginnes und des Endes seines irdischen Wirkens. Johannes
        der Täufer steht in der Tradition der israelitischen Bussprediger. Er
        verweist auf das Kommen Christi (Mt 3), während der Lieblingsjünger bei
        der Kreuzigung zugegen ist und der Muttergottes als neuen Sohn
        anvertraut wird (Joh 19,25–27). Dieses ganze eschatologische Geschehen
        wurzelt in den vier Evangelisten, die als Statuen zwischen den
        Portalsäulen die Tür einrahmen und durch ihre Symboltiere über ihnen
        identifiziert werden können. Die Pforte stellt also ein sehr
        stringentes, visuell wie auch von der Bedeutung her symmetrisch
        aufgebautes Symbolsystem dar, das den eintretenden Menschen das kommende
        Gericht, wie es in der Schrift dargestellt wird, vor Augen führt.
      </p>
      <h2>Die barmherzigen Werke – eine sozialethische Verantwortung</h2>
      <p>
        Diese Ermahnung an das endzeitliche Gericht, das an die Eintretenden
        ergeht, ist wiederum deutlich mit einer sozialethischen Verantwortung
        verbunden. Den Menschen wird durch eine Illustration der barmherzigen
        Werke von Mt 25,34–36, die in der Bibel unmittelbar der
        Charakterisierung von Jesus als dem Weltenrichter folgt, konkret
        mitgeteilt, was sie tun müssen, um im Gericht bestehen und letztlich in
        das Reich Christi eingelassen zu werden. Links und rechts von der Tür
        sind in sechs kleinen Nischen diese barmherzigen Werke dargestellt:
        <br />
        <br />
        «35 Denn ich war hungrig und ihr habt mir zu essen gegeben (rechts
        unten); ich war durstig und ihr habt mir zu trinken gegeben (links
        oben); ich war fremd und ihr habt mich aufgenommen (links Mitte); 36 ich
        war nackt und ihr habt mir Kleidung gegeben (links unten); ich war krank
        und ihr habt mich besucht (rechts oben); ich war im Gefängnis und ihr
        seid zu mir gekommen. (rechts Mitte)» Mt 25, 34–36
        <br />
        <br />
        Die Reihenfolge der Darstellung folgt im Wesentlichen dem biblischen
        Bericht. Nur ist in der ersten Nische oben links dargestellt, wie dem
        Dürstenden zu Trinken gegeben wird. Der Hungernde wird rechts unten im
        letzten Bild dargestellt. Womöglich wurde diese Anordnung gewählt, um in
        den beiden architektonischen Darstellungen links und rechts in der Mitte
        eine optisch ansprechende Parallelität zu erreichen. Jedes der
        barmherzigen Werke ist durch die Interaktion von zwei Personen
        dargestellt. Die Bedingung, in das Reich Christi zu kommen, ist visuell
        klar im Zwischenmenschlichen verortet, wie es in Mt 25,40b formuliert
        ist: «Was ihr für einen meiner geringsten Brüder getan habt, das habt
        ihr mir getan.» Christus der höchste Weltenrichter begegnet einem im
        Erniedrigten und Bedürftigen und wie man sich diesem gegenüber verhalten
        hat, so wird man gerichtet werden. Das Gleichnis der klugen und
        törichten Jungfrauen bekommt also eine konkrete Interpretation. Die
        Bereitschaft und Sorge, dass genügend Lampenöl da ist, wenn der
        Bräutigam kommt, entspricht dem barmherzigen Handeln am Nächsten. Das
        Verhalten der törichten Jungfrauen hingegen stellt das Versäumnis dar,
        im Leben dieser sozialethischen, von Gott gebotenen Verantwortung zu
        entsprechen. Der Übergang vom weltlichen in den sakralen Raum geschieht
        an der Galluspforte also mit der eindringlichen Mahnung, dass einem
        Christus draussen in der Welt im bedürftigen Gegenüber begegnet, dem man
        zu helfen verpflichtet ist.
      </p>
      <img
        class="bild"
        src="../../../assets/images/basel-galluspforte/Bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Links: Johannes der Täufer und die barmherzigen Werke. Rechts:
        Möglicherweise der Apostel Johannes und drei der barmherzigen Werke.
        (Bild: Silvan Beer)
      </p>
      <p>
        Es ist erstaunlich, dass die Galluspforte bis heute erhalten geblieben
        ist. Der Bildersturm, dem während der Reformation so viele Kunstwerke
        zum Opfer fielen und von dem im Basler Münster selbst noch der kahle
        Innenraum und die eine oder andere leere Statuennische zeugen, stürmte
        an der Galluspforte vorbei, ohne sie anzutasten. Man kann nur
        Vermutungen anstellen, was der Grund dafür sein könnte. Auf jeden Fall
        sehen wir in diesem jahrhundertealten Kunstwerk eine christliche
        Grundhaltung ausgedrückt, die noch immer brandaktuell ist und immer
        wieder Stürme der verschiedensten Art zu überstehen hat: Der höchste, ja
        metaphysische Ernst der sozialen Verantwortung des Menschen.
      </p>
      <p class="autor">
        Silvan Beer ist Theologiestudent im Bachelor an der Theologischen
        Fakultät der Universität Bern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Webseite des Basler Münster: verfügbar unter:
            <a target="_blank" href="https://www.baslermuenster.ch"
              >www.baslermuenster.ch</a
            >
          </li>
          <li>
            Meier, Hans-Rudolf / Schwinn, Schürmann Dorothea (Hgg.): Schwelle
            zum Paradies. Die Galluspforte des Basler Münsters, Basel 2002.
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
