<div class="headerWrapper">
    <div class="leftTitle">
        <h4></h4>
    </div>
    <div class="titleWrapper">
        <div class="title">
            <h1 id="title"><span style="color: red;">t</span>heos</h1>
        </div>
        <div class="subtitle">
            <h3 id="sub">theologisch bedeutsame orte der schweiz</h3>
        </div>

    </div>
    <div class="rightTitle">
        <h4></h4>
    </div>
</div>
<div class="navWrapper" ngStickyNav stickyClass="sticky">
    <nav class="nav">
        <img class="logo" src="../../assets/logo_unibern_squid3.png">
        <div class="links">
            <ul class="nav_links">
                <li><a routerLink="/home">home</a></li>
                <li><a routerLink="/orte">reise-hin-weise</a></li>
                <li><a routerLink="/datatable">ihr beitrag</a></li>
                <li><a routerLink="/house">kontakt</a></li>
                <li><a routerLink="/house">impressum</a></li>
            </ul>
        </div>
        <div class="rightbutton">
            <mat-icon>menu</mat-icon>
        </div>
    </nav>

</div>