<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'basel-trivultus/Bild0.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Ein mal eins mal eins gleich eins: das ist für Christ:innen eine
        einfache Rechnung. Die Dreieinigkeit (Trinität) ist eine der
        grundlegenden theologischen Lehren des Christentums. Aber wie genau sie
        zu denken ist - und erst recht, wie sie bildnerisch dargestellt werden
        kann - war schon immer umstritten.
      </p>
      <p>
        Erste Zeugnisse der dreischiffigen Peterskirche in Basel gehen auf das
        achte oder neunte Jahrhundert zurück. Neben ihrer Anciennität besticht
        sie durch eine reiche Innenausstattung an Wandmalereien aus dem 14.—16.
        Jahrhundert. Betritt man das Langhaus verhindert ein Lettner
        (Chorschranke) mit Orgel den Blick Richtung Osten in den Chorraum.
        Südseitig vom Lettner ist die kurz nach 1356 erbaute Martins- oder
        Keppenbachkapelle zugänglich. Dort wurde 1989 in einer Bogennische eine
        Wandmalerei von einer unbekannten Urheberschaft freigelegt, auf der eine
        Verkündigungsdarstellung mit einem <i>Trivultus</i>, einem Dreigesicht
        Gottes, dargestellt ist.
      </p>
      <h2>Irdisch und himmlisch</h2>
      <p>
        Die Komposition gliedert sich in eine irdische, rote und eine
        himmlische, blaue Sphäre. Im himmlischen, blauen Bogenfeld thront eine
        dreigesichtige Figur in rotem Gewand. Das Dreigesicht Gottes, das von
        einem goldenen Nimbus umgeben ist, hat eine Stirn, drei Nasen, drei
        Münder und blickt aus vier Augen in den Raum. Der sogenannte
        <i>Trivultus</i>
        (dreigesichtig), manchmal auch <i>Trifrons</i> (dreistirnig), hat nur
        einen Körper. Die rechte Hand ist im Segensgestus erhoben und in der
        linken Hand befindet sich eine Weltkugel mit Kreuz, ein Reichsapfel, als
        Weltherrschaftsinsignie. Vier weisse Spruchbänder, auf denen nichts zu
        erkennen ist, flankieren die göttliche Figur.
      </p>
      <img
        class="bild"
        src="../../../assets/images/basel-trivultus/Bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        <i>Trifrons</i>: Dreigesicht Gottes auf der Wandmalerei der Verkündigung
        an Maria, um 1400, in der Martins- oder Keppenbachkapelle, Peterskirche
        Basel. (Bild: Adriana Basso Schaub)
      </p>
      <p>
        Im irdischen Raum ist die Verkündigung an Maria dargestellt: Der
        Erzengel Gabriel tritt mit prächtigen Pfauenfederflügeln und
        Lilien-Botenstab an Maria heran. Gabriel kündigt die Geburt des
        Gottessohnes aus dem Geschlecht Davids an (Lk 1,26–38). Maria, kniend
        vor ihrem Betpult, empfängt die Botschaft in einer von zwei Seiten
        offenen Architektur. Sie hält ihre Hände empor. Die Geste wirkt, als ob
        Maria überrascht ist. Hinter den Vorhängen blicken Engel hervor.
        Oberhalb von Gabriel und Maria befinden sich zwei weissbärtige Figuren,
        die auf das Geschehen weisen. Es wird vermutet, dass es sich um die
        beiden Propheten Micha und Jesaja handelt.
        <br />Am unteren Bildrand sind fünf weitere Figuren zu sehen. Sie sind
        viel kleiner als die Protagonist:innen der Verkündigung. So haben sich
        oft Stifter:innen bedeutungsperspektivisch (bildliche Darstellung der
        Figuren/Personen nach Bedeutung) in das Geschehen mit eingeschrieben.
        Vor dem Erzengel sind drei Stifter mit je einem Spruchband zu sehen, die
        zu Maria hockblicken. Es sind der Stifter des Bildes Burkhard Sintz
        (gest. 1425), gefolgt von seinen Söhnen Hans Heinrich und Conrad (gest.
        1439). Rechts aussen am unteren Bildrand sind schemenhaft, in anbetender
        Haltung, zwei schwarzgekleidete Frauen mit Haube zu erkennen. Es sind
        die Frauen des Stifters, Agnes und in zweiter Ehe Belina Münch von
        Münchenstein. <br />Die einzige Verbindung zwischen der himmlischen und
        irdischen Sphäre ist die sichtbar verbindende Spur, ähnlich einem
        Kondensstreifen am Himmel, des Heiligen Geistes. Sie geht vom
        Dreigesicht Gottes aus und endet im Nimbus von Maria. Dort ist der
        Heilige Geist winzig als ein vogelartiges Wesen symbolisiert.
      </p>
      <img
        class="bild"
        src="../../../assets/images/basel-trivultus/Bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        <i>Trifrons</i>: Dreigesicht Gottes und Stifter:innen auf der
        Wandmalerei der Verkündigung an Maria, um 1400, in der Martins- oder
        Keppenbachkapelle, Peterskirche Basel. (Bild: Adriana Basso Schaub)
      </p>
      <h2>Aus drei mach eins</h2>

      <p>
        Der <i>Trivultus</i> als Ausdruck der Dreifaltigkeit ist ein Kniff, um
        die drei gleichrangigen Personen Heiliger Geist, Gottvater und Gottsohn
        als Dreiheit in Einheit zu vereinen. Oder eher als Einheit in der
        Dreiheit? Im Dreigesicht wurden beide Perspektiven vereint.
        <br />Dreiköpfige Gottheiten sind bereits aus vorchristlicher Zeit (zum
        Beispiel aus dem südasiatischen, indischen, iranischen, gallo-römischen
        Raum u.a.) bekannt und können als Symbol für alles überschauende
        Gottheiten betrachtet werden. Die Synthese von drei Gesichtern mit vier
        Augen tritt allerdings, in christlichem Zusammenhang, vereinzelt seit
        dem 13. Jahrhundert auf. Weit verbreitet hat sich die dreigesichtige
        Ikonographie nicht. 1445 empfahl der Erzbischof Antonius von Florenz
        (1389–1459) Abstand von einer solch unwürdigen Darstellung der Trinität
        zu nehmen. Gott als Monstrum wiederzugeben, bezeichnete Kardinal Robert
        Bellarmin (1542–1621) als illegitim. Schliesslich, am 11. August 1628,
        sprach Papst Urban VIII. (1568–1644) ein Verbot solcher Abbildungen und
        die Vernichtung der entsprechenden Kunstgegenstände aus. Angeblich auf
        die spöttischen Angriffe sogenannter Antitrinitarier:innen (gegen die
        Trinität) hin, die sich auf dem Gebiet Polen-Litauen, Ungarn und
        Siebenbürgen im 16. Jahrhundert etablierten. Das erneute Verbot von 1745
        für das Bistum Augsburg von Benedikt XIV. (1675–1758), weist darauf hin,
        dass sich die Dreigesicht-Ausführung trotzdem noch hundert Jahre
        gehalten hatte.
      </p>
      <h2><i>Trinitas</i> - Dreieinigkeit mit Dreikopf oder Dreigesicht</h2>
      <p>
        Heute finden sich einige Exemplare aus dem 15. und 16. Jahrhundert der
        Dreieinigkeit als Dreikopf- oder Dreigesicht aus dem spätgotischen
        Deutschland und im Italien der Renaissance. Zum Beispiel ist ein
        Dreikopf von Donatello (1386–1466) im Spitzgiebel des Tabernakels der
        Christus-Thomasgruppe an der Kirche Or San Michele in Florenz zu sehen.
        Ein Dreikopf in flammendem Sonnennimbus schuf Fra Bartolommeo
        (1472–1517) auf dem Sankt-Annen-Altar oder Antonio Pollaiuolo
        (1429–1498) auf dem Bronzegrabmal von Sixtus IV. (1414–1484). Die
        Verschmelzung von Gesichtern zu einem einzigen Kopf mit gemeinsamen
        Augen findet sich in einem Holzschnitt im sogenannten Heilsspiegel, dem
        «Spiegel menschlicher Behaltnis» (Augsburg, Günther Zainer, 1470). Auch
        Albrecht Dürer (1471–1528) entwarf 1508 eine Trinität mit Dreigesicht
        für ein Glasgemälde, das für die Landauersche Brüderkapelle in Nürnberg
        geschaffen wurde. <br />Auf dem Gebiet der heutigen Schweiz sind mir
        drei Beispiele von einem Dreigesicht bekannt: Neben dem Dreigesicht in
        der Basler Peterskirche um 1400 findet sich eine weitere Darstellung in
        der Gemeinde Lavin im Bündnerland. Die dort um 1480 neu errichtete
        Kirche, zeigt unter anderem eine <i>Majestas Domini</i> (Herrlichkeit
        des Herrn) in Kombination mit einem <i>Trivultus</i>. Ein weiteres
        Dreigesicht malte Nicola da Seregno (um 1445–1500) 1478 im Chor der
        Kirche San Nicolao in Giornico im Tessin.
      </p>
      <img
        class="bild"
        src="../../../assets/images/basel-trivultus/Bild3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        <i>Trivultus</i>: Dreigesicht Gottes auf der Wandmalerei von Nicola da
        Seregno (um 1445–1500) 1478 im Chor der Kirche San Nicolao in Giornico
        im Tessin. (Bild: Adriana Basso Schaub)
      </p>
      <h2>1 x 1 x 1 = 1 – eine theologisch bedeutsame Rechnung</h2>
      <p>
        Ein mal eins mal eins gleich eins: das ist für Christ:innen eine
        einfache Rechnung. Und trotzdem müssen sie oft erklären, dass sie sich
        zu einem einzigen Gott bekennen, ihn jedoch als einen dreieinigen
        verstehen. Diese Frage und Rechtfertigung beschäftigte Menschen in der
        christlichen Geschichte von jeher. So wurde im Konzil von Nizäa im Jahr
        325 die Vorstellung von Gott als Dreiheit festgehalten - ein Gott in
        drei Personen: Vater, Sohn und Heiliger Geist. Doch wie sollen
        Nicht-Christ:innen diese Pluralität der Personen verstehen, wenn sogar
        christliche Menschen hierüber immer wieder in Erklärungsnot kommen? Auch
        in christlicher Tradition ist Gott nicht fassbar – das zeigten Konzile
        und Streitigkeiten. Und das spiegelt sich wiederum in der Kunst wider.
        Gott zu erkennen und darzustellen, kann immer nur ein Versuch sein, ein
        Herantasten daran, was Gott für die jeweilige Zeit sein kann. In der
        Zeit vom 12.–16. Jahrhundert waren auch nicht christlich-religiöse
        Charakterisierungen von Gestalten mit drei Köpfen Triceps in der Kunst
        beliebt. In einer Handschrift aus dem 12. Jahrhundert, dem Hortus
        deliciarum der Herrad von Landsberg (um 1130–1195), sitzt die
        Philosophie als Königin in der Mitte eines Kreises. Sie trägt eine Krone
        mit drei Köpfen, die mit Ethica (Tugendlehre), Logica (Logik) und
        Physica (Naturlehre) beschriftet sind. Und als Sinnbild von drei
        Zeitstufen hat zum Beispiel Tizian (um 1488–1576) als «Allegorie der
        drei Lebensalter» drei Charakterköpfe von Jüngling, Mann und Greis über
        drei miteinander verbundenen Köpfen von Hund, Löwe und Wolf gemalt.
        Vielen ist wahrscheinlich mehr die janusköpfige Darstellung aus der
        gotischen Kunst des 12. und 13. Jahrhunderts bekannt, die auf antike
        Vorbilder zurückgreift: eine Figur mit zwei Gesichtern oder zwei Köpfen,
        der sogenannte Janus. Er tauchte im Mittelalter vor allem in Kalendern
        und Monatsarbeits-Zyklen als Personifikation des Januars auf. In seiner
        Position blickt er auf das alte Jahr zurück und in das neue Jahr hinein.
        Man könnte ihn als «Scharnierstellen»-Figur bezeichnen. In der Antike
        stand er für Anfang und Ende. <br />Zeit und Raum, Anfang und Ende,
        wurden in der Deutung der Weltgeschichte als Heilsgeschichte der
        Christ:innen in der Trinität überhaupt erst fassbar. Dass der Trivultus
        in der Peterskirche in Basel über einer Verkündigungsszene dargestellt
        ist, zeigt dieses Verständnis, indem der Sohn Gottes im oberen Bogenfeld
        eine Person der Trinität ist und gleichzeitig im unteren Register die
        Menschwerdung Gottes in und durch Jesus Christus vorausgesagt wird, und
        auch bereits im Gange ist (wie oben beschrieben: sichtbar in der Spur
        und im Symbol des Heiligen Geistes, der einzigen Verbindung zwischen der
        himmlischen und irdischen Sphäre). Die <i>Trivulti</i> in der
        Peterskirche in Basel, Lavin und San Nicolao in Giornico sind ein
        Beispiel dafür, wie die Vorstellung von der Trinität im Mittelalter
        bildlich gefasst und dargestellt wurde. Da Bilder in dieser Zeit für die
        Menschen als eine Art Unterweisung im christlichen Glauben dienten,
        zeigt sich im <i>Trivultus</i>, wie die Vorstellung von der Dreiheit in
        der Einheit oder dem christlichen 3x1=1 malerisch zum Ausdruck gebracht
        wurde. Dennoch bot dieser Versuch, das Unfassbare und -greifbare
        darzustellen, Anstoss, sodass Kirchenführer, wie die oben erwähnten
        Erzbischof Antonius von Florenz, Kardinal Robert Bellamin und Papst
        Urban VIII., ihre Abbildung verboten. Dies führte zu Übermalungen, die
        eine Überlieferung in die Gegenwart und damit einen Blick in die
        Geschichte erst möglich machen. So konnte ein <i>Trivultus</i>, wie am
        Beispiel der Peterskirche sichtbar, 1989 wiederendeckt werden und bis in
        die Gegenwart anregen, über das Einmaleins und die für Christ:innen
        theologisch bedeutsame Rechnung nachzudenken.
      </p>

      <p class="autor">
        Adriana Basso Schaub ist Studentin der Kunstgeschichte und Theologie im
        Master an der Universität Bern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Markert, Emil: «Trias Romana: Zur Deutung einer Grünewaldzeichnung»,
            in: Westdeutsches Jahrbuch für Kunstgeschichte, Wallraff-Richartz
            Jahrbuch, Bd. 12/13 (1943), hg. v. Freunde des Wallraf-Richartz
            Museum und das Museum Ludwig e.V., Köln 1943, 198–214, verfügbar
            unter:
            <a
              target="_blank"
              href="https://www.jstor.org/stable/44972454#metadata_info_tab_contents"
              >«Trias Romana»</a
            >
            (21.11.2022).
          </li>
          <li>
            Meles, Brigitte: Die Peterskirche in Basel (Gesellschaft für
            Schweizerische Kunstgeschichte GSK), herausgegeben in Zusammenarbeit
            mit der Quartiergemeinde St. Peter, der Kirchengemeinde St. Leonhard
            und der evangelisch-reformierten Kirche Basel-Stadt, Bern 2010.
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
