<div class="container">
  <div class="cover">
      <div class="textWrapper">
          <div class="title"><h1>Klosterort</h1></div>
          <div class="author"><h2>Pater Lukas Schenker</h2></div>
          <div class="date"><h3>2021</h3></div>
      </div>
  </div>
</div>
<div class="wrapper">
  <div class="firstRow">
    <app-ort-item  *ngFor="let kachel of kacheln"
      [beitrag] = kachel></app-ort-item>
  <div class="secondRow"></div>
  <div class="thirdRow"></div>
  <div class="fourthRow"></div>
</div>

