.buttons {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.table {
  width: 120px;
  margin-right: 20px;
}

.visualization {
  width: 120px;
  margin-left: 20px;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.container {
  position: relative;
  min-height: 700px;
  width: auto;
}

.leaflet-popup-content {
  height: auto !important;
  width: auto !important;
}
