<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'trouvaille-burgerundstrafgefangene/Bild0.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p style="font-style: italic">
        Diese Miniaturen erschienen bis auf wenige Ausnahmen zwischen 2006 und
        2008 im «saemann», der Vorgängerzeitung von «reformiert.» Sie führen zu
        oft übersehenen Orten und Monumenten der bernischen und schweizerischen
        Kirchengeschichte. Der Umfang war jeweils vorgegeben. Die Texte möchten
        auf engem Raum in chronologisch-thematischer Ordnung narrativ und
        kontemplativ eine kleine Theologie entfalten. (RD)
      </p>
      <br />

      <p id="firstParagraph">
        Wir gehen durch die längsseitigen Bankreihen der Berner
        Heiliggeistkirche und suchen an den Rücklehnen nach Metallschildern, die
        noch von Stühlen des Vorgängerbaus, der alten Spitalkirche, stammen. Wir
        entscheiden uns für ein Schild aus dem Jahr 1700 und betrachten das von
        einem jungen Bären gehaltene Wappen.
        <br />Es zeigt «in Gold auf einem grünen Dreiberg ein rotes Eichhorn,
        das einen schrägrechts gestellten verstutzten schwarzen Astpfahl
        erklettert». So beschreibt der Heraldiker Berchtold Weber das Wappen der
        burgerlichen Familie Walther, deren Name und Wappenbild auf dem Schild
        erscheint. Sie hat neben Amtsträgern tüchtige Glasmaler hervorgebracht.
        Zu ihnen gehörte Matthis, der die Unservater-Scheibe in der Kirche
        Einigen geschaffen hatte. Das Schild dokumentiert einen sozialen und
        kirchlichen Wandel. Die Spitalkirche belegte nämlich im 17. Jahrhundert
        unter den Kirchen der Stadt Bern nach Münster, Nydegg- und
        Predigerkirche den letzten Platz. Sie war die Kirche der Kranken und
        Armen, der Strafgefangenen, der Pächter, Küher und Tagelöhner, und an
        ihr wirkten nicht ordinierte Pfarrer, sondern Kandidaten der Theologie –
        bis der Rat Mitte der Achtzigerjahre des 17. Jahrhunderts beschloss, sie
        durch eine neue Bestuhlung für alle Bürger attraktiv zu machen und
        besser ins städtische Leben zu integrieren. Dies gelang. 1693/94 wurde
        wegen Platzmangels wieder ein Umbau nötig, und als die Familie Walther
        ihren Stuhl erwarb, war die Wende praktisch vollzogen. Nicht, dass
        Menschen verschiedenen Standes die Spitalkirche nun kunterbunt bevölkert
        hätten – nach wie vor hatten alle ihren Platz: Burger und Amtsträger in
        eigens bezeichneten Stühlen, die Strafgefangenen auf der Empore, die
        «gemeinen» Frauen hier und die «gemeinen» Männer da. Dennoch entsprach
        diese Gemeinde dem biblischen Bild des Volkes Gottes doch wohl mehr als
        zuvor die exklusive Kirche der «Minderen». <br />Das hatte nicht nur mit
        der neuen Bestuhlung zu tun, sondern auch mit der Bewegung des
        Pietismus, die damals an der Spitalkirche ein Zentrum hatte und viele
        Menschen anzog. Es ist nicht bekannt, ob auch die Familie Walther mit
        ihr sympathisierte. Hingegen lässt sich das, was den Pietisten
        vorschwebte, jetzt so sagen: Sie wollten, dass alle Christen sich als
        Gemeinde um Gottes Wort sammeln und dann nicht auf ihren Stühlen und
        Bänken sitzen bleiben, sondern sich gemeinsam auf den Weg machen, Jesus
        nach, Christus entgegen. Auch deswegen konnte in der (Spital-)Kirche
        nicht alles beim Alten bleiben.
      </p>

      <img
        class="bild"
        src="../../../assets/images/trouvaille-burgerundstrafgefangene/Bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Wie aus einer Kirche der Armen auch eine Kirche der Burger wurde. (Bild:
        Adriana Basso Schaub)
      </p>

      <p class="autor">
        Dr. Rudolf Dellsperger ist ein Schweizer Theologe und emeritierter
        Professor für Neuere Kirchengeschichte, Konfessionskunde und
        Theologiegeschichte an der Universität Bern.
      </p>

      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Dellsperger, Rudolf: Die Anfänge des Pietismus in Bern.
            Quellenstudien (Arbeiten zur Geschichte des Pietismus 22), Göttingen
            1984, 62-65.
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
