.container{
   
    width: 100%;
    height: 300px;
    background-image: url('../../../assets/images/amsoldingen/amsoldingen.jpg');
    background-size: cover;
    background-position: center center;
    display: block;
    margin-bottom: 50px;
}

#bild1{
    max-width: 1141.8px;
    height: auto; 
}
.cover{
    background: rgba(0,0,0,0.4);
    width: 100%;
    position: relative;
    min-height: 1px;
    float: left;
    display: block;
    height: 100%;
}

.imageWrap{
    
}

#bild4{
    max-width: 500px;
}

#bild5{
    max-width: 500px;
}

.textWrapper{
    text-align: center;
    padding: 120px 0;
    display: block;
    line-height: 25px;
    color: white;
}

.title h1{
    font-family: "Playfair Display";
    font-size: 36px;
}

p{
    margin: 0 0 10px;
    margin-bottom: 25px;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.smallimage{
    display: flex;
    justify-content: center;
}

.text{
    grid-column: 2/3;
    line-height: 25px;
}



h2{
    font-family: "Playfair Display";
}

.date h3{
    font-family: "Playfair Display";

}

.text{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

#text::first-letter{
float: left;
font-size: 80px;
line-height: 40px;
padding-right: 8px;
}
