<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'oberwil-hansarp/bild0.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Beim Betreten der römisch-katholischen Kirche St. Peter und Paul in
        Oberwil erschliesst sich ein in verschiedener Hinsicht
        aussergewöhnlicher Kirchenraum. Ausgestaltet wurde die Kirche von einem
        weltweit bekannten Künstler mit schillerndem Namen. Seine Werke sind in
        den wichtigsten Kunstmuseen rund um den Globus vom Centre Pompidou in
        Paris bis zum MoMa in New York vertreten. Auch im Kunstmuseum Basel sind
        seine Werke ausgestellt. Es handelt sich um Jean/Hans Arp (1886–1966).
        Es ist wenig bekannt, dass sich eine ganze Reihe seiner Werke in dieser
        ansonsten ziemlich unscheinbaren Kirche in der ländlichen Umgebung an
        der Grenze zum Elsass befindet. Wie kommt ein so bedeutsamer Künstler zu
        diesem Engagement?
      </p>

      <img
        class="bild"
        src="../../../assets/images/oberwil-hansarp/bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Innenausstattung der Kirche St. Peter und Paul in Oberwil von Hans Arp.
        (Bild: Jonas Engeler)
      </p>
      <h2>Symbiose zwischen Form und Geist</h2>
      <p>
        Dadaismus sei «gegen die Mechanisierung der Erde», sagte Hans Arp vor
        langer Zeit, «ein Protest gegen die Rationalisierung des Menschen.» Arp
        gilt als einer der Wegbereiter der Moderne und Begründer dieser sich
        gegen dieselbe moderne Welt stellenden Kunstform <i>Dada</i>.
        <i>Dada</i> wurde 1916 als künstlerische und literarische Bewegung in
        Zürich gegründet. Kein Wunder also, dass Arp seine Kunst auch dem
        Überrationalen unterordnete und Werke für Kirchen schuf. Doch der
        Künstler, der sich in den 1940er Jahren dem römisch-katholischen Glauben
        zuwandte, stiess mit seinem vielfältigen Kunstschaffen in seiner Zeit
        nur bei wenigen Kirchenoberen auf Verständnis. In Oberwil verhielt sich
        dies anders, was auch mit seiner Bekanntschaft zum Architekten Hans
        Peter Baur (1922—2017) zusammenhängen mag, der mit der Rennovation der
        Kirche in Oberwil beauftragt wurde. Durch die Umgestaltung des
        Kirchenraumes im Rahmen der Renovation in den 1960er Jahren entstand
        eine Symbiose zwischen der arpschen Formensprache und einem im
        romanischen Geist gestalteten Kirchenraum. <br />
        Drei arpsche Bodenrosetten befinden sich gleich nach dem Eingang auf dem
        dunklen Boden der Kirche. Diese geleiten zu den beiden Seitengängen, vor
        dessen ersten Säulen jeweils die von Arp gestalteten Weihwasserbecken
        ihren Platz einnehmen. Es sind ovale Becken, die aus Solothurner
        Kalkstein gehauen wurden. Darin ist jeweils ein Abtropfeinsatz zu sehen,
        der sich in seiner scharfkantigen Form deutlich von den gerundeten
        Formen der Becken abhebt, welche wiederum von kantigen Holzsockeln
        gehalten werden. Zur rechten Seite hinblickend befindet sich der
        Beichtstuhl mit den beiden ‹arpschen Augen›, zwei sich in die
        künstlerische Ausstattung einfügende Fensterelemente. Dem Seitenschiff
        entlang gehend erreicht man bei den Stufen zum Chorraum hin den
        einzigartigen Taufbrunnen. Dieser ist wiederum aus Solothurner Kalkstein
        gefertigt und überzeugt durch eine gerundete Formensprache. Aus einem
        kleinen kantigen Felsbrocken entspringt fliessendes Wasser. Links davon
        steht auf einer Erhebung der massiv gebaute Ambo. Dieser formt sich aus
        einem markanten Stück Eichenholz und zwei jeweils der Buchform
        angepassten Kalksteinquadern. Vor dem Ambo ist eine Intarsie mit einer
        den heiligen Geist symbolisierenden Taube eingelassen. Hinter dem von
        zwei Kalksteinwänden getragenen Altar, der in seiner Mitte einen von Arp
        gestalteten und in massivem Eichenholz gefertigten Reliquienbehälter
        beinhaltet, verbergen sich die beiden Gabentische. Links neben dem Altar
        befindet sich auf einem Sockel der Tabernakel. Dieser wird auf seiner
        Vorderseite von weiteren Stein-Intarsien gerahmt. Der von Arp
        konzipierte künstlerische Kreis schliesst sich hier. Die Kunstartefakte
        sind allesamt noch original erhalten und zeichnen sich in ihrer
        liturgischen Funktion und die Kirche als liturgischen Raum besonders
        aus. Sie heben ihn aber auch entscheidend von anderen Kirchenräumen aus
        jener Zeit in der Schweiz ab und lassen ihn zeitlos erscheinen. <br />
        Die Poesie und Spiritualität von Hans Arp sind nicht nur in der
        Ausgestaltung der Kirche Oberwil zu finden, sondern auch in einem seiner
        zahlreichen poetischen Gebete, das in Anlehnung an dessen Inspiration
        für den Kirchenraum gelesen werden kann:
      </p>
      <p>
        «Reines Licht <br />
        erlöse uns von der Sinnlosigkeit. <br />
        Erlöse uns von dem sinnlosen Leiden <br />
        Der Sinnlosigkeit. <br />
        Es genügt nicht <br />
        dass ab und zu <br />
        ein Tropfen auf den heissen Stein <br />
        der Erde fällt.»
      </p>
      <img
        class="bild"
        src="../../../assets/images/oberwil-hansarp/bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Bodenrosetten von Hans Arp beim Eingang der Kirche. (Bild: Adriana Basso
        Schaub)
      </p>

      <img
        class="bild"
        src="../../../assets/images/oberwil-hansarp/bild3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Weihwasserbecken von Hans Arp. (Bild: Adriana Basso Schaub)
      </p>

      <img
        class="bild"
        src="../../../assets/images/oberwil-hansarp/bild4.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Beichtstuhl mit den ‹arpschen Augen› als Fensterelemente. (Bild: Adriana
        Basso Schaub)
      </p>
      <h2>Die wechselvolle Geschichte des Oberwiler Kirchenhügels</h2>
      <p>
        Man kann nach Oberwil kommen, woher man will, immer steht hoch
        aufragend, majestätisch und das Dorfbild beherrschend die
        römisch-katholische Pfarrkirche St. Peter und Paul auf dem topografisch
        vorspringenden Sporn des Vorderbergs. Vom Turm herab geniesst man einen
        weiten Blick ins Leimental und auf die nahen Juraberge. Schon die
        frühesten Bewohner:innen des Dorfes haben die ausgezeichnete, über das
        Tal erhobene Lage und die sich sanft nach Südosten senkende Fläche für
        die Besiedelung und für den Bau eines Gotteshauses genutzt. <br />
        Der Kirchenhügel von Oberwil ist seit der Römerzeit besiedelt, was
        zahlreiche römische Fundstücke aus dem 1. Jahrhundert belegen. In
        unmittelbarer Nähe der Kirche zeigen sich Spuren eines römischen
        Gebäudes. Eine Menge von Fundstücken unter der Kirche weist darauf hin.
        Diese Funde deuten auf eine kontinuierliche Besiedelung während des
        gesamten spätrömischen Reiches, die über die Zeit der ersten
        Alemanneneinfälle um 490 n. Chr. hinausgingen. Ob die Bewohner:innen
        dieser frühen Zeit schon Christ:innen waren, ist ungewiss. Die frühesten
        christlichen Zeugnisse im nahe gelegenen Augusta Raurica gehen ins 4.
        Jahrhundert zurück. Wegen der Wirren der sogenannten Völkerwanderung im
        5. Jahrhundert war die Region Oberwil bei Basel weitum verlassen. In der
        folgenden Zeit aber tauchten wieder Spuren von Ansiedler:innen auf,
        deren Nachkommen wohl im ersten Kirchlein begraben worden waren. <br />
        Das 7. Jahrhundert ist reich an archäologischen Zeugnissen. Es war ein
        Glücksfall, dass anlässlich der Innenrenovation der Kirche von 1964/65
        eine wissenschaftliche Grabung durchgeführt werden konnte, die für die
        Dorf- und Landesgeschichte von grosser Bedeutung wurde. Die ältesten
        Anlagen unter dem Kirchenschiff und dem Chor sind zugänglich und unter
        Denkmalschutz gestellt.
      </p>
      <h2>Kirche – Ort des liturgischen Feierns</h2>
      <p>
        Das Kirchengebäude steht in langewährender Tradition von Räumen, in
        welchen sich Christ:innen versammelt haben, um gemäss ihrem Glauben Brot
        und Wein als Erinnerung an Jesu Leben, Sterben und Auferstehen zu
        feiern. Auch Oberwil reiht sich ein in diese Tradition. Die Menschen in
        Oberwil haben hier schon gegen Anfang des 7. Jahrhunderts das erste
        Gotteshaus errichtet. Eine kleine Kapelle war es damals nur. Später
        wuchsen die Gotteshäuser entsprechend der Bedürfnisse einer Gemeinde,
        die auch ihr kulturelles Zentrum in den Bauten erkennt. Dabei haben die
        Gläubigen keine Mühen und Kosten gescheut, um ihren liturgischen Feiern
        und Festen einen ihnen würdigen Rahmen zu verleihen. Mag sich auch der
        äussere Rahmen gewandelt haben, der Kern der Feier ist der gleiche
        geblieben. Hier haben die Menschen Kraft geschöpft für ihren nicht immer
        leichten Alltag, der geprägt war von menschlichem Leid und Verlust.
        Dabei konnten sie sich als Gemeinschaft verstehen, die ihre Sinnes- und
        Glaubensquellen aus der Kirche schöpften. Als Ausdruck des Gedenkens an
        unsere Vorfahren im Glauben können die monatlich abgehaltenen
        Gottesdienste in der öffentlich zugänglichen Ausgrabungsstätte gedeutet
        werden, die in die Tradition dieses besonderen Ortes eintauchen. Die
        zeitlose Kontinuität kommt durch die eingangs erwähnte Ausgestaltung des
        Kirchenraumes von Hans Arp zum Ausdruck, der sich in seiner schlichten
        Formensprache auf die wesentlichen und die liturgischen Traditionen
        tragende Zeichensprache bezieht.
      </p>
      <img
        class="bild"
        src="../../../assets/images/oberwil-hansarp/bild5.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Ausgrabungsstätte unter dem Kirchenschiff. (Bild: Jonas Engeler)
      </p>

      <p class="autor">
        Jonas Engeler ist Theologiestudent im Bachelor an der Theologischen
        Hochschule Chur
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Baur Hans Peter: Kirche St. Peter und Paul Oberwil BL, Basel 1997.
          </li>
          <li>
            Martinoli Simona/Scotti Roland: Public Arp: Hans Arp –
            Architekturbezogene Arbeiten, Zürich 2019.
          </li>
          <li>Ryf Pascal: Oberwil – einst und heute, Basel 2016.</li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
