<div class="container">
    <div class="cover">
        <div class="textWrapper">
            <p>theos</p>
            <h1>Kontakt</h1>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="content">
        <ul>
            <li>Adresse des Instituts für Historische Theologie: Institut für Historische Theologie | Universität Bern |
                Länggassstrasse 51 | CH 3012 Bern</li>
            <br>
            <li>Emailadresse theos@theol.unibe.ch – an alle: MS, KH, ML, ABS</li>
        </ul>
    </div>
</div>