<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'vatikan-garde/Bild0.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Viele Länder und Konfessionen haben in Rom ihre eigene Kirche. So
        befindet sich zwischen der Piazza Navona und dem Pantheon die
        französische, römisch-katholische Staatskirche
        <i>San Luigi dei Francesi</i>. Ganz in der Nähe steht auch die deutsche,
        römisch-katholische Kirche <i>Santa Maria dell’ Anima</i> und beinahe
        angrenzend an den Park der Villa Borghese liegt die
        evangelisch-lutherische, vornehmlich deutsche, Christuskirche. Keine
        Sprachregion und keine Konfession der Schweiz ist in Rom mit solch einem
        Aussenstandort vertreten. Dennoch ist die Schweiz seit Jahrhunderten mit
        der ewigen Stadt – genauer mit dem Vatikan – verbunden und auf Fotos
        unzähliger Touristen festgehalten. Die Schweizer Gardisten sind dank
        ihren bunten Uniformen und ihrem noch prominenteren Protegé, dem Papst,
        wohl in der ganzen Welt bekannt.
      </p>

      <h2>Vatikan</h2>
      <p>
        Der Vatikan – der Ort der Schweizer Garde – ist wohl eine der
        bedeutendsten Stätte für das Christentum und insbesondere für die
        römisch-katholische Kirche. Der Vatikan ist nicht nur der Sitz des
        Papstes und somit Zentrum dieser Konfession, sondern auch die letzte
        Ruhestätte unzähliger selig- und heiliggesprochener Päpste und anderer
        Personen, wobei das angebliche Grab des Apostels Petrus wohl das
        bekannteste sein dürfte. Genau dort geschieht eine Symbiose von Religion
        und Abstraktem (Menschen und Gegenstände), denn indem ihnen Heiligkeit
        zugesprochen wird, wird jemandem oder etwas auch eine Strahlkraft
        attestiert. Religion wird wortwörtlich greifbar. Gleichzeitig entsteht
        auf diese Art etwas, was nicht substituierbar ist und daher beschützt
        und im Notfall auch verteidigt werden muss. Gerade deshalb gibt es wohl
        auch die Schweizer Garde, die diese Aufgaben seit Jahrhunderten als
        Militärkorps wahrnimmt und hier als bedeutsamen Ort der Schweiz
        aufgenommen wird.
      </p>

      <h2>Anfänge der Schweizer Garde</h2>

      <p>
        Die Geschichte der Garde beginnt anfangs des 16. Jahrhunderts. Es war
        eine Zeit des Umbruchs: Die entstehenden Universitäten, der aufkommende
        Humanismus, die Reformbestrebungen, der Konziliarismus (Frage um die
        Bestimmungsmacht über die römisch-katholische Kirche), die Reformation
        und vieles mehr stellten die Kirche vor grundlegende Fragen. Zudem hatte
        der Papst damals eine Doppelfunktion, denn er war nicht nur
        Kirchenoberhaupt der sich formierenden römisch-katholischen Konfession,
        sondern auch Herrscher über ein Reich, das in seiner Grösse mit anderen
        innerhalb Europas vergleichbar war. Insbesondere Papst Julius II.
        (1503–1513) konzentrierte sich auf letztere Aufgabe. Er verstand sich
        als Territorialfürst und wollte den anderen Herrschern in nichts
        nachstehen. Während andere Regenten sich Palastanlagen aufstellten,
        begann er mit dem Abriss von Alt-St. Peter und Aufbau des neuen
        Petersdoms. Expansionsgelüste waren ihm ebenfalls nicht fremd. So
        kämpfte er wiederholt mit den anderen Herrschern um Gebiete. Damit
        machte er sich einige Feinde und stand unter der ständigen Gefahr, Opfer
        eines Anschlags zu werden. Deshalb beorderte er schweizerische Söldner
        als Leibwache nach Rom, welche bekannte Krieger waren. Sie trafen sodann
        am 22. Januar 1506 ein. <br />Trotz der politischen Lage war die
        Geschichte dieser Söldnertruppe während den ersten zwanzig Jahren und
        über die Regierungszeit verschiedener Päpste für die damalige Zeit
        unauffällig. Dies änderte sich erst 1527, während der Regierungszeit von
        Papst Clemens VII. (1523–1534). Damals kämpften er, der französische
        König François I. (1494–1547) und der deutsche, noch nicht gekrönte
        Kaiser Karl V. (1500–1558) bereits über einige Jahre hinweg in
        wechselnden Allianzen um die Herrschaft Norditaliens und die
        Deutungshoheit in theologischen Überzeugungen. Im Schicksalsjahr 1527
        hatte sich François I. mehrheitlich herausgenommen, so dass sich der
        Streit vor allem noch zwischen dem Papst und dem Heer Karls V.
        fortsetzte. Zur gleichen Zeit verschlechterte sich die Stimmung im
        deutschen Heer unter anderem wegen Nahrungsmittelknappheit stark und da
        kam die Feindfigur Papst Clemens VII. wie gerufen. Auf ihn konzentrierte
        sich die ganze negative Energie, so dass das Heer praktisch im
        Alleingang beschloss, sich an ihm zu rächen. Bald darauf marschierten
        sie zu tausenden auf Rom zu. Die Stadt konnten sie am 6. Mai 1527 im
        Sturm erobern, da Gegenwehr kaum vorhanden war. Die päpstlichen Truppen
        waren wegen des Einsatzes in anderen Schlachten noch grösstenteils
        ausserhalb Roms. Beinahe den einzigen Widerstand gegen das mehrheitlich
        protestantische Heer des römisch-katholischen Kaisers Karl V. boten die
        damals ebenfalls mehrheitlich protestantischen Schweizer Gardisten. 147
        päpstliche Leibwächter kämpften gegen das deutsche Heer in der
        Entscheidungsschlacht, welche – je nach Quelle – vor und oder im
        Petersdom stattfand. Dabei kamen alle der 147 kämpfenden Gardisten um.
        So wurde Zeit gewonnen und Papst Clemens VII. konnte unter dem Schutz
        weiterer Gardisten über den Passetto di Borgo in seine Schutzresidenz –
        die Engelsburg – fliehen. Dort verschanzte sich Clemens VII. erst einmal
        mit den restlichen 42 Gardisten und einigen Kardinälen, während die
        feindlichen Truppen plündernd, vergewaltigend, tötend, folternd und
        andere Schandtaten begehend durch die Gassen Roms zogen. Etwa einen
        Monat später ergab sich der Papst. Dies bedeutete zwar nicht das Ende,
        aber die Plünderung Roms (italienisch <i>Sacco di Roma</i>) war ein sehr
        einschneidendes Ereignis, denn es hatte das temporäre Exil des Papsttums
        und den Verlust bedeutender Gebiete zur Folge. Gleichzeitig war das auch
        eine Art ewiger Vertragsschluss zwischen der Schweizer Garde und den
        Päpsten, denn durch das Martyrium von 147 Söldnern zeigen sie Treue und
        Loyalität.
      </p>

      <img
        class="bild"
        src="../../../assets/images/vatikan-garde/Bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Engelsburg: ehemaliger Zufluchtsort und Schutzburg der Päpste bei
        Gefahr. (Bild: Joel Heinzmann)
      </p>

      <h2>Gardisten heute</h2>

      <p>
        Heute haben sich viele Dinge verändert und doch steht die Schweizer
        Garde nach über 500 Jahren noch immer an den Eingängen zum Vatikan.
        Früher wurden viele junge Schweizer aus Armutsgründen Söldner. Sie
        kämpften in unterschiedlichen, fremden Heeren unter der ständigen Gefahr
        vom Schlachtfeld vielleicht nie wieder lebend heimzukehren, aber mit der
        Hoffnung durch ihren Verdienst ihre Familien ernähren zu können. Heute
        ist dies wohl kaum mehr ein Grund in die Schweizer Garde einzutreten.
        Die Schweiz ist nicht mehr ein armes Land. Um das blanke Überleben
        sollte niemand mehr fürchten müssen. Dennoch gibt es jährlich immer noch
        etwas über dreissig junge Männer, die zur Schweizer Garde gehen. Deren
        Motivation ist bestimmt multifaktoriell. Ein Grund, der gleichermassen
        Motivation und Voraussetzung ist, hängt wohl eng mit der Theologie
        zusammen. Die Gardisten müssen praktizierende Katholiken sein. Sie
        machen regelmässig Exerzitien, haben eine eigene Kapelle und einen
        eigens für sie abgeordneten Kaplan. Darüber hinaus nützen einige die
        Zeit auf der Wache, um sich mit religiösen Texten zu befassen. Doch auch
        der normale Berufsalltag der Gardisten ist eng mit der
        römisch-katholischen Kirche verbunden, denn als Leibwache des Papstes
        arbeiten sie nicht nur für die Kirche, sondern würden auch für sie
        sterben, wie sie in der Vereidigung schwören. Deshalb erstaunt es wohl
        nicht, dass ihre biographischen Erzählungen ähnlich lauten wie die von
        anderen Kirchen- und Ordensleuten: Sie fühlen sich berufen.
      </p>

      <img
        class="bild"
        src="../../../assets/images/vatikan-garde/Bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Zwei Schweizer Gardisten in der Galauniform. (Bild: Tabea Stauffer)
      </p>

      <h2>Bedeutung</h2>

      <p>
        Die Gardisten sind also nicht nur die Leibwache des Papstes und stehen
        auf diese Art eng in Verbindung mit der römisch-katholischen Kirche,
        sondern sie sind auch ein Beispiel der sich wandelnden Kirche. Im
        Zeitalter der Glaubenskriege entstand diese bewaffnete, religiöse
        Kompanie. Im Zeitalter des Martyriums erlitten 147 Gardisten das
        Martyrium und legten somit in einer Zeit, in der vieles im Aufbruch war,
        den Grundstein für ihren Dienst. Und heute – Jahrhunderte später – gehen
        sie immer noch mit der Zeit. In der Ära von <i>Social Media</i> lässt
        sich die Garde nicht abhängen, sondern geht mit eigenen Kanälen mit dem
        Geist der Zeit. Gleichzeitig ist es eine Zeit von Kirchenreformen und
        auch hier geht die Garde mit. Die Bestimmungen in der Garde erneuern
        sich. So lockerte Papst Franziskus alias Jorge Bergoglio (*1936) das
        Heiratsreglement der Gardisten. Aktuell ist die Schweizer Garde also
        durch Personen, Traditionen, Geschichten und Legenden ebenso mit der
        Schweiz verbunden wie mit der Kirche und somit der Theologie und es ist
        anzunehmen, dass sich das so auch fortsetzt.
      </p>

      <p class="autor">
        Tabea Stauffer ist Theologiestudentin im Master an der Universität Bern.
        Von 2022 bis 2023 absolviert sie ein Studienjahr in Rom.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Guardia Svizzera, verfügbar unter:
            <a
              target="_blank"
              href="https://www.guardiasvizzera.ch/paepstliche-schweizergarde/de"
              >www.guardiasvizzera.ch</a
            >
            .
          </li>
          <li>
            Chastel, André: Il sacco di Roma. 1527, Torino <sup>2</sup>2010.
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
