<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'monte-verita-wahrheitswege/bild0.jpeg'"
>
</app-title-image>

<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p style="font-style: italic">David Plüss zum 60. Geburtstag</p>
      <br />

      <p id="firstParagraph">
        Natürlich kann jeder Berg – je nach Weg- und Begehungserfahrung – zum
        Berg der Wahrheit werden. Das Erlebnis des Aufstiegs und die dadurch
        errungene Perspektive der entsprechenden Weitsicht können
        aussergewöhnlich sein und allem tagtäglichen Leben im Tal zur neuen
        Offenbarung werden. Deshalb erscheint es um so erstaunlicher, dass nur
        einem Berg der Schweiz genau dieser Name, <i>Monte Verità</i> (Berg der
        Wahrheit) gegeben wurde – wenn man denn überhaupt bei einer Höhe von 322
        m.ü.M. von einem Berg sprechen will. Noch Anfang des 20. Jahrhunderts
        handelte es sich dabei um einen durch Reblausbefall bedrohten Weinberg,
        auf dessen kahler Kuppe Schaf- und Ziegenhirten ihre Herden weiden
        liessen. Aber im Jahr 1900 wurden der belgische Industrielle Henri
        Oedenkoven (1875–1935) und die Musikerin Ida Hofmann (1864–1926) bei der
        Suche nach einem Lebensort genau hier in Ascona fündig. Auf eben jenem
        Hügel gründeten sie ihre «vegetabile Cooperative», eine
        Siedlungsgemeinschaft auf zunächst veganer und später vegetarischer
        Grundlage und gaben dieser 1902 den Namen Monte Verità. Es waren also
        europäische, anarchisch und pazifistisch gesinnte Intellektuelle, die
        diesen Platz gleichsam als alternativ-lebenskulturellen Zauberberg mit
        Blick auf den Lago Maggiore für sich ausgewählt hatten.
      </p>

      <img
        class="bild"
        src="../../../assets/images/monte-verita-wahrheitswege/bild0.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Der Blick vom Monte Verità über den Lago Maggiore. (Foto: Thomas Schlag)
      </p>

      <img
        class="bild"
        src="../../../assets/images/monte-verita-wahrheitswege/bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Der Blick vom Bauhaushotel auf dem Monte Verità auf den Meditationsweg.
        (Foto: Thomas Schlag)
      </p>

      <p class="autor">autor</p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li></li>
          <li></li>
          <li>
            textb4link (Leerzeichen am Schluss)
            <a target="_blank" href="https://websitelink">text</a>
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
