<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'bethlehem-kirche/bernbetlehem.jpg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Bethlehem liegt in Bern. Weshalb der Ortsteil im Westen der Stadt so
        heisst, ist nicht mehr eindeutig zu klären, urkundlich belegt ist er
        seit Beginn des 16. Jahrhunderts. Das Gebiet gehörte zur Ortschaft
        Bümpliz, die aufgrund finanzieller Probleme 1918 in die Stadt Bern
        eingemeindet wurde. Bethlehem war bis in die 1930er Jahre eine
        landwirtschaftlich genutzte Fläche mit wenigen Häusern. In Folge der
        Bevölkerungszunahme ab den 1940er Jahren und der sich daraus ergebenen
        Wohnungsknappheit wuchs das Quartier. Es entstanden die ersten
        Hochhaussiedlungen der Schweiz, die international Aufmerksamkeit
        erlangten wie das Tscharnergut, einer schon in den 1950er Jahren
        verkehrsfreien Grossüberbauung mit einer Mischung aus verschiedenen
        Wohnhaustypen, die von Grünflächen umgeben sind. Das «Tscharni» folgt
        der architektonischen Idee einer Trabantenstadt, einer Stadt im
        peripheren Bereich einer Stadtregion, die neben der Wohnfunktion auch
        einen eigenen Erwerbs- und Versorgungsbereich ausweist. <br />
        Im Überbauungsplan für das Quartier Bethlehem war von Anfang an eine
        Fläche für eine Kirche freigehalten. Zu dieser Zeit war das
        Parochialparadigma von Kirche, zu jedem Quartier habe eine Kirche zu
        gehören, selbstverständlich für die Stadt- und Quartierentwicklung. Bei
        einem Wettbewerb gewann das Projekt vom Architekten Werner Küenzi
        (1921–1997), der zuvor in unmittelbarer Nachbarschaft mit dem «Neuhaus»
        eine für Bern neuartige, gemischte Siedlungsform realisierte. Gebaut
        wurde die Kirche in den Jahren 1958–60, eingeweiht am 11. September
        1960. <br />
        Die Kirche Bethlehem ist als Ensemble konzipiert. An die Kirche
        schliesst das Kirchgemeindehaus an. Dem Kirchgemeindehaus vorgelagert
        ist die ehemalige Sigristenwohnung, in dem sich heute das
        sozialdiakonische Projekt «Café mondiaL» befindet. Westseitig gehört zum
        Ensemble das Pfarrhaus. Der Glockenturm steht der Kirche gegenüber.
        Augenfällig ist aber vor allem, dass nicht die Kirche im Mittelpunkt des
        Ensembles steht, sondern ein grosser freier Platz.
      </p>

      <img
        class="bild"
        src="../../../assets/images/bethlehem-kirche/bernbetlehem.jpg"
        alt=""
      />
      <p class="bildunterschrift">
        Kirchenplatz Bethlehem. (Bild: Daniel Fischer)
      </p>

      <h2>Kirchenarchitektur als in Stein gebaute Theologie</h2>
      <p>
        Kirchenarchitektur ist in Stein gebaute Theologie. Für die Denkmalpflege
        der Stadt Bern ist Bethlehem ein Markstein des protestantischen
        Kirchenbaus der Nachkriegszeit in der Schweiz. Kirche, so das leitende
        Paradigma seit den 1950er Jahren, habe nicht schwerpunktmässig am
        Sonntag im Gottesdienst stattzufinden, sondern die Woche durch. Das
        hatte Folgen für den Kirchenbau. In Deutschland wurden in der Zeit
        zwischen 1950–1980 über 5´500 Kirchgemeindehäuser gebaut, im Schnitt
        wurde damit alle 1.9 Tage eines eröffnet. Auch in der Schweiz entstanden
        in dieser Zeit viele Kirchgemeindezentren, die dabei dem
        Parochialparadigma folgten, dass jede Kirchgemeinde alle kirchlichen und
        darüber hinaus möglichen Angebote abzudecken habe und hierfür Raum
        benötige. <br />
        In Bethlehem gibt es Platz. Mit dem freien Platz in der Mitte steht für
        Bethlehem der Begegnungsgedanke im Mittelpunkt. Es ist eine Kirche
        mitten im Quartier fürs Quartier. Dieser Platz wird von Menschen
        unterschiedlicher Herkunft und Religion genutzt. Der Anteil der
        ausländischen Bevölkerung in Bethlehem liegt bei über 40% und damit
        deutlicher höher als der Gesamtdurchschnitt in der Stadt Bern (25%). Die
        Kirchgemeinde reagierte darauf, indem sie diakonische Schwerpunkte
        setzte und dafür Strukturen mit Stellenprozenten schuf sowie
        Räumlichkeiten umbaute. Sie hat heute ein sozialdiakonisches Profil und
        ist für alle Menschen im Quartier da, unabhängig von Herkunft und
        Religion. <br />
        Die Kirchgemeinde Bethlehem bietet Hilfe zur Selbsthilfe und ist
        partizipativ ausgerichtet. Mit dem «Café mondiaL» erhalten Menschen die
        Möglichkeit, in den Arbeitsmarkt (wieder) hineinzukommen.
        Interkulturelle Müttertreffen, Alltagsorientierung, Deutsch- und
        Arabischkurse etc. finden im Kirchgemeindezentrum neben den reformierten
        Kirchgemeindeveranstaltungen statt. Für Aussenstehende mag es
        irritierend klingen, aber in Bethlehem ist es nicht unüblich, wenn
        beispielsweise Muslima von «ihrer» Kirche reden.
      </p>
      <img
        class="bild"
        src="../../../assets/images/bethlehem-kirche/bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Innenraum der Kirche Bethlehem. (Bild: Daniel Fischer)
      </p>
      <h2>Wenn der Kirchenraum Geschichten erzählt</h2>
      <p>
        Der Innenraum der Kirche folgt zunächst einem klassisch reformierten
        Programm. Die liturgische Hauptachse geht über den Abendmahlstisch zur
        Predigtkanzel. Die Wand vorne ist in schlichtem Weiss gehalten und
        bildfrei. Zwei Bronzeplastiken von Marcel Perincioli (1911–2005)
        symbolisieren auf der linken Seite «Verkündigung» und auf der rechten
        Seite «Hören». Halbkreisförmig sind die Sitzbänke aufgestellt, die
        arenaförmige Anordnung betont die Gemeinschaft der hier Versammelten.
        <br />
        Doch der Kirchenraum füllte sich mit der Zeit und erzählt Geschichten
        von prägenden Begegnungen. Der ehemalige Gemeindepfarrer Markus Wyss
        (*1937) brachte aus seiner Zeit in Kamerun geschnitzte Bildtafeln mit,
        die er dort beim muslimischen Künstler Nji Osmanu Njoya in Auftrag
        gegeben hatte. Dieser stellte afrikanische Alltagssituationen dar sowie
        drei biblische Geschichten. Eindrücklich ist seine Darstellung des
        barmherzigen Samariters. Dann befindet sich, überraschend für eine
        reformierte Kirche, ein Kreuz mit Corpus im Raum. Es ist das Geschenk
        der römisch-katholischen Kirchgemeinde St. Mauritius für die erfahrene
        Gastfreundschaft. Die Kirchgemeinde hatte, als ihre Kirche zwischen
        1987–1989 neu gebaut wurde, Gastrecht in der reformierten Kirche
        erhalten und feierte dort ihre Messe. Bis heute besteht eine vielfältige
        ökumenische Zusammenarbeit vor Ort. Zudem gibt es ein mobiles Tabernakel
        in der Kirche, das ein Kunstschreiner aus Zagreb für diese Kirche schuf.
        Denn seit 2018 ist die kroatische Mission zu Gast in der Kirche und
        feiert hier ihre Messe. Dass bei der Einsegnung des Tabernakels der
        reformierte Pfarrer mitzuwirken hatte, war für die kroatische
        Kirchgemeinde selbstverständlich. Neben der kroatischen Mission ist
        schliesslich eine evangelische äthiopische Kirchgemeinde zu Gast in
        Kirche und Kirchgemeindehaus.
      </p>

      <p>
        Die Zukunft der Kirche Bethlehem ist aktuell in Frage gestellt. Es gibt
        konkrete Pläne im Stadtverband, aus finanziellen Gründen die Kirche zu
        entwidmen und zu veräussern. Theologische Überlegungen spielen dabei
        keine Rolle. Dabei besteht die theologische Bedeutsamkeit der Kirche
        Bethlehem gerade in ihrem Pragmatismus, im Quartier mit Menschen
        unterschiedlicher Konfessionen, Religionen und kulturellen Hintergründen
        unterwegs zu sein und gemeinsame Geschichten zu ermöglichen. Bethlehem
        steht für Lösungsfindung und stellt sich damit in die biblische
        Bethlehem-Tradition, dennoch einen Platz zu geben, selbst wenn es nicht
        möglich scheint. Die Kirche Bethlehem bietet einen Ort, an dem
        Netzwerkarbeit stattfindet und eine Caring Community im Wachsen ist. Sie
        ist zu einem kirchlichen Ort geworden, der Platz gibt und Raum schafft.
      </p>

      <p class="autor">
        Andreas Köhler-Andereggen leitet an der Theologischen Fakultät der
        Universität Bern die KOPTA, die Koordinationsstelle für
        praktikumbezogene theologische Ausbildung, eine fakultäre Einheit, die
        unter anderem für das Praktische Semester und das Lernvikariat
        verantwortlich ist. Er selbst war von 2016–2017 Kirchgemeinderat in
        Bethlehem und ist bis heute als Freiwilliger an diesem kirchlichen Ort
        aktiv.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier: 
        </p>
        <ul style="margin-top:0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a style="color: black" routerLink="/{{ author.pathname[i] | removeshitespaces | lowercase }}">
              {{author.location[i]}}: 
              {{author.shorttitle[i]}} 
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            d’Alessandro, Maria: «Werner Küenzi (1921–1997)», in: Berner
            Heimatschutz. Region Bern-Mittelland: Heimat heute 2013, Bern 2013,
            4–8.
          </li>
          <li>
            Schramm, Steffen / Hoffmann, Lothar: Gemeinde geht weiter. Theorie-
            und Praxisimpulse für kirchliche Leitungskräfte, Stuttgart 2017,
            bes. 25–31.
          </li>
          <li>
            Schröter, Anne-Catherine u.a.: Siedlungen der Nachkriegszeit. Kanton
            Bern, Bern 2018.
          </li>
        </ul>
      </div>

           <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
