<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'trouvaille-herrengasse13/Bild1.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p style="font-style: italic">
        Diese Miniaturen erschienen bis auf wenige Ausnahmen zwischen 2006 und
        2008 im «saemann», der Vorgängerzeitung von «reformiert.» Sie führen zu
        oft übersehenen Orten und Monumenten der bernischen und schweizerischen
        Kirchengeschichte. Der Umfang war jeweils vorgegeben. Die Texte möchten
        auf engem Raum in chronologisch-thematischer Ordnung narrativ und
        kontemplativ eine kleine Theologie entfalten. (RD)
      </p>
      <br />

      <p id="firstParagraph">
        Die Glasfenster in der römisch-katholischen Dreifaltigkeitskirche in
        Bern erzählen bis auf drei von heiligen Frauen und Männern mit grosser
        Bedeutung für unser Land. Dasjenige über den heiligen Beatus stammt vom
        Freiburger Maler Jean-Edouard de Castella (1881–1966).
      </p>
      <p>
        Die Geschichte geht so: Beatus, vom Apostel Petrus in die heutige
        Schweiz entsandt, gelangt ins Gebiet um den Thunersee. Er predigt das
        Evangelium, heilt Blinde, Lahme und Kranke und führt ein vorbildliches
        Leben. In seinen alten Tagen lässt er sich über den See fahren, um sich
        in eine Höhle zurückzuziehen. Den wilden Drachen, dem er dort begegnet,
        vertreibt er mit Gebet und dem Zeichen des Kreuzes. Der Rest ist
        Vorbereitung auf den Tod, der am 9. Mai im Jahr 112 n. Chr. eintritt.
        Beatus wird in der Höhle bestattet. Bald pilgern Gläubige von weit her
        zu seinem Grab, an dem Wunder geschehen. <br />
        Wie setzt der Maler das um? Unten rechts vertreibt der Heilige den
        Drachen, in der Mitte, gross, predigt und heilt er, oben links fährt er
        über den See, und daneben wird er zur letzten Ruhe gebettet. Und dies –
        davon muss man sich vor Ort überzeugen – in kräftigen, fein aufeinander
        abgestimmten Farben. Der Wille des Malers, die Würde des Heiligen zum
        Ausdruck zu bringen, ist eindrücklich. <br />
        Historisch ist die Geschichte nicht. Historisch ist nicht die
        Beatusgestalt, sondern der Beatuskult. Das hat die Forschung, auch die
        katholische, gezeigt. Also weg damit? Das hiesse das Kind mit dem Bad
        ausschütten. Legenden haben ihre eigene Realität. <br />
        Ein Beispiel: Beatus besucht in Einigen den Gottesdienst. (Die Kirche
        ist auf dem Fenster unten links zu sehen.) Der heilige Justus predigt.
        Die Gemeinde beginnt zu dösen. Da entdeckt Beatus den Teufel. Dieser
        hockt unter der Kanzel und notiert die Namen der Schläfer auf einer
        Bockshaut. Beatus ist entsetzt, sind diese doch, wenn sie nicht vor dem
        Amen erwachen, alle verloren. Die Liste wächst, so dass auf der Haut
        kein Platz bleibt. Da klemmt sich der Teufel das eine Ende zwischen die
        Zähne, packt das andere mit den Klauen, dehnt den Fetzen, und da reisst
        dieser, ratsch, entzwei. Der Teufel purzelt hintenüber, schlägt mit dem
        Kopf an die Kanzel. Beatus siehts und lacht, er lacht, bis auch der
        letzte Schläfer erwacht, und schon sagt der heilige Justus Amen. <br />
        Manchmal sollte man dem Drachen, dem Teufel entgegentreten. Manchmal
        sollte man über ihn lachen. Das mag er so wenig leiden wie das Kreuz.
      </p>

      <img
        class="bild"
        src="../../../assets/images/trouvaille-beatuslacht/Bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Glasfenster in der Dreifaltigkeitskirche Bern: Das Leben des heiligen
        Beatus. (Bild: Adriana Basso Schaub)
      </p>

      <p class="autor">
        Dr. Rudolf Dellsperger ist ein Schweizer Theologe und emeritierter
        Professor für Neuere Kirchengeschichte, Konfessionskunde und
        Theologiegeschichte an der Universität Bern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Stettler, Bernhard: Studien zur Geschichte des obern Aareraums im
            Früh- und Hochmittelalter, Beiträge zur Thuner Geschichte, Bd. 2,
            Thun 1964, 91–104.
          </li>
          <li>
            Känel, Ernst von: Streiflichter zur Christianisierung des
            Thunerseegebiets und der angrenzenden Regionen. Dargeboten als
            Auseinandersetzung mit den landläufigen Vorstellungen anhand der
            umfangreich vorliegenden Ergebnisse geschichtlicher Forschung,
            Berlin 2005, 21-42.
          </li>
        </ul>
      </div>

      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
