<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'trouvaille-herrengasse13/Bild1.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p style="font-style: italic">
        Diese Miniaturen erschienen bis auf wenige Ausnahmen zwischen 2006 und
        2008 im «saemann», der Vorgängerzeitung von «reformiert.» Sie führen zu
        oft übersehenen Orten und Monumenten der bernischen und schweizerischen
        Kirchengeschichte. Der Umfang war jeweils vorgegeben. Die Texte möchten
        auf engem Raum in chronologisch-thematischer Ordnung narrativ und
        kontemplativ eine kleine Theologie entfalten. (RD)
      </p>
      <br />

      <p id="firstParagraph">
        An der Herrengasse 13 in Bern, auf halbem Weg zwischen Münster und
        Casino, steht das Haus von Wolfgang und Margaretha Müslin. Hier sind sie
        im Jahr 1549 eingezogen. Hinter ihnen lagen die Flucht aus dem
        weitgehend rekatholisierten Augsburg und eine schwere Zeit der
        Ungewissheit. Nun war Wolfgang Müslin Theologieprofessor der an Berns
        Hoher Schule. Müslins benötigten für ihre bald neunköpfige Familie zwei
        Häuser. 1560 konnten sie diese zum Doppelhaus umbauen. Sie liessen über
        der Eingangstür die Jahrzahl (M.D.LX.), Wolfgangs Initialen (W.M.) und –
        auf dem Kielbogen auf Hebräisch – den Anfang von Psalm 127 anbringen:
        «Wenn der Herr nicht das Haus baut, so mühen sich umsonst, die daran
        bauen.»
        <br />
        Was haben sie sich bei diesem Spruch gedacht? Von Wolfgang gibts in der
        Stadt- und Universitätsbibliothek einen Psalmenkommentar von 1551: einen
        dicken Folianten in prächtigem Einband, ein Meisterwerk der Exegese,
        entstanden in zwanzigjähriger Arbeit, geschrieben in elegantem Latein
        und auch typographisch eine Augenweide. «Wenn der Herr nicht das Haus
        baut, so mühen sich umsonst, die daran bauen.» Dieser Satz und mit ihm
        die beiden ersten Psalmverse möchten Mut machen, schreibt Musculus (so
        sein Gelehrtenname). Mut machen all jenen, die in Haus, Familie und
        Staat Verantwortung tragen, jenen, die sich in Angst um ihr Aus- und
        Durchkommen verzehren, jenen, die früh aufstehen, spät niedergehen und
        ihr Schmerzensbrot essen, jenen, deren Schlaf gestört ist. Oft braucht
        Musculus dabei die Vokabel sollicitudo – zu Deutsch: Unruhe, Besorgnis,
        Kummer – und fügt bei: Friede und Wohlergehen in Familie und Staat
        hängen nicht davon ab, sondern allein von Gottes gütiger Vorsehung. Wer
        auf diese baue, könne sich entspannen und in ihrem Dienst wirken. In
        diesem Sinn plädiert Wolfgang für gläubige und zugleich tätige
        Gelassenheit. <br />
        Und Margaretha Müslin? Sie hat nichts Schriftliches hinterlassen.
        Wahrscheinlich konnte sie nicht schreiben. Aber einem Brief Wolfgangs an
        Heinrich Bullinger vom September 1549 ist zu entnehmen, dass sie grosse
        finanzielle Sorgen plagten. Wolfgangs Gehalt reichte für den
        Lebensunterhalt der Familie nicht aus. Margaretha musste auf die
        Reserven zurückgreifen. Sie fürchtete bald mit leeren Händen dazustehen.
        Bald würden diese aufgebraucht sein, die Existenzangst quälte sie Tag
        und Nacht. Er wünschte, er könnte seiner Frau die Sorgen abnehmen,
        schreibt Wolfgang in seinem Brief. Wenn der Berner Rat kein Einsehen
        habe, bleibe ihm nichts anderes übrig, als dies Gottes Fürsorge
        anheimzustellen.<br />
        Margarethas Notlage gehört zum Hintergrund von Wolfgangs
        Psalm-Auslegung, die um dieselbe Zeit entstanden sein dürfte wie der
        Brief. Die Aspekte menschlichen Kummers und göttlicher Vorsehung kehren
        im Brief wörtlich wieder. Dieser ist der anschauliche und notwendige
        Kommentar zum Kommentar. Er gewährt Einblick in den Haushalt an der
        Herrengasse 13 und zeigt, dass die Rede von der Vorsehung im Fall des
        Ehepaars Müslin nicht blutleer, sondern mit Leben erfüllt war. <br />
        Psalm 127 ist Erinnerung im doppelten Sinn des Wortes: dankbarer
        Rückblick auf ein Stück eigenen Weges und Ermutigung für Andere. So
        werden es Müslins gemeint haben, als sie 1560, Jahre später also und in
        besseren Zeiten, am Kielbogen ihres Hauseingangs diesen Hausspruch
        meisseln liessen.
      </p>

      <img
        class="bild"
        src="../../../assets/images/trouvaille-herrengasse13//Bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Herrengasse 13: Was die Inschrift über der Tür mit dem Schicksal
        früherer Bewohner:innen zu tun hat. (Bild: Adriana Basso Schaub)
      </p>

      <p class="autor">
        Dr. Rudolf Dellsperger ist ein Schweizer Theologe und emeritierter
        Professor für Neuere Kirchengeschichte, Konfessionskunde und
        Theologiegeschichte an der Universität Bern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Brockhoff, Evamaria / Jahn, Wolfgang / Kirchmeier, Josef (Hg.): «...
            wider Laster und Sünde». Augsburgs Weg in der Reformation. Katalog
            zur Ausstellung im St. Anna, Augsburg 26. April bis 10. August 1997,
            Augsburg 1997, 176–221 (Veröffentlichungen zur Bayerischen
            Geschichte und Kultur 33), 62–69.
          </li>
          <li>
            «... die wysheit gottes uf den gassen». Wolfgang Musculus
            (1497–1563) und die Reformation. Begleitheft zur Ausstellung im
            Berner Münster vom 19. September bis 9. November 1997, in: Berner
            Zeitschrift für Geschichte und Heimatkunde 59 (1997), Heft 3.
          </li>
          <li>
            Dellsperger, Rudolf / Freudenberger, Rudolf / Weber, Wolfgang (Hg.):
            Wolfgang Musculus (1497–1563) und die oberdeutsche Reformation,
            Berlin 1997 (Colloquia Augustana 6).
          </li>
        </ul>
      </div>

      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
