<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'undervelier-quellgrotte/Bild0.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        An einer Landstrasse knapp zehn Gehminuten von der kleinen jurassischen
        Gemeinde Undervelier entfernt, liegt unscheinbar und beinahe ein wenig
        versteckt am linken Ufer der Sorne, die Quellgrotte der Sainte-Colombe.
        Ein von der Strasse durch eine Mauer und ein Tor abgegrenzter Kiesweg
        führt über eine sorgfältig gepflegte Wiese zu einem weiteren Tor und zu
        einem grossen im Halbdunkeln stehenden Kreuz. Hinter diesem eröffnet
        sich eine eindrucksvolle natürliche Grotte und zugleich eine innere
        stillere Welt. Dass der Ort grosse Anziehungskraft besitzt, lässt sich
        an den vielen Kerzen, Blumen, Briefen, Marienstatuen und Engelfiguren
        erkennen, die bereits am Eingang hinterlassen wurden. Regelmässig muss
        der Hüter der Grotte – André Simon (*1940) – Ordnung in der Menge dieser
        Devotionalien schaffen. Die meisten Votivgaben – kleine Gelübde- und
        Gedenkgaben, die häufig mit einer konkreten Bitte oder mit Dank für
        erhaltene Hilfe verbunden sind – finden sich jedoch im hinteren Bereich,
        am Beckenrand der kleinen Quelle zu Füssen einer Statue der heiligen
        Columba. Dem aus einem natürlich geformten Quellaustritt fliessendem
        Wasser wird eine heilende und fruchtbarkeitsversprechende Wirkung
        nachgesagt. Es lässt sich schwer sagen, ob die Faszination des Ortes der
        Grotte, der Quelle oder der Heiligen zuzuschreiben ist. Dass jedoch
        weder das 21. Jahrhundert noch die auf der Landstrasse laut
        vorbeiziehenden Autos und Motorräder die kontemplative Wirkung des Ortes
        zu stören vermögen, ist sicher. Und das ist auch gut so, denn der auf
        den ersten Blick unauffällig erscheinende Wallfahrtsort, der zu Beginn
        des Spätmittelalters einer bis dahin im Jura unbekannten christlichen
        Märtyrerin geweiht wurde, hat eine bewegte und bis zur Jungsteinzeit
        zurückreichende Geschichte zu erzählen.
      </p>

      <img
        class="bild"
        src="../../../assets/images/undervelier-quellgrotte/Bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Blick von der Strasse auf das 7 Meter hohe und 26 Meter breite Abri der
        Grotte, einem durch Erosion entstandenen, zumeist in Tälern von
        Jurakalkgebieten- oder Buntsandstein gelegenen Felsüberhang. (Bild:
        Janina Ammon)
      </p>
      <h2>In stetiger Bewegung – Ein wandelbares Heiligtum</h2>
      <p>
        Bereits 1868, 1942 und zuletzt 1994, wurden im Innern der Grotte
        archäologische Grabungen durchgeführt. Dabei wurden nebst Funden aus der
        Jungsteinzeit und Tonscherben aus der Bronzezeit auch Spuren aus der
        Römerzeit und dem Mittelalter zu Tage gefördert. Der jurassische
        Gelehrte Auguste Quiquerez (1801–1882), der die erste Grabung leitete,
        suchte während eines halben Jahrhunderts im Jura nach Spuren dieser
        vergangenen Zeiten. Er zeigte in zahlreichen Publikationen auf, wie
        stark Quellen- und Baumkulte im Juragebiet verwurzelt waren. Quiquerez
        begründete auch die These einer druidischen Priesterin, welche die
        Quelle als Jungbrunnen genutzt habe. Sie soll in der kleinen Höhle auf
        dem der Grotte gegenüberliegendem Berg gelebt haben, in der sich der
        Legende nach später auch die heilige Columba niederliess. Dass die
        Quelle seit dem 13. Jahrhundert dieser christlichen Heiligen geweiht
        ist, bezeugen Einträge in den Pfarrbüchern von Undervelier. <br />
        In der zweiten Hälfte des 18. Jahrhundert gelangte die Statue der
        heiligen Columba, welche über der Quelle thront, gemeinsam mit einer
        heute leider verschollenen Bärenskulptur, als Geschenk des letzten
        Fürstbischofs von Basel, Joseph Sigismond de Roggenbach (1726–1794), in
        die Grotte. Im Jahr 1842 ersuchte der damalige Pfarrer von Undervelier,
        Joseph Bourquard (1805–1882), den Bürgerrat, dass der Ort, an welchem im
        Sommer religiöse Feiern abgehalten wurden, im Winterhalbjahr nicht mehr
        als Lagerplatz für Holzkohle, als Schopf oder Tierstall benutzt werden
        dürfe. Die vom Pfarrer beklagten Zustände lassen darauf schliessen, dass
        der Kult um die Heilige in der ersten Hälfte des 19. Jahrhunderts
        abgenommen hatte, durch das Erstarken der Volksfrömmigkeit in der
        zweiten Hälfte jedoch wieder intensiviert wurde. Dies führte zur
        Errichtung des hinteren Zaunes und dem Tor, welches heute durchquert
        werden muss, um ins Innere der Grotte zu gelangen. Beides wurde in der
        nahen Eisenhütte hergestellt und von Julie Finot (1787–1870), der
        frommen Gattin des damaligen Direktors François Finot (1773–1840)
        gestiftet. Die intensive Wiederaufnahme der Verehrung der heiligen
        Columba in Undervelier dauerte bis in die Mitte des 20. Jahrhunderts an.
        Erst der sich erhöhende Autoverkehr der 1950er Jahre brachte die
        beliebten, im Sommer stattfindenden Feiertagsprozessionen von
        Undervelier zur Grotte zum Erliegen. Seit 1956 jedoch, ist der Feiertag
        Maria Himmelfahrt am 15. August als «Tag der Kranken» zum grossen
        Pilgerereignis des Ortes geworden. In Anlehnung an das Wunder von
        Lourdes, werden jedes Jahr viele Menschen in die Grotte gezogen, die
        sich durch das Wasser der Quelle Heilung und Linderung durch die Gnade
        der Jungfrau Maria erhoffen.
      </p>

      <img
        class="bild"
        src="../../../assets/images/undervelier-quellgrotte/Bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Das mit Blumen geschmückte Quellbecken mit der Statue der Heiligen
        Columba, umringt von Votivgaben. (Bild: Janina Ammon)
      </p>

      <h2>
        Heilige, Hexe oder beides? Die vielen Gesichter der Sainte-Colombe
      </h2>
      <p>
        Es lassen sich über 20 frühchristliche Heilige mit dem Namen Columba
        finden. Durch die Nähe zu Frankreich kann aber angenommen werden, dass
        es sich bei der heiligen Columba in Undervelier um Kolumba von Sens
        (257–273) handelt. Eine adelige Jungfrau, die je nach Überlieferung aus
        Sens oder aus Saragossa stammte und von einer Bärin begleitet wurde, die
        sie vor Unheil bewahrte. Kolumba liess durch ein Wunder Regen fallen und
        löschte so ein Feuer, das sie und ihre tierische Gefährtin zu verbrennen
        drohte. Die Heilige soll um das Jahr 273 unter der Herrschaft von Kaiser
        Aurelian (214–275) das Martyrium erlitten haben, weil sie sich weigerte
        dessen Sohn zu heiraten. Ihr Kult war in Frankreich bereits im 6.
        Jahrhundert weit verbreitet. So waren Kolumba dort im Mittelalter fünf
        grosse Abteien und zahlreiche Brunnen geweiht und ihre Legende soll im
        frühen Mittelalter im Umkreis des Klosters Sens entstanden sein. <br />
        Auch in Spanien ist eine Heilige dieses Namens als Columba von Córdoba
        oder Columba von Spanien (gestorben 853) bekannt, die jedoch mit der
        muslimischen Herrschaft im 9. Jahrhundert in Verbindung gebracht wird.
        In dieser Version der Legende wurde die in einem Kloster lebende Nonne
        Columba, die an ihrem christlichen Glauben festhielt, von den
        andersgläubigen Invasoren enthauptet. In Galicien, im Nordwesten
        Spaniens, nahm die Legende seit spätestens dem 19. Jahrhundert nochmals
        eine andere Wendung. Dort wird Columba als Schutzpatronin der Hexen
        verehrt, aber auch zum Schutz vor diesen angerufen. Eine weitverbreitete
        Erzählung berichtet, dass Columba – eine heilkundige Hexe – einst Jesus
        begegnete, der die weise Frau und Heilerin zum christlichen Glauben
        bewegte. Dass gut ausgebildete Frauen, die sich mit Heilkunde und der
        Natur auskannten in Klöstern Schutz suchten, war lange Zeit durchaus
        üblich. <br />
        Für die Frage wie die christliche Heilige im 13. Jahrhundert in die
        fruchtbare grüne Schlucht der Sorne gelangt sein könnte, gibt es
        ebenfalls mehrere Theorien. Charles Duplain (1940–2009), ein ehemaliger
        Chronist der Grotte, schlug unter anderem vor, dass es sich bei Columba
        um eine Feminisierung des heiligen Columban (540–615) handeln könnte.
        Der irische Wandermönch und Missionar soll auf seinem Weg durch Europa
        durch den Jura gereist sein, was zu dem Übertragungsfehler in der
        mündlichen Tradierung geführt haben soll. Aber auch, dass Columba sich
        in Undervelier vor der Christ:innenverfolgung in Gallien versteckt, und
        daher eine Zeit lang in diesem Gebiet als Eremitin gelebt haben soll,
        wird erzählt. Sie sei in dieser Zeit täglich von ihrem Versteck
        heruntergestiegen, um in der Quellgrotte zu beten.
      </p>

      <h2>Verbindungen zu den weissen Frauen und Feen des Jura</h2>
      <p>
        Vielleicht lässt sich die Antwort auf die Frage jedoch am ehesten in den
        Verknüpfungen zur Natur finden, die in den Viten der Heiligen Kolumba
        von Sens und von Columba von Córdoba augenfällig scheinen. Bei Kolumba
        von Sens spielt das Element Wasser wiederholt eine tragende Rolle und es
        zeigt sich mit der Bärin sowie auch im Zusammenhang mit dem Fund ihrer
        Knochen, eine enge Verbindung zur Tierwelt. So war es ein Ochse mit
        leuchtenden Hörnern, der ihre Überreste in Sens als erstes verehrt haben
        soll. Bei Columba von Córdoba liegt die Anbindung zur Natur in der
        Erzählung der naturkundigen Heilerin oder Hexe. Erscheinungen von
        Columba wurden ausserdem als weisse, von innen heraus leuchtende Frauen
        geschildert, was an die zahlreichen weissen Frauen und Feen aus den
        Sagen des Juras anknüpft. So ist auch Kolumba von Sens’ Festtag der 31.
        Dezember, was sie mit der jurassischen Fee Tante Arie, die in
        wasserreichen Höhlen wohnt und im Dezember die Menschen beschenkt, in
        Verbindung bringen lässt. <br />
        Es kann angenommen werden, dass die Grotte bereits in früher keltischer
        Zeit zur Verehrung einer paganen Quellgottheit genutzt wurde, welche mit
        dem Erstarken des christlichen Glaubens zu der Heiligen umgeformt wurde,
        die heute in der Grotte verehrt wird. Die pagane Vergangenheit der
        Grotte spiegelt sich also direkt in der Legende der heiligen Columba
        wider, welche deutlich hervortretende Aspekte von Natur- und
        Quellenkulten aufweist. Im Jura, als keltisches Gebiet, waren solche
        weit verbreitet. Die paganen Quellgottheiten wurden durch christliche
        Heilige ersetzt, da die tief verwurzelten Kulte nicht ganz unterdrückt
        werden konnten.
      </p>

      <h2>
        Ein «weiblicher» Ort - keltische Quellgöttin, christliche Heilige und
        Madonna von Lourdes
      </h2>
      <p>
        Dass die Quelle bereits vor der Weihung an Columba als heiliger und
        kultischer Platz verehrt wurde, scheint nach der Betrachtung der
        Vergangenheit der Grotte naheliegend. Ihre Form weckt Assoziationen an
        einen fruchtbaren und schützenden Mutterleib, der einen umgibt und vor
        Ungemach bewahrt. Grotten sind daher auch nicht selten heiligen
        Frauengestalten gewidmet. Im Falle der Grotte in Undervelier wird dieser
        Eindruck zusätzlich durch die Form und Beschaffenheit des
        Quellaustrittes verstärkt. <br />
        Die heilige Columba, die bereits in Frankreich als Brunnenheilige
        verehrt wurde, hat sich dabei wohl als ideale Möglichkeit erwiesen, um
        im 13. Jahrhundert die pagane Quellgottheit in der Grotte zu
        überschreiben. Durch sie konnte die Transformation von paganer zur
        christlichen Kultstätte vollzogen werden. Bei einem Besuch in der Grotte
        und dem Verweilen vor der Quelle wird diese Überlagerung sicht- und
        spürbar. Die wandelbare Heiligkeit des Ortes wird seit den 1960er Jahren
        durch die Krankenwallfahrt, welche jährlich an Maria Himmelfahrt
        stattfindet, erneut ersichtlich. Dann nämlich wird die Grotte der
        heiligen Columba zu einer Nachbildung der Lourdesgrotte, welche sich in
        Massabielle bei Lourdes in Südfrankreich befindet, und in der seit 1858
        die Jungfrau Maria verehrt wird. Die Quellgrotte der Sainte-Colombe in
        Undervelier ist ein eindrückliches Beispiel für einen bedeutsamen Ort
        mit vielfältigen Dimensionen, welchem es seit Jahrtausenden gelingt
        Menschen anzuziehen – sei es zum Schutz, als Kultstätte einer
        Quellgöttin, zum Gedenken an weisse Frauen und Feen oder als
        Wallfahrtsort christlicher Heiligen.
      </p>

      <img
        class="bild"
        src="../../../assets/images/undervelier-quellgrotte/Bild3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Der vulvaförmige Austritt der Quelle, deren Ursprung unbekannt ist und
        aus der in trockenen Zeiten manchmal kein Wasser mehr fliesst. (Bild:
        Janina Ammon)
      </p>

      <p class="autor">
        Janina Ammon ist Studentin der Kunstgeschichte, der Theologie und
        Theaterwissenschaft im Bachelor an der Universität Bern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Derungs, Kurt: Magische Quellen, heiliges Wasser. Die 22 Kultquellen
            der Schweiz, Grenchen 2009.
          </li>
          <li>
            Gigon, Raymond / Wenger, Rémy: Inventaire spéléologique de la
            Suisse. II, Canton du Jura, Porrentruy 1986.
          </li>
          <li>
            Muthmann, Friedrich: Mutter und Quelle. Studien zur Quellenverehrung
            im Altertum und im Mittelalter, Basel 1975.
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
