<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'trouvaille-hindelbank/Bild0.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p style="font-style: italic">
        Diese Miniaturen erschienen bis auf wenige Ausnahmen zwischen 2006 und
        2008 im «saemann», der Vorgängerzeitung von «reformiert.» Sie führen zu
        oft übersehenen Orten und Monumenten der bernischen und schweizerischen
        Kirchengeschichte. Der Umfang war jeweils vorgegeben. Die Texte möchten
        auf engem Raum in chronologisch-thematischer Ordnung narrativ und
        kontemplativ eine kleine Theologie entfalten. (RD)
      </p>
      <br />

      <p id="firstParagraph">
        Am Ostersamstag 1751 starb Maria Magdalena Langhans, Pfarrfrau in
        Hindelbank, im Wochenbett. Ihr Mann liess für sie durch Johann August
        Nahl (1710–1781) ein Grabmal errichten. Nahl, der damals am Monument für
        den Schultheissen Hieronymus von Erlach arbeitete, wohnte im Pfarrhaus
        und erlebte mit, wie der Tod ein junges Glück zerstörte. Heute befinden
        sich die beiden Grabmäler in der Kirche Hindelbank in unmittelbarer
        Nachbarschaft. Das eine feiert den Helden. Das andere erinnert an ein
        häufiges Frauenschicksal, das meist mit einem schlichten Grabhügel
        zugedeckt wurde. Hier ist es anders. Die ebenerdige Grabplatte besteht
        aus einem einzigen Sandsteinblock. Er birst der Länge nach mitten
        entzwei. Durch den Riss drängen Mutter und Kind energisch ins Freie.
        Unterhalb der Familienwappen Langhans und Wäber befinden sich drei
        Inschriften, darunter ein Gedicht Albrecht von Hallers (1708–1777). Die
        Mutter sagt zum Kind: «Horch die Trompete ruft, sie schallet durch das
        Grab / Wach auf mein Schmerzens Kind, leg deine Hülsen ab / Eil deinem
        Heiland zu, vor ihm flieht Tod und Zeit / Und in ein Ewigs Heil
        verschwindet alles Leid.»
      </p>

      <img
        class="bild"
        src="../../../assets/images/trouvaille-hindelbank/Bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Grabmal in der Kirche Hindelbank: Der Tod hat nicht das letzte Wort.
        (Bild: Vanessa Mercuri)
      </p>

      <p>
        Haller und Nahl knüpfen an die Vorstellung des 1. Korintherbriefs (15,
        51f.) an, wo Paulus vom Geheimnis der Auferweckung und der Verwandlung
        der Toten spricht. Der Naturwissenschafter Haller deutet es mit einem
        Bild aus der Natur: «Leg deine Hülsen ab», lässt er die Mutter zum Kind
        sagen, und denkt an die Raupe, die sich in einen Schmetterling
        verwandelt. Er weiss und glaubt, dass im Tod nicht alles zugrunde geht.
        (Notabene: Beide, Haller und Nahl, waren leidgeprüfte Menschen: Innert
        vier Jahren hatte Haller seine erste Frau, seinen ersten Sohn und im
        Kindbett seine zweite Frau verloren, Nahl vier Kinder im
        Säuglingsalter.)
        <br />Das Langhans-Grabmal wurde rasch berühmt. Es figurierte in
        Reiseführern und war als Kopie zu haben. Ein Halt in Hindelbank wurde
        für Gebildete zu einem Muss. Christoph Martin Wieland lobte die
        Lebendigkeit, Johann Georg Sulzer die Schönheit der Skulptur. Goethe
        blieb kühl, und für August Wilhelm Schlegel war das Grabmal schlicht
        «widerwärtig». Gewiss, Nahl und Haller bilden und sagen, was
        menschliches Vorstellungsvermögen bei weitem übersteigt. Nur werden sie
        das auch gewusst haben.
      </p>

      <img
        class="bild"
        src="../../../assets/images/trouvaille-hindelbank/Bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Sandstein-Denkmal von Johann August Nahl (1710–1781) zum Gedenken an
        Maria Magdalena Langhans, Hindelbank © The Trustees of the British
        Museum
      </p>

      <p class="autor">
        Dr. Rudolf Dellsperger ist ein Schweizer Theologe und emeritierter
        Professor für Neuere Kirchengeschichte, Konfessionskunde und
        Theologiegeschichte an der Universität Bern.
      </p>

      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Gampp, Axel Christoph: «Das Grabmal der Maria Magdalena Langhans von
            Johann August Nahl von 1751», in: Kunst + Architektur in der Schweiz
            46 (1995), 72-75.
          </li>
          <li>
            Fallet, Eduard M.: Der Bildhauer Johann August Nahl der Ältere.
            Seine Berner Jahre 1746-1755, Bern 1970 (Archiv des Historischen
            Vereins des Kantons Bern 54).
          </li>
          <li>
            Herrmann, Hans: Hindelbank. Die Kraft der Auferstehung in Stein
            gemeisselt, verfügbar unter
            <a
              target="_blank"
              href="https://www.theos.unibe.ch/hindelbank-kirche"
              >www.theos.unibe.ch</a
            >
            (2019)
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
