<app-title-image [author]="author.author" [title]="title" [date]="date" [image]="'ordner/bild1.jpg'">
</app-title-image>
<div class="wrapper">
    <div class="text">
        <div class="innerText">
            <p id="firstParagraph">
                firstParagraph
            </p>

            <img class="bild" src="../../../assets/images/ordner/bild1.jpg" alt="">
            <p class="bildunterschrift">bildunterschrift</p>


            <p class="autor">autor</p>
            <div *ngIf="author.beitrag.length > 0" class="weitere">
                <p class="autor">Weitere Artikel von {{author.author}} finden Sie hier:</p>
                <ul>
                    <li *ngFor="let beitrag of author.beitrag; let i = index">
                        <a style="color: black" routerLink="/{{ author.pathname[i] | removeshitespaces | lowercase }}">
                            {{author.location[i]}}:
                            {{author.shorttitle[i]}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="vertiefung">
                <h2>Zur Vertiefung:</h2>
                <ul>

                    <li>textb4link
                        <a target="_blank" href="https://websitelink">text</a>
                    </li>

                </ul>
            </div>
            <h2>Lageplan:</h2>
            <div *ngFor="let id of ids" class="map-container">
                <div [id]="id" class="map">
                </div>
            </div>
        </div>
    </div>