mat-card img{
    object-fit: cover;
    height: 150px;
}

#title::after{
    content: "\a";
    white-space: pre;
}

mat-card{
    cursor: pointer;
}

mat-label{
    display: flex;
    justify-content: center;
    color: black;
    letter-spacing: 2px;
}

#beitrag{
    color: rgb(212, 53, 53);
}




mat-card-content{
    font-family:"Roboto", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.text{
    text-align: center;
}

.dropdown::ng-deep .mat-form-field-underline{
    display: none;
}

.dropdown::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0;
}

.dropdown::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 0;
}

mat-card::ng-deep{
    border: none;
}


