<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'bern-brachedock8/bild0.jpeg'"
>
</app-title-image>

<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p style="font-style: italic">David Plüss zum 60. Geburtstag</p>
      <br />

      <p id="firstParagraph">
        Eine Brache mitten in der Stadt ist zunächst nichts Aufsehenerregendes.
        Immer wieder werden Gebäude abgerissen, und in der Zeit vor dem Neubau
        liegt die Fläche ungenutzt da. In Bern brachten jedoch die ‹Brache› und
        ihr Nachfolgeprojekt ‹Dock8› eine Inkarnationsbewegung einer
        Kirchgemeinde in das umgebende Quartier hervor.
      </p>

      <h2>Die Brache</h2>

      <p>
        Die Parzelle 3038 liegt im Gebiet der Kirchgemeinde Frieden, die in der
        Friedenskirche im Berner Mattenhof und im Kirchgemeindehaus Steigerhubel
        zwei kirchliche Liegenschaften betrieb. 2015 wurde dort die ehemalige
        Kehrichtverbrennungsanlage abgerissen. An ihrer Stelle sollte eine
        Genossenschaftssiedlung für rund tausend Bewohnende entstehen, aus der
        ein neuer Begegnungsort für das Holligenquartier geschaffen werden
        sollte. <br />
        Bis zur Fertigstellung der neuen Siedlung sollten verschiedene
        Zwischennutzungen die Brachfläche beleben: Die Stadt Bern, Eigentümerin
        der Fläche, lud zu einem Workshop ein. Sie wollte die Brachfläche für
        einzelne Eventangebote zur Verfügung stellen, aber auch bewusst beleben,
        damit auf dem verwinkelten Gelände kein Drogenhandel oder illegale
        Partys stattfinden könnten. In der Pause des Workshops kamen Delegierte
        der Kirchgemeinde mit jungen Erwachsenen aus dem Quartier ins Gespräch.
        Diese waren mit den engen Vorgaben der Stadt unzufrieden, insbesondere
        damit, dass die grosse Fläche mehrheitlich geschlossen und teilweise für
        kommerzielle Nutzungen zur Verfügung stehen sollte. Es entstand die
        Idee, einen Verein für die grundsätzliche Öffnung der Brache für
        verschiedene Nutzungen zu gründen.
      </p>

      <img
        class="bild"
        src="../../../assets/images/bern-brachedock8/bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Die Brache als beliebter Begegnungsort in Holligen (Foto: Mario
        Bernhard)
      </p>

      <h2>Der Brachenverein</h2>

      <p>
        Nur zwei Wochen nach dieser zufälligen, ersten Begegnung gründeten die
        jungen Erwachsenen den Brachenverein, der nach einigen Verhandlungen die
        Verwaltung der Brache von der Stadt zugesprochen erhielt. Das Motto der
        Brache: «vom Quartier fürs Quartier» schloss die grundsätzliche Öffnung
        an allen Tagen und Zeiten ein und eine klare Einschränkung für rein
        kommerzielle Nutzungen aus. Während der kommenden rund vier Jahre wurde
        die mit Schutt und Sand bedeckte und auf der einen Seite mit grossen
        Betonwänden begrenzte Fläche von Menschen aus dem Quartier
        unterschiedlich bespielt: ein <i>Urban Gardening</i>-Projekt, legale
        Graffitiwände, ein Robinson-Spielplatz, eine kleine Bar in einem
        ausrangierten Bus sowie Feuerstellen und Sitzgelegenheiten kamen hinzu.
        Die Brache wurde besonders in den Sommermonaten täglich genutzt. <br />
        Im Vorstand mit dabei war ein Kirchenvertreter. Über ihn entstand ein
        enger Kontakt mit vielen kreativen und engagierten Quartierbewohnenden.
        Es gab immer wieder Anfragen für Taufen oder Beerdigungen aus diesem
        Kreis, gelegentlich wirkten einzelne Künstler:innen auch bei kirchlichen
        Angeboten in der Friedenskirche mit. <br />
        Am Ende der ‹Brachenzeit› entschieden sich die Vorstandsmitglieder in
        einer Mischung aus Ironie und erstgemeinter Wehmut, eine Beerdigung für
        die Brache zu feiern. Am 6. September 2020 schritt der Pfarrer im Talar
        über die steinig-sandige Fläche. An einer Stelle wurde über die
        rauschenden Feste meditiert, an einer anderen ein Gedicht vorgelesen,
        zuletzt zündeten die Teilnehmenden im Sand Kerzen an. Die Idee mag
        ironisch gewesen sein, die Tränen der rund dreissig Teilnehmenden
        hingegen waren echt.
      </p>

      <img
        class="bild"
        src="../../../assets/images/bern-brachedock8/bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">Brachenbeerdigung (Foto: Christian Walti)</p>

      <h2>Auswirkungen der ‹Brache› auf die neue Siedlung</h2>

      <p>
        Mit dem Auffahren der Bagger zum Bau der neuen Siedlung stand die Brache
        nicht mehr als öffentlicher Raum zur Verfügung. Nach vier Jahren
        belebter Zwischennutzung war aber deutlich geworden, dass Holligen einen
        nicht-kommerziellen Raum für Begegnungen, Kreativität und
        niedrigschwellige Kultur nötig hatte. In der neuen Siedlung ‹Holliger›
        war neben einem Lebensmittelgeschäft ein Gastronomieangebot geplant.
        Allerdings wollten nach der Erfahrung der Coronapandemie keine
        Gastronom:innen eine Neueröffnung wagen. Im Netzwerk der ehemaligen
        Brache entstand deshalb die Idee, in einem der vorgesehenen Gewerberäume
        ein nicht-kommerzielles Kulturrestaurant zu eröffnen, das die
        buchstäbliche Leerstelle der Brache in der neuen Siedlung ersetzen
        konnte. <br />Die Kirchenvertretenden konnten durch Beziehungen zu den
        Wohnbaugenossenschaften ein Projekt eines sozialen ‹Teilhabezentrums›
        mit Restaurantbetrieb anregen, das auch soziale Beratungsangebote der
        Kirche einschloss. Dieses Zentrum sollte mitten in der neuen Siedlung
        stehen, einen schlichten Ausbau erhalten und möglichst allen Menschen
        offenstehen. Bald wurde im Verein «Wohnenbern», der im Auftrag der Stadt
        Bern obdachlosen und suchtkranken Menschen Wohnungen vermietet, ein
        säkularer Partner gefunden, der bereits Erfahrungen mit einem sozialen
        Gastronomiebetrieb mitbrachte. <br />
        Das Restaurant sollte zur Drehscheibe des neuen sozialen Zentrums
        werden, in Nebenräumen waren Beratungsangebote für Sozialhilfe und
        Wohnungssuche geplant. Es sollte zudem als ‹öffentliches Wohnzimmer›
        auch von Menschen genutzt werden können, die nichts konsumieren wollen.
        Zu diesem Zweck wurde es mit einem Computerarbeitsplatz und Internet
        ausgestattet. Schliesslich sollten Veranstaltungen von und mit Menschen
        aus dem Quartier eine Plattform für Begegnungen und Selbstverwirklichung
        der Anwohnenden aus der neuen Siedlung und den umliegenden älteren
        Wohnhäusern eröffnen. <br />
        Für die Finanzierung dieses Zentrums, das bald den Namen ‹Dock8› (ein
        Ort zum ‹andocken› an der Adresse Holligerhof 8) erhielt, spannten die
        römisch-katholische Kirche Bern, die ortszuständige reformierte
        Kirchgemeinde Frieden und der Verein «Wohnenbern» zusammen. Es konnten
        Projektgelder aus allen drei Organisationen, von zahlreichen Stiftungen
        sowie von der Stadt gewonnen werden. Die Verantwortung für den Betrieb
        teilen die drei initiierenden Organisationen, deren Mitarbeitende sich
        die Aufgaben als Team aufteilen.
      </p>

      <h2>‹Dock8›</h2>

      <p>
        Zeitgleich mit der Beendigung der letzten Coronamassnahmen eröffnete das
        ‹Dock8› im Frühjahr 2022 seinen Betrieb. Der Restaurantraum ist gegen
        zwei Seiten zur Terrasse hin offen und kann durch verschiedene Türen von
        aussen oder vom öffentlichen Teil des Genossenschaftsbaus her betreten
        werden. Er verfügt über Fenster, die beinahe über die gesamte Raumhöhe
        reichen. Ansonsten ist der Sichtbeton der ehemaligen Lagerhalle, die zum
        Genossenschaftsbau umgebaut wurde, an den unbearbeiteten Säulen und am
        abgeschliffenen, aber unverkleideten Boden sichtbar. Auch die lüftungs-
        und elektrotechnischen Leitungen unter der Decke sind nicht verdeckt.
        Gegen alle Seiten ist der Raum mit hellen Holzbänken oder Schränken
        umgeben, was ihn im Kontrast zum Sichtbeton wärmer und gemütlicher
        erscheinen lässt. Die schlichten Holztische und schwarzen Stühle wirken
        modern und zugleich etwas unbestimmt: Ist das hier eine Kantine oder ein
        schlicht eingerichteter Seminarraum? Menschen in prekären Lebenslagen
        sollen sich hier ebenso aufhalten können wie Gäste aus den umliegenden
        Handwerksbetrieben, Büroangestellte oder auch nachhaltigkeitsbewusste
        Bewohnende der neuen Genossenschaftssiedlung. <br />
        Die reformierte Kirchgemeinde konnte sich am ‹Dock8› nur unter der
        Bedingung beteiligen, ihr nahegelegenes Kirchgemeindehaus auf dem
        Steigerhubel an die Schule zu verkaufen. Die eingesparten
        Unterhaltskosten konnten für die Einmietung in neue Büros neben dem
        Restaurantraum und in die Beteiligung am Restaurantprojekt investiert
        werden. Der Umzug brachte einen neuen Ort mit neuen
        Kooperationsmöglichkeiten sowie die Nähe zu zugezogenen Menschen.
        Natürlich waren die neuen Nutzungen nur noch in enger Koordination mit
        den Partnerorganisationen möglich – die Kirche war nicht mehr
        Hausherrin, sondern Partnerin unter anderen. Die Präsenz und Mitarbeit
        der Kirche bei der Gestaltung des öffentlichen Raums in Holligen ist
        unterdessen unbestritten. Auch wenn sie nie direkt den Auftrag dazu
        erhalten hat, hat sie eine entscheidende Lücke in der Stadtplanung
        geschlossen und sich neu vernetzt – freilich nicht direkt mit religiösen
        Angeboten, sondern indirekt durch ihre sozial-diakonischen Dienste und
        ihr Interesse an der Kultur im Quartier.
      </p>

      <img
        class="bild"
        src="../../../assets/images/bern-brachedock8/bild3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Das Dock8 als Drehscheibe in der Holligersiedlung. (Foto: Adriana Basso
        Schaub)
      </p>

      <img class="bild" src="../../../assets/images/ordner/bild1.jpg" alt="" />
      <p class="bildunterschrift">bildunterschrift</p>

      <p class="autor">
        Christian Walti ist Pfarrer in der Reformierten Kirchgemeinde Frieden in
        Bern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Brache: Vom Quartier fürs Quartier, verfügbar unter:
            <a target="_blank" href="https://brache.ch">www.brache.ch</a>
            (11.9.2024).
          </li>
          <li>
            Dock 8: Restaurant, Beratung und Kultur, verfügbar unter:
            <a target="_blank" href="https://www.dock8.ch">www.dock8.ch</a>
            (11.9.2024).
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
