<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'neuenburg-cdn/bild1.jpeg'"
>
</app-title-image>

<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p style="font-style: italic">David Plüss zum 60. Geburtstag</p>
      <br />

      <p id="firstParagraph">
        Am oberen Rand von Neuchâtel, an einen Wald grenzend, liegt ein Ensemble
        von weissen, klassisch modernen Häusern, ergänzt durch einen
        zeitgenössischen neueren Anbau. Obwohl vom Bahnhof in zwanzig Gehminuten
        erreichbar, herrscht hier wohltuende Ruhe und man geniesst einen
        eindrücklichen Blick über den See hinweg bis zu den Alpen. Wir befinden
        uns beim <i>Centre Dürrenmatt Neuchâtel</i> (CDN), einem Ort, an dem das
        Werk des grossen Schweizer Schriftstellers erhalten, erforscht und
        präsentiert wird. Und da Friedrich Dürrenmatt (1921–1990) sich zeit
        seines Lebens intensiv mit Religion und Glauben auseinandersetzte, auch
        einem theologisch in hohem Masse interessanten Ort.
      </p>

      <img
        class="bild"
        src="../../../assets/images/neuenburg-cdn/bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Centre Dürrenmatt: Wohnhaus und Museumsanbau. (Bild: Matthias Zeindler)
      </p>

      <h2>Dürrenmatt und Neuchâtel</h2>

      <p>
        1948 zogen Fritz (1921–1990) und Lotti Dürrenmatt (1919–1983) mit ihrem
        ersten Sohn Peter von Basel an den Bielersee, nach Schernelz/Cergnaux
        oberhalb des Winzerdorfes Ligerz/Gléresse. Vier Jahre später, nach der
        Geburt des dritten Kindes, bot sich den Dürrenmatts die Gelegenheit, in
        Neuchâtel günstig ein Haus mit grossem Umschwung zu erwerben. Noch war
        ihre finanzielle Situation beengt. Dies änderte sich grundlegend, als
        Dürrenmatts Stücke <i>Der Besuch der alten Dame</i> (1956) und
        <i>Die Physiker</i> (1962) zu Welterfolgen wurden. Der damit verbundene
        Reichtum erlaubte es dem Autor, auf seinem Grundstück ein zweites Haus,
        einen Atelier- und Musikraum sowie einen Swimmingpool zu bauen. <br />
        Der Umzug über die Sprachgrenze hatte für Dürrenmatt nichts mit einer
        Affinität zum Frankophonen zu tun, im Gegenteil. Er suchte vor allem die
        Distanz zur Deutschschweiz, und entsprechend blieb sein Verhältnis zu
        Neuchâtel kühl, «war ich doch hierhergezogen, um an keinem Kulturleben
        teilnehmen zu müssen» (Dürrenmatt, Vallon de l’ Ermitage, Werkausgabe
        [WA] Bd. 36, 33). Trotzdem oder gerade deswegen weilte er in seinem
        Refugium bis zum Tode Ende 1990. <br />
        Während Dürrenmatts literarischer Nachlass zur Grundlage des
        Schweizerischen Literaturarchivs in Bern wurde, verblieb sein
        bildnerisches Werk in Neuchâtel. Vor allem auf Initiative von
        Dürrenmatts zweiter Ehefrau Charlotte Kerr (1927–2011) wurde dort zehn
        Jahre nach dem Tod des Schriftstellers das CDN gegründet. Damit wurde
        sein Bildwerk an die Schweizerische Eidgenossenschaft übergeben.
        Zusätzlich zu den beiden Wohnhäusern ergänzte man das Ensemble durch
        einen von Mario Botta (*1943) entworfenen Museumsanbau.
      </p>

      <img
        class="bild"
        src="../../../assets/images/neuenburg-cdn/bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Ausstellung im Museumsanbau von Mario Botta, erbaut 1998–2000. (Bild:
        Matthias Zeindler)
      </p>

      <h2>Dürrenmatt und der (Un-)Glaube</h2>

      <p>
        Kein anderer Schriftsteller der deutschsprachigen Nachkriegsliteratur
        hat sich in vergleichbarer Intensität mit Fragen des Glaubens
        auseinandergesetzt wie der Pfarrerssohn Friedrich Dürrenmatt.
        Allerdings: Der erste von ihm publizierte Text trägt den Titel
        <i> Weihnacht</i>, zertrümmert aber alle herkömmliche
        Weihnachtsromantik. Sein frühes Theaterstück
        <i>Es steht geschrieben</i> (1947) thematisiert die religiöse Diktatur
        im Täuferreich zu Münster im 16. Jahrhundert. Damit ist von Anfang an
        klar, Erbaulichkeit ist von diesem Autor nicht zu erwarten. Seine
        Haltung zum Glauben beschreibt er in dieser Periode durch und durch
        dialektisch, so, wenn er im erwähnten Drama den Autor beschreibt als «im
        weitesten Sinne entwurzelter Protestant, behaftet mit der Beule des
        Zweifels, misstrauisch gegen den Glauben, den er bewundert, weil er ihn
        verloren» (Dürrenmatt, Es steht geschrieben / Der Blinde, WA 1, 58). In
        einem Interview sagt Dürrenmatt von sich: «Ich bin meiner Veranlagung
        nach ein religiöser Mensch», dann aber gleich: «Ich bin ein Zweifler,
        und ich zweifle und zweifle und zweifle.» Zu Dürrenmatts umfassenden
        Lektüren gehörten immer auch theologische und religionsphilosophische.
        An erster Stelle zu erwähnen ist hier seine profunde Bibelkenntnis, die
        immer wieder in seinem Werk greifbar wird. Mit dem grossen Schweizer
        Theologen Karl Barth (1886–1968) kam es anlässlich seines zweiten
        Theaterstücks <i>Der Blinde</i> (1948) zu einem ausführlichen Gespräch,
        aus dem sich eine lebenslange Auseinandersetzung Dürrenmatts mit Barths
        Theologie ergab. In seiner Privatbibliothek, die im CDN besichtigt
        werden kann, findet sich auch Barths Hauptwerk, die umfängliche
        <i>Kirchliche Dogmatik</i>. Deren beeindruckende Architektonik
        entfremdete den skeptischen Leser Dürrenmatt freilich eher von der
        Theologie, so dass er später schreiben konnte: «Karl Barth erzog mich
        zum Atheisten.» (Dürrenmatt, Turmbau, WA 29, 209) Wogegen ihm der
        dänische Philosoph Søren Kierkegaard (1813–1855) eine lebenslange
        Inspirationsquelle blieb. <br />
        Die dialektische Einstellung des In- und Miteinanders von Glauben und
        Zweifel weicht im Spätwerk einer entschiedenen Ablehnung jedes
        religiösen Glaubens, zu dem Dürrenmatt auch den Marxismus zählt. Ein
        Text von 1988 trägt den Titel <i>Pflicht zum Atheismus</i>. In einer
        Erzählung lässt er sich selbst sagen, er sei «allergisch gegen das Wort
        ‹Glauben›» (Dürrenmatt, Der Mitmacher, WA 14, 327). Obwohl Dürrenmatt
        anerkennt, dass der Glaube eine anthropologische Konstante ist, kann er
        dieser nur misstrauen, denn «das Glaubensaxiom drückt nichts als ein
        Gefühl aus». Er formuliert deshalb zusammenfassend: «Ich halte die
        Frage, ob Gott existiere, für sinnlos» (Dürrenmatt, Turmbau, WA 29,
        201). Zur logischen Fraglichkeit des Glaubens kommen dessen fatalen
        historischen Wirkungen: «Der Glaube allein versetzt Berge. Unter ihnen
        sind unzählige Millionen begraben. Völker, Kulturen. Dem Glauben wohnt
        eine immense Grausamkeit inne» (Dürrenmatt, Gedankenfuge, WA 37, 70).
      </p>

      <img
        class="bild"
        src="../../../assets/images/neuenburg-cdn/bild3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Dürrenmatts Arbeitszimmer; im Hintergrund <i>Die Heilsarmee</i> (1964)
        von Willy Guggenheim alias Varlin (1900–1977). (Bild: Matthias Zeindler)
      </p>

      <p class="autor">autor</p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li></li>
          <li></li>
          <li>
            textb4link (Leerzeichen am Schluss)
            <a target="_blank" href="https://websitelink">text</a>
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
