<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'trouvaille-oeildeboeuf/Bild0.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p style="font-style: italic">
        Diese Miniaturen erschienen bis auf wenige Ausnahmen zwischen 2006 und
        2008 im «saemann», der Vorgängerzeitung von «reformiert.» Sie führen zu
        oft übersehenen Orten und Monumenten der bernischen und schweizerischen
        Kirchengeschichte. Der Umfang war jeweils vorgegeben. Die Texte möchten
        auf engem Raum in chronologisch-thematischer Ordnung narrativ und
        kontemplativ eine kleine Theologie entfalten. (RD)
      </p>
      <br />

      <p id="firstParagraph">
        Mit der Reformation und der damit verbundenen Wiederentdeckung des
        Gottesworts ging ein Abbau von Kirchen einher. Für den reformierten
        Predigtgottesdienst waren weniger Kirchen nötig als für den katholischen
        Kultus. Erst in der zweiten Hälfte des 17. Jahrhunderts entstanden im
        Bernbiet neue Kirchen – dann allerdings in so grosser Zahl, dass man von
        einem eigentlichen Bauboom sprechen kann: Von Brugg bis vor die Tore
        Genfs, in den Gemeinen Herrschaften und im Bucheggberg, überall wurden
        alte Kirchen saniert und neue gebaut. Man darf annehmen, die Obrigkeit
        habe nicht nur aus Sorge um die Kirche gehandelt, sondern nach dem
        Bauernkrieg von 1653 und angesichts der nach wie vor attraktiven
        Täuferbewegung auch ihre Präsenz auf der Landschaft verstärken wollen.
        <br />Eines der frühesten und eindrücklichsten Zeugnisse aus dieser Zeit
        ist die Kirche von Bätterkinden. Sie wurde 1664 nach nur einjähriger
        Bauzeit vollendet und wirkt wie ein Werk aus einem Guss. Ihr Architekt
        ist der Berner Münsterwerkmeister und Bildhauer Abraham Dünz (um
        1630–1688), der wegen seines gleichnamigen Sohnes und Nachfolgers den
        Beinamen «der Erste» erhielt. <br />Sehen wir uns in der Kirche um. Wir
        betreten durch den Westeingang einen Predigtsaal. Die Ostpartie deutet
        mit der Form eines Polygons und dem leicht erhöhten Fussboden einen Chor
        nur an, während die durchgehende Leistendecke die Einheit des Raumes
        betont. Im Chorbereich und an der Grenze zum Gemeinderaum befinden sich
        mit dem Abendmahlstisch, dem Taufstein und der Kanzel die drei
        klassischen Ausstattungsstücke eines reformierten Gottesdienstraums. Sie
        sind Meisterwerke Dünz’scher Bildhauerkunst. Die malerische Dekoration
        ist dem in Bern tätigen Strassburger Künstler Albrecht Kauw (um
        1616–1681) zu verdanken, der mit einem Gesellen den Auftrag hatte, die
        Kirche «possierlich» zu schmücken. Auf Kanzelhöhe ist die Südwand von
        einem Fenster durchbrochen, das sich durch Grösse und Dekor von den
        anderen Fenstern abhebt. In der Fachliteratur wird es wegen seiner Form
        als «œil-de-bœuf», als Ochsenauge bezeichnet. Durch diese Öffnung fiel
        im Morgengottesdienst Licht auf die Bibel und den Prädikanten. Ich sehe
        darin eine kongeniale architektonische Umsetzung des reformierten
        Schriftverständnisses: dass Schrift und Wort toter Buchstabe und leerer
        Schall bleiben, wenn nicht Christus, das wahre Licht, mein Herz und
        meinen Verstand erleuchtet, wenn nicht der heilige Geist das Wort in mir
        zum Leben erweckt.
      </p>

      <img
        class="bild"
        src="../../../assets/images/trouvaille-oeildeboeuf/Bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Abendmahlstisch, Taufstein und Kanzel: die drei klassischen
        Ausstattungsstücke eines reformierten Gottesdienstraums. (Bild: Adriana
        Basso Schaub)
      </p>

      <img
        class="bild"
        src="../../../assets/images/trouvaille-oeildeboeuf/Bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Das Ochsenauge hinter der Kanzel in der Kirche Bätterkinden. (Bild:
        Adriana Basso Schaub)
      </p>

      <p class="autor">
        Dr. Rudolf Dellsperger ist ein Schweizer Theologe und emeritierter
        Professor für Neuere Kirchengeschichte, Konfessionskunde und
        Theologiegeschichte an der Universität Bern.
      </p>

      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Speich, Klaus: Die Künstlerfamilie Dünz aus Brugg. Ein Beitrag zur
            Kulturgeschichte der Barockzeit im reformierten Stand Bern, Brugg
            1984, 211-220.
          </li>
          <li>
            Herzog, Georges: Albrecht Kauw (1616-1681). Der Berner Maler aus
            Strassburg, Bern 1999, 272f. und Register.
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
