.container {
  width: 100%;
  height: 490px;
  background-image: url("../../../assets/images/kanton/Solothurn.jpg");
  background-size: cover;
  background-position: center center;
  display: block;
}

.cover {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  position: relative;
  min-height: 1px;
  float: left;
  display: block;
  height: 100%;
}

.textWrapper {
  text-align: center;
  padding: 220px 0;
  display: block;
  line-height: 25px;
  color: white;
}

.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-icon-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button,
.mat-mdc-fab,
.mat-mdc-mini-fab {
  font-family: "Montserrat";
}

.mat-mdc-unelevated-button.mat-warn,
.mat-mdc-raised-button.mat-warn,
.mat-mdc-fab.mat-warn,
.mat-mdc-mini-fab.mat-warn {
  background-color: black;
}

.buttons {
  font-family: "Montserrat";
  text-transform: uppercase;
}

.kacheln {
  width: 120px;
  margin-right: 20px;
}

.map {
  width: 120px;
  margin-left: 20px;
}
