<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'stgallen-notkerglobus/bild0.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Mit grauen Filzpantoffeln über den Schuhen betritt man die
        Stiftsbibliothek des Klosters St. Gallen, der schöne Fussboden muss
        geschont werden. Sofort sticht einem der grosse St.Galler-Globus ins
        Auge: Dominant steht er da, scheint die anderen Kunstobjekte der
        Bibliothek in den Schatten stellen zu wollen. Aus der Mitte des 16.
        Jahrhunderts soll die Konstruktion stammen. Das lässt staunen. Wer sich
        daran satt gesehen hat und daran vorbeigeht, gelangt zu einem viel
        kleineren Globus, dem sogenannten Notker Globus. Klein, zierlich und
        bescheiden steht er zwischen zwei Bücherregalen vor einem Fenster: die
        im Jahr 2023 fertig gestellte Rekonstruktion eines Tischglobus, wie er
        zur Zeit des Mönchs Notker der Deutsche (um 950–1022) im Kloster St.
        Gallen gebaut worden sein muss. Eine Frage stellt sich sogleich: Die
        Erde als Kugel dargestellt, und das schon um die Jahrtausendwende – wie
        lässt sich das mit der bei uns verbreiteten Vorstellungen über das
        Mittelalter vereinbaren? – Heisst es nicht immer, man habe sich die Erde
        als Scheibe vorgestellt?
      </p>

      <img
        class="bild"
        src="../../../assets/images/stgallen-notkerglobus/bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Der 2023 nachgebaute Notker Globus, Stiftsbibliothek St. Gallen. (Bild:
        Sophie Strauch)
      </p>
      <h2>Notker der Deutsche im Kloster St. Gallen</h2>
      <p>
        Im Kloster St. Gallen war Notker Lehrer und Schulvorsteher. Er muss ein
        begnadeter Didaktiker gewesen sein, stets bemüht, seinen Schülern den
        Zugang zu Wissen zu vermitteln, denn er bereitete für sie verschiedene
        Grundtexte auf, indem er sie ins Althochdeutsche übersetzte und
        kommentierte. So behandelte er unter anderem die
        <i>Consolatio philosophiae</i>
        (Trost der Philosophie) von Boethius (um 483 – um 525) und führte in
        seinem Kommentar seine Vorstellungen der Weltordnung aus. Darin erwähnt
        er einen Tischglobus, an welchem man seine kosmographischen Überlegungen
        sehen könne. Der von ihm erwähnte Globus hat die vielen Jahrhunderte
        nicht überlebt, zum Glück aber sind seine Handschriften erhalten. So
        wurde es möglich, heute den Globus Notkers nachzubauen. <br />
        In seinen Texten wollte Notker beweisen, dass die Ökumene, das heisst
        der von Menschen bewohnte Erdteil, nur ungefähr einen Viertel der
        gesamten Erdoberfläche ausmache. Dazu führte er zwei astronomische
        Argumente an: Zum einen nannte er vier Punkte auf der Erde, an denen die
        Mittagssonne im Zenit stehen kann. Daraus ergab sich der Äquator als der
        südlichste Grad des Bereichs der Ökumene. Zum andern setzte er den
        nördlichen Extrembereich der Ökumene bei der Insel Thule an. Dort gehe
        nämlich die Sonne in der Sommerjahreshälfte nie unter, immer blieben
        sechs Tierkreiszeichen verborgen und würden unter dem Horizont
        verweilen. Folglich müsse die Insel Thule unter dem Himmelsnordpol
        liegen.
      </p>
      <h2>Existenz der Antipoden</h2>
      <p>
        In der mittelalterlichen Kosmographie ging man davon aus, dass die Erde
        durch den Ozean in vier gleich grosse Teile geteilt wird. Auf einem
        dieser Viertel – nämlich auf dem bis dahin bekannten Teil der Erde –
        leben die Menschen. Umstritten war damals die Frage, ob die anderen drei
        Kontinente ebenfalls trockengelegt sind und ob dort allenfalls sogar
        Menschen, die Antipoden (‹Gegenfüsser›), leben. Aus der Frage nach der
        Existenz der Antipoden ergaben sich theologische Grundsatzfragen:
        Angenommen, es gab diese Menschen, was für Menschen waren es dann?
        Konnten sie am Heilsgeschehen teilhaben? Wie hatten sie der Sintflut
        entkommen können? Waren vielleicht auch sie Nachfahren Noahs? <br />
        Notker erwähnte die Antipoden nur am Rande seiner Texte, ohne näher
        darauf einzugehen. Für ihn schien deren Existenz gegeben zu sein. Auf
        dem rekonstruierten Globus wurden sie deshalb dargestellt.
      </p>
      <h2>Darstellung von Himmel und Erde</h2>
      <p>
        Notker kombinierte auf derselben Oberfläche eine terrestrische
        (irdische) und eine astronomische Karte. Auf seinem Globus sind
        geographische Landmassen wie das Mittelmeer, Indien, Afrika und der Nil
        mit der Insel Meroe zu erkennen. Auf einem breiten Band ist der
        kosmische Tierkreis auf der unteren Halbkugel dargestellt. Der Globus
        liess sich neigen, wodurch der Zusammenhang zwischen dem
        Sonnenhöchststand und dem Breitengrad demonstriert werden konnte. <br />
        Auf dem Horizontring sind sowohl Daten als auch die Tierkreiszeichen
        eingetragen. So kann jederzeit abgelesen werden, an welchem Tag sich die
        Sonne in welchem Tierkreiszeichen befindet.
      </p>

      <img
        class="bild"
        src="../../../assets/images/stgallen-notkerglobus/bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Notker Globus: Die Insel Thule und der Horizontring sind erkennbar.
        (Bild: Sophie Strauch)
      </p>

      <p>
        Die Grösse des Globus war durch diverse Parameter bestimmt. Als
        wichtiges Kriterium galt die Zahl der abgebildeten Motive: Der Globus
        durfte nicht zu klein geraten, damit die Darstellung der Erdgebiete,
        einiger Ortschaften und der Tierkreis Platz hatten. Umgekehrt bestimmte
        die Konstruktion die maximale Grösse, denn der Globus bestand aus einer
        massiven Holzkugel, die in einem zweiten Schritt im Inneren ausgehöhlt
        wurde. Weil die Kugel aber anschliessend mit einem Pergament bespannt
        werden sollte, mussten die Holzwände der Kugel doch einen bestimmten
        Durchmesser aufweisen, um nicht unter der Spannung des Pergaments zu
        brechen. <br />
        Wie der ursprüngliche Globus im Detail ausgesehen hat, ist nicht
        bekannt. Es existieren ein paar einzelne Zeichnungen von Globen in
        Handschriften, die zur Zeit Notkers angefertigt wurden, und einige
        wenige Beschreibungen von Notker selbst zu seinem Globus. Es ist davon
        auszugehen, dass Notker selbst am Bau des Globus mitgewirkt oder
        zumindest die Konstruktion desselben in Auftrag gegeben hat.
      </p>

      <h2>Die Erde als Kugel oder als Scheibe</h2>
      <p>
        Inwiefern widerspricht ein Globus aus dem Frühmittelalter der weit
        verbreiteten Vorstellung, man sei im Mittelalter von einer Erdscheibe
        ausgegangen? Die Vorstellung von der Erde als Kugel ist offenbar auch im
        Mittelalter nie ganz verloren gegangen. Die Gelehrten zumindest wussten
        von der kugelartigen Gestalt der Erde. <br />
        Vermutlich hat man im 19. Jahrhundert dem Mittelalter die Theorie der
        Erde als Scheibe übergestülpt. Heute weiss man, dass die vielen Karten,
        die die Erde als eine von Wasser umgebene Scheibe darstellen, lediglich
        die Ökumene abbilden. Wozu hätte man die restlichen Erdviertel
        darstellen sollen? Es gab in diesem Zusammenhang zu viele offene Fragen,
        mit denen man sich nicht auseinandersetzen wollte. Man konnte diese
        Teile der Erde nicht bereisen und wusste nichts über deren Aussehen.
        <br />Im Kloster sollte man sich gänzlich Gott hingeben und sich nicht
        in das weltliche Leben verstricken lassen. Auch wenn die
        <i>stabilitas loci</i>
        (Ortsgebundenheit) den Mönchen und Nonnen die dauerhafte Bindung an ein
        Kloster vorschrieb, sickerte doch die eine oder andere Erfahrung aus der
        Welt in die Klostermauern hinein und bereicherte dort den Alltag.
      </p>
      <p>
        Wenn es sich Notker erlauben durfte, sich mit den weltlichen Künsten zu
        befassen, so vor allem deswegen, weil er sie als Instrument für das
        vollkommene Verständnis der Heiligen Schrift zu nutzen wusste. Er
        bereitete weltliches Wissen auf und gab es weiter, denn daraus war
        vieles zu lernen: Es diente zur Welt- und Daseinsbewältigung, es gab
        Orientierung nicht nur im Diesseits, sondern auch im Jenseits, und nicht
        zuletzt diente es als Instrument, um auf dem Weg zu Gott weiter
        voranzuschreiten. Geschickt wusste er offenbar zu argumentieren, zu
        erklären, zu beweisen, und er muss vielen jungen Mönchen den Weg geebnet
        haben, es ihm gleichzutun. Ohne Mönche wie Notker, die sich mit der
        Astronomie und anderem weltlichen Wissen befassten, wäre uns in den
        Klöstern nicht eine so grosse Zahl an Büchern, Handschriften, Urkunden
        und Kunstgegenständen erhalten geblieben. Dank diesen Sammlungen und
        auch dank der Stiftsbibliothek ist uns ein Einblick in das Leben, das
        Bewusstsein und das Weltbild des Mittelalters erhalten und zugänglich
        geblieben. Wenn auch oft behauptet wird, das Christentum habe im
        ‹dunklen Mittelalter› die naturwissenschaftliche Forschung verhindert,
        so dürfen wir dies – auch dank dem Notker-Globus – als Projektion des
        19. Jahrhunderts abtun.
      </p>

      <p class="autor">
        Sophie Strauch ist Studentin der Interreligiösen Studien an der
        Universität Bern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Hellegardt, Ernst: «Geographie und Astronomie im Werk Notkers des
            Deutschen» in: Dietrich Huschenbett/John Margetts (Hrsg.):Reisen und
            Welterfahrung in der deutschen Literatur des Mittelalters, Würzburg
            1991, 54–68.
          </li>

          <li>
            Podcast und Bilder-Reihe zum Notker Globus, verfügbar unter:
            <a target="_blank" href="https://www.stiftsbezirk.ch/de/podcasts"
              >www.stiftsbezirk.ch</a
            >
            (30.01.2024).
          </li>

          <li>
            Schmid-Lanter, Jost A.: Notker der Deutsche als Kosmograph: Ein St.
            Galler Erd- und Himmelsglobus um 1015, Medialität, Historische
            Perspektiven Nr. 25 (2022).
          </li>

          <li>
            Wolf, Philip: «Wie die Erde zur Scheibe wurde», in: Spiegel
            Wissenschaft 2.11.2005, verfügbar unter:
            <a
              target="_blank"
              href="https://www.spiegel.de/wissenschaft/weltall/mittelalter-und-moderne-wie-die-erde-zur-scheibe-wurde-a-381627.html"
              >www.spiegel.de</a
            >
            (30.01.2024).
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
