<app-title-image [author]="author.author" [title]="title" [date]="date" [image]="'trouvaillen/bild1.jpg'">
</app-title-image>
<div class="wrapper">
    <div class="text">
        <div class="innerText">
            <p style="font-style: italic">
                Diese Miniaturen erschienen bis auf wenige Ausnahmen zwischen 2006 und 2008 im «saemann», der Vorgängerzeitung von «reformiert.» Sie führen zu oft übersehenen Orten und Monumenten der bernischen und schweizerischen Kirchengeschichte, wo Bedeutungsvolles geschehen ist. Der Umfang war jeweils vorgegeben. Die Texte möchten auf engstem Raum in chronologisch-thematischer Ordnung narrativ und kontemplativ eine kleine Theologie entfalten.
               </p><br />
               <p id="firstParagraph"> Dieses Relief befindet sich im Museum für Kunst und Geschichte in Freiburg. Es stammt vermutlich aus dem 12. Jahrhundert und wurde im ehemaligen Kluniazenserkloster Münchenwiler gefunden.
                Dargestellt ist Christus am Kreuz. Mit weit ausgebreiteten Armen hängt er da. Seine Zehenspitzen erreichen das schmale Podest gerade noch. Am gemarterten Leib treten die Rippen hervor. Der Mund ist offen, der Kopf im Verhältnis zum Körper gross. Unter den Kreuzesbalken stehen Maria und Johannes. Ihre Gestik verrät Schmerz. Von oben leuchten Sonne und Mond. Dazwischen ein Fingerzeig.
                Der unbekannte Künstler hat die drei Gestalten umrahmt. Die Umrisse ergeben den Plan einer romanischen Kirche: Zu Füssen Christi der Eingang, dann Mittelschiff und Seitenschiffe, die Vierung, das Querschiff und, ums Haupt, die Apsis.
                So eng sind Christus und die Kirche aufeinander bezogen? Ich weiss nicht, ob der Künstler es so gemeint hat. Aber sein Bild bringt mich auf diesen Gedanken. Christus erfüllt mit Haupt und Gliedern seine Kirche. Ohne ihn und sein Kreuz ergäbe sich der Entwurf von Kirche nicht. Sie ist sein Wirkungsraum. Im Schnittpunkt der Vertikalen und der Horizontalen, dort, wo das Evangelium verkündigt wird und Brot und Wein gereicht werden, öffnet sich sein Mund. Die Kirche ist sein Auditorium. Sie trägt den Klang seines Wortes weiter.
                Der Plan erweckt den Eindruck, als befänden sich Maria und Johannes in der Kirche. In Wirklichkeit sind sie zusammen mit Christus, ihrer Mitte, die Kirche. Sie bilden als lebendige Bausteine Gottes Tempel.
                Kreuzigungsbild und Architekturplan sind ineinander verwoben. Kirche läuft oft Gefahr, Christus nicht Raum zu geben, sondern ihn zu vereinnahmen, das Monopol auf ihn zu erheben und ihn festzunageln. Sie kann ihm zum Kreuz werden, während ihr das Kreuz doch zugrunde liegt.
                Sonne und Mond deuten an, dass der Tod und mit ihm die Auferstehung und die Geburt Christi universale Bedeutung haben. Die Kirche wird sich deshalb um das Wohl aller Menschen und der gesamten Schöpfung kümmern. Wo Menschen und die Kreatur leiden, ist sie gefordert – freilich oft auch überfordert. Als «Kreuzkirche» bleibt ihr das nicht erspart.
                Über allem schliesslich dieser Fingerzeig: Gottes Hand. Sie steht nicht für ein Happy End, ist aber ein klares Zeichen. Sie sprengt das Bild, befindet sich jenseits, ausserhalb und vor der Kirche. Sie weist auf Christus hin – aber über ihn, in ihm und durch ihn auch auf die Kirche.
                
            </p>

            <p class="autor">Rudolf Dellsberger war XYZ ... ... ...</p>
            <div *ngIf="author.beitrag.length > 0" class="weitere">
                <p class="autor">Weitere Artikel von {{author.author}} finden Sie hier: </p>
                <ul style="margin-top:0">
                    <li *ngFor="let beitrag of author.beitrag; let i = index">
                        <a style="color: black" routerLink="/{{ author.pathname[i] | removeshitespaces | lowercase }}">
                            {{author.location[i]}}:
                            {{author.shorttitle[i]}}
                        </a>
                    </li>
                </ul>
            </div>
            
            <h2>Lageplan:</h2>
            <div *ngFor="let id of ids" class="map-container">
                <div [id]="id" class="map">
                </div>
            </div>
        </div>
    </div>