<app-title-image 
[author]="author.author" 
[title]="title" 
[date]="date"
  [image]="'aletschgletscher-arme-seelen/bild1.JPG'">
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Noch prägen Gletscher das Landschaftsbild der Alpen, faszinieren aus der
        Ferne als mächtige weissblaue Eisströme, erstaunen in der Nähe durch ein
        bizarres Durcheinander von Spalten, Zacken und Türmen. Doch die Tage des
        «ewigen» Eises sind gezählt: bis Ende dieses Jahrhunderts wird
        voraussichtlich auch der längste Gletscher der Alpen, der Grosse
        Aletschgletscher im Wallis, wegen der Klimaerwärmung weggeschmolzen
        sein.
      </p>
      <p>
        Von der Gletscherwelt übrig bleiben werden ein schwarzbrauner
        Taleinschnitt und zwei grossen Seen sowie die Erinnerungen an die
        Sommerfrischler (Touristen) und die uralten Volkserzählungen, in denen
        der Gletscher als der Ort der Läuterung für die Seelen Verstobener galt.
      </p>
      <img class="bild" src="../../../assets/images/aletschgletscher-arme-seelen/bild1.JPG" alt="" />
      <p class="bildunterschrift">
        Sicht auf den schwindenden Aletschgletscher und die Streusiedlung der
        Alpe Aletschji. (Bild: Andreas Weissen)
      </p>

      <h2>Die Spinnerin vom Aletschji</h2>
      <p>
        Das Aletschji, eine kleine Alp, ist in einer halben Stunde zu Fuss von
        der Belalp ob Naters erreichbar. Der Weg windet sich über enge Kurven
        durch einen schmalen Graben hinunter zu den Alpweiden. Die Steilstrecke
        ist nur dank kunstvoll aufgeschichteten Trockensteinmäuerchen für Mensch
        und Vieh überwindbar. Mehrere Hütten stehen verstreut im saftigen Grün.
        Von einem kleinen Hügel grüsst eine unscheinbare Kapelle die zahlreichen
        Wandersleute, die den Weg zwischen Belalp und Riederalp über die
        spektakuläre Hängebrücke begehen. Doch kaum jemand besucht die Kapelle,
        die 1917 errichtet wurde und in keinem Kunstführer erwähnt wird.
      </p>

      <img class="bild" src="../../../assets/images/aletschgletscher-arme-seelen/bild2.JPG" alt="" />

      <p class="bildunterschrift">
        Kapelle von 1917 zwischen Belalp und Riederalp. (Bild: Andreas Weissen)
      </p>

      <p>
        Wir werfen einen Blick hinein. Das Altarbild ist zwei geteilt: oben
        thront die Himmelsmutter Maria und darunter sitzt eine ältere Frau in
        Walliser Tracht am Spinnrad in ihrer Stube. Es ist keine Heilige,
        sondern eine Witwe namens Schmid, im Volksmund «d’alt Schmittja»
        genannt. Sie soll – so die mündliche Überlieferung – den Sommer jeweils
        oft im Aletschji verbracht und eine ganz besondere Beziehung zu den
        Verstobenen gepflegt haben. Die so genannten «Armen Seelen» müssen
        gemäss dem alten Volksglauben im Gletscher frieren und so für ihre
        Fehltritte büssen, die sie zu Lebzeiten weder gebeichtet noch
        anderweitig korrigiert haben.
      </p>

      <img class="bild" src="../../../assets/images/aletschgletscher-arme-seelen/bild3.JPG" alt="" />

      <p class="bildunterschrift">
        Das Bild ist weder signiert noch datiert. Vom Stil her, der Tracht der
        Frau und dem Holzrahmen stammt es wahrscheinlich aus der Zeit des
        Kapellenbaus 1917. (Bild: Andreas Weissen)
      </p>

      <p>
        Bevor die alte Frau zu Bett ging, öffnete sie das Fenster und rief zum
        Gletscher hin, der damals nur einen Steinwurf von ihrem Haus entfernt
        war: «Arme Seelen kommt und wärmt Euch ein wenig an meinem
        Specksteinofen. Aber mir tut in Gottes Namen nichts zuleide.» Sie legte
        sich hin und schlief die ganze Nacht hindurch und merkte nichts von den
        Seelen, die durch Ritzen und Löcher im Gebälk ins Haus drangen. Die
        ganze Nacht war ein Kommen und Gehen. Einmal blieb die Alte länger am
        Spinnrad sitzen und hörte die Verstorbenen schlotternd rufen: «Schoch,
        schoch, schoch, d’Alt Schmittja spinnut noch.» Als das Geschrei und
        Klopfen immer lauter wurde, verlor sie die Geduld: «Dann kommt halt».
        Schlagartig füllte sich die Stube, und die Alte musste die ganze Nacht
        am Spinnrad sitzen bleiben. Sie spürte die Kälte der Seelen, die für
        kurze Zeit in die Stube drängten und den nächsten Platz machten. Erst am
        nächsten Morgen konnte sie aufstehen, doch den rechten Arm während
        mehreren Tagen nicht mehr bewegen. Sie nahm das als Strafe für ihre
        Ungeduld hin und vergass nie mehr bei ihrer Einladung an die Armen
        Seelen beizufügen, ihr ja nichts anzutun.
      </p>

      <img class="bild" src="../../../assets/images/aletschgletscher-arme-seelen/bild4.JPG" alt="" />

      <p class="bildunterschrift">
        «d’alt Schmittja im Aletschji», unterer Teil des Altarbildes in der
        Kapelle. (Bild: Andreas Weissen)
      </p>

      <h2>Wiederkehrer und Fegeeis</h2>

      <p>
        Die Sage der alten Schmittja ist eine von 600 Armenseelensagen, die der
        Forscher Josef Guntern in den sechziger und siebziger Jahren des letzten
        Jahrhunderts im deutschsprachigen Wallis zusammengetragen hat. Sie
        erzählen von Begegnungen mit Wiederkehrern aus dem Jenseits, die als
        Arme Seelen im Gletscher frierend büssen, mit der Totenprozession
        mehrmals im Jahr über Friedhöfe und Gletscher wandern oder an die Orte
        zurückkehren mussten, wo sie zu Lebzeiten Unrecht taten, beispielsweise
        sich zu einem verbotenen Tanz trafen, einen Grenzstein zum eigenen
        Vorteil versetzten oder die Pflege der Käselaibe auf der Alp
        vernachlässigten. Sie alle haben die Aussicht auf Erlösung von den
        Qualen und die Hoffnung auf die Verkürzung ihrer Leidenszeit durch «gute
        Werke» der Lebenden, die für sie beten und Messen spenden oder Almosen
        geben.
      </p>

      <p>
        In römisch-katholischen Kirchen hängen bis heute unzählige bildliche
        Darstellungen von nackten Menschen mit erhobenen, flehenden Händen in
        einem Flammenmeer, ebenso drastisch wie grausam. Das Fegefeuer, obwohl
        biblisch nicht begründbar, war vom Hohen Mittelalter bis zum Zweiten
        Vatikanischen Konzil während rund 700 Jahren ein fester Bestandteil der
        römisch–katholischen Lehre, schüchterte die Menschen ein, wollte sie mit
        massivsten Drohungen auf den Weg der Tugend «prügeln» und zu Spenden
        zugunsten der Kirche bewegen. Der blühende, ja exzessive Ablasshandel im
        16. Jahrhundert gab bekanntlich den Anstoss zur Reformation.
      </p>

      <p>
        In den Volkserzählungen im Wallis und in benachbarten Vallée de Chamonix
        und im Urner Reusstal, ist der Läuterungsort der Seelen nicht das Feuer,
        sondern das Gletschereis. Die Kälte war im Alltag viel gegenwärtiger als
        die Hitze und viel gefürchteter. Ja die riesigen Eisströme boten sich
        als unheimlicher und für alle sichtbarer Sühneort geradezu an.
      </p>

      <p>
        Die Vorstellung eines eisigen Gletschersees als Ort der Busse finden wir
        übrigens auch in Dante Alighieris «Divina Commedia» als untersten Kreis
        der Hölle. Und im tibetanischen Buddhismus gibt es neben acht heissen,
        auch acht kalte Höllen. Es sind jedoch keine Orte ewiger Verdammnis und
        Qual, sondern dienen der Läuterung der Seelen, die auf einer höheren
        Stufe in einem neuen Körper wieder geboren werden.
      </p>

      <p class="autor">
        Andreas Weissen, Erzähler von Sagen und Wilden Geschichten aus dem
        Wallis und Alpenschützer (u.a. Ehrenpräsident der Alpeninitiative).
      </p>

      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier: 
        </p>
         <ul style="margin-top:0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a style="color: black" routerLink="/{{ author.pathname[i] | removeshitespaces | lowercase }}">
              {{author.location[i]}}: 
              {{author.shorttitle[i]}} 
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Guntern, Josef: Volkserzählungen aus dem Oberwallis. 2344 Sagen,
            Legenden, Märchen, Anekdoten aus dem deutschsprachigen Wallis, Basel
            1978.
          </li>
          <li>
            Pfammatter, Rainer A.: Der Armenseelenglauben in der Walliser Sage.
            Lizenziatsarbeit über das Leben zwischen Zeit und Ewigkeit in den
            Oberwalliser Volkserzählungen, Freiburg i. Ue. 1991.
          </li>
        </ul>
      </div>

      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>