<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'gsteigwiler-kirche/Bild1.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Die Kirche Gsteig befindet sich an der Grenze des Dorfes Gsteigwiler zu
        Wilderswil. Besucher:innen, welche über die breite Treppe an der
        Südseite zur Kirche aufsteigen, sehen zunächst auf den Friedhof. Wenden
        sie ihren Blick zur Kirche und treten unter den steinernen Baldachin zum
        Eingang, sehen sie rechts von der Tür eine erste Wandmalerei: eine
        Darstellung einer Totenmesse. Links ist ein Toter aufgebahrt, auf seinem
        Körper ist ein grosses Kreuz. Er wird von drei Personen betrauert.
        Rechts hält ein Priester die Totenmesse, ganz rechts befindet sich ein
        gekreuzigter Christus. Die unmittelbare Nähe zum Friedhof erklärt die
        Wahl des Motivs. Selbst Kirchgänger:innen, die über die schmale Treppe
        an der Nordseite zur Kirche aufsteigen, blicken beim Herantreten an die
        Tür in Richtung Friedhof und damit zur Wandmalerei.
      </p>

      <h2>Wandmalereien und Heiligkeit</h2>
      <p>
        Der Bau einer Kirche schafft einen Ort der Anbetung. Viele Menschen
        möchten im Mittelalter ein Stück Heiligkeit ins eigene Gotteshaus holen,
        oftmals tun sie das mit heiligen Personen, indem sie etwa Reliquien im
        Kirchenraum ausstellen. Eine Alternative dazu könnte sein, Heiligkeit in
        Form von Geschichten und Momenten in die Kirche zu bringen. In Gsteig
        wurde somit ein heiliger Ort geschaffen, indem Darstellungen von als
        heilig erachteten Geschehnissen im Kirchenraum abgebildet werden.
      </p>
      <h2>Ort und Bau</h2>

      <p>
        Die Kirche Gsteig liegt am Rand des sogenannten Bödeli (das Schwemmland
        zwischen Brienzer- und Thunersee), am Eingang der Täler in Richtung
        Lauterbrunnen und Grindelwald. Noch heute hat der Pfarrkreis Gsteig als
        Teil der Kirchgemeinde Gsteig-Interlaken ein flächenmässig gesehen
        grosses Einzugsgebiet, das sich von Wilderswil über Saxeten und
        Gsteigwiler bis nach Lütschental erstreckt. Im Mittelalter gehörten noch
        die weiteren Gemeinden des Bödeli dazu, alle die südlich der Aare lagen
        und somit zum Bistum Lausanne gehörten. Unterseen, auch Teil des Bödeli
        aber nördlich der Aare liegend, gehörte zum Bistum Konstanz. <br />
        Der älteste Teil der heutigen Kirche Gsteig ist der unterste Teil des
        Turms, der vor 1000 erbaut wurde. Unter dem heutigen Chor sind die
        Grundmauern eines Vorgängerbaus, der wohl aus der gleichen Zeit stammt.
        Systematische Grabungen wurden jedoch nie durchgeführt. Die Grundmauern
        wurden zufällig bei einer Restaurierung in den 1960er Jahren entdeckt,
        in deren Zuge auch die Wandmalereien der Kirche freigelegt wurden. Der
        Chor und das Schiff sind vermutlich aus dem 12. und 13. Jahrhundert. Im
        17., 18. und 19. Jahrhundert gab es Ost- und Westerweiterungen.
      </p>

      <img
        class="bild"
        src="../../../assets/images/gsteigwiler-kirche/Bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Blick vom Friedhof Richtung Nordwesten auf die Kirche Gsteig, im
        Hintergrund Wilderswil. Links unten sind die zwei Steinbögen erkennbar,
        durch welche Besucher:innen zur Eingangstür der Kirche gelangen. (Bild:
        Joana Mayer)
      </p>
      <h2>Wandmalereien im Chor</h2>
      <p>
        Die ältesten Malereien im Chor sind aus dem frühen 14. Jahrhundert. Die
        Südseite des Chors zeigt eine Darstellung der heiligen drei Könige, die
        Maria und das Christuskind besuchen. Die sitzende Maria hat einen
        Heiligenschein, das Jesuskind steht auf ihrem Schoss. Maria hält ein
        Objekt in der rechten Hand, möglicherweise handelt es sich dabei um
        einen Apfel. Dieser könnte symbolisch für die Befreiung von der Erbsünde
        stehen, Maria wäre damit typologisch die neue Eva. Die drei Könige sind
        lang und schmal. Einer von ihnen deutet auf den Stern über dem
        Christuskind, ein anderer kniet vor dem Jesuskind. Auf der Nordseite des
        Chors sind schlecht erhaltene, kaum erkennbare Malereien. Sie sind
        vermutlich nicht vom gleichen Meister wie die auf der Südseite, aber nur
        wenig jünger. Details sind nicht erkennbar, möglicherweise handelt es
        sich um eine Darstellung von St. Nikolaus.
      </p>

      <img
        class="bild"
        src="../../../assets/images/gsteigwiler-kirche/Bild3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Die ältesten Wandmalereien aus dem frühen 14. Jahrhundert im Chor zeigen
        die heiligen drei Könige, die Maria und das Christuskind besuchen. Über
        ihnen ist der Stern von Bethlehem zu sehen. (Bild: Joana Mayer)
      </p>
      <h2>Wandmalereien im Schiff</h2>
      <p>
        Die Malereien im Schiff wurden um 1470 von einem gewissen Meister
        Diebold gemalt, wie Urkunden und Empfehlungsschreiben bezeugen. Die
        Nordseite des Schiffs zeigt ebenfalls eine Darstellung der heiligen drei
        Könige, die Maria und das Christuskind besuchen. Maria sitzt hier mit
        Krone und Heiligenschein in einem Holzbett, das Jesuskind mit
        Kreuznimbus läuft von ihr gestützt über ihren Schoss. Die drei Könige
        stellen die drei Lebensalter dar, was an ihrer Haarfarbe beziehungsweise
        Gesichtsbehaarung ersichtlich ist. Der älteste König mit weissem Haar
        und langem Bart sitzt, im Gegensatz zu den beiden anderen Königen. Der
        zweite König hat einen kurzen Bart und scheint mittleren Alters zu sein.
        Das Gesicht des dritten Königs ist völlig glatt und stellt die Jugend
        dar. <br />
        Links von der Szene mit den drei Königen ist die Verkündigung der Geburt
        Christi an Maria zu erkennen. Die Südseite des Schiffs zeigt Szenen aus
        der Passionsgeschichte. Jesus betet kniend im Garten Gethsemane, während
        drei Jünger neben ihm schlafen. Daneben ist der Judaskuss abgebildet,
        der weiter rechts zu Jesu Festnahme führt. Darunter sind der obere Teil
        des Kreuzes, Fragmente von Sonne und Mond, und eine Leiter erkennbar,
        die auf Szenen der Kreuzigung und der Kreuzabnahme weisen, jedoch sehr
        schlecht erhalten sind. <br />
        Es gibt mehrere Erklärungen, weshalb zwei Königsszenen in der Kirche
        sind. Möglicherweise wurden die älteren Malereien im Chor vor dem
        Auftrag an Diebold bereits übermalt und er wusste nicht, dass sie
        existierten. Er könnte die Chormalereien auch selbst übermalt haben,
        weil er den Platz brauchte, um weitere Szenen des Lebens Christi
        darzustellen. Jedoch gibt es keine Anzeichen dafür, dass Diebold im Chor
        malte. Wahrscheinlich ist, dass sich Diebold auf das Schiff beschränkte
        und es daher in seiner Darstellung der Jesusgeschichte sinnvoll war, an
        der Nordseite des Schiffs eine Königsszene zu malen, auch wenn sich im
        Chor bereits eine befand.
      </p>

      <img
        class="bild"
        src="../../../assets/images/gsteigwiler-kirche/Bild4.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Szenen aus dem Leben Christi: Verkündigung, Geburt, heilige drei Könige,
        15. Jahrhundert, Meister Diebold. (Bild: Joana Mayer)
      </p>

      <img
        class="bild"
        src="../../../assets/images/gsteigwiler-kirche/Bild5.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Szenen aus der Passion Christi: Gebet in Gethsemane, Judaskuss und
        Festnahme durch die Römer, Vorführung zu Pilatus, 15. Jahrhundert,
        Meister Diebold. (Bild: Joana Mayer)/p>
      </p>

      <h2>Bedeutung</h2>
      <p>
        Nach Scholastikern wie Thomas von Aquin (1225–1274) oder Bonaventura
        (121–1274) dienen Wandmalereien in Kirchen neben der Zierde drei
        Zwecken: Sie unterweisen im Glauben (gerade auch Personen, die nicht
        lesen können), sie erinnern an die Taten Jesu in der Heilsgeschichte und
        sie sollen Gläubige in ihrer Andacht anregen. Bestimmt waren alle drei
        Zwecke sowie auch die Zierde des Raumes Gründe dafür, die Wandmalereien
        in Auftrag zu geben, obschon sich darüber nur spekulieren lässt, denn
        ein Auftragsschreiben oder ein Stifter sind nicht bekannt. Dem
        Empfehlungsschreiben ist lediglich zu entnehmen, dass der Maler Diebold
        vom Rat in Bern empfohlen wurde. <br />
        Am interessantesten ist meines Erachtens die Position, dass
        Wandmalereien Gläubige bei ihrer Andacht anregen sollen. Der Raum soll
        also eine Atmosphäre schaffen, in der sich die Gläubigen wohl bei ihrer
        Andacht fühlen. Mit den dargestellten Abschnitten aus der
        Heilsgeschichte werden wichtige Momente der Heilsgeschichte und somit
        kleine Stücke der Heiligkeit in den Kirchenraum geholt. Die Gläubigen
        können somit während ihrer Andacht an diesen Momenten teilhaben. Auch
        wenn sie sich weit weg von berühmten Reliquien oder einer heiligen Stadt
        befinden, wird für sie durch Wandbilder ein heiliger Ort geschaffen.
      </p>

      <p class="autor">
        Joana Mayer ist Theologiestudentin im Master an der Universität Bern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Stähli-Lüthi, Verena: Kirche Gsteig. Reformierte Kirchgemeinde
            Gsteig-Interlaken, Bern 1983.
          </li>
          <li>
            Dubler, Anne-Marie: Gsteig bei Interlaken. Historisches Lexikon der
            Schweiz HLS, verfügbar unter:
            <a
              target="_blank"
              href=" https://hls-dhs-dss.ch/de/articles/008328/2006-12-04/"
              >Historisches Lexikon der Schweiz</a
            >
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
