<div class="wrapper">
    <div class="voyageWrapper">
        <div class="theosReihe">
            <div class="theosReihe-text">
                <h2>theos-<span style="color: rgb(192, 38, 27); font-weight: bold">Reihe</span></h2>
                <h3 id="reihelink">
                    <a href="https://schwabe.ch/neue-reihe-theos">https://schwabe.ch/neue-reihe-theos</a>
                    
                </h3>
            </div>
        </div>
        <div class="voyage">
            <div class="voyage-text">
                <h3 id="voyage-text">«Le seul véritable voyage, le seul bain de Jouvence, ce ne serait pas d'aller vers de nouveaux
                    paysages,
                    mais d'avoir d'autres yeux, de voir l'univers avec les yeux d'un autre, de cent autres.»
                   
                </h3>
                <p id="author"> Marcel Proust, La Prisonnière (Paris 1923, 762)</p>
                <hr>
                <h4 id="erklärung">
                    Willkommen auf der Seite «<span style="color: rgb(192, 38, 27); font-weight: bold">THE</span>ologisch bedeutsame <span style="color: rgb(192, 38, 27); font-weight: bold">O</span>rte in der <span style="color: rgb(192, 38, 27); font-weight: bold">S</span>chweiz» (theos). Hier finden Sie Texte
                    und
                    Bilder zu Orten in der Schweiz, die nach Ansicht der Autor:innen von theologischer Bedeutung sind
                    oder
                    sein sollten.
                    Das Institut für Historische Theologie der Universität Bern möchte Sie mit dieser Seite dazu
                    einladen,
                    bekannte Orte mit anderen Augen zu sehen.
                </h4>
                
                <h4>Gern können Sie auch selbst einen Beitrag über einen Ort Ihrer Wahl verfassen. Nähere Informationen
                    dazu
                    finden Sie → hier.</h4>
            </div>
        </div>
        <div class="subscribe">
            <div class="subscribe-text">
                <h2>Abonnement</h2>
                <p class="abotext">
                Ich möchte gerne informiert werden, wenn ein neuer Beitrag bei theos erscheint</p>
                <button class="button" mat-stroked-button>SUBSCRIBE</button>
            </div>
        </div>
    </div>
</div>