* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.voyageWrapper {
  display: grid;
  grid-template-columns: 1.2fr 3fr 1.2fr;
  grid-column: 2/3;
}

.theosReihe {
  background: #b0abab;
  display: block;
  grid-column: 1/2;
  justify-content: center;
  text-align: center;
  min-height: 320px;
  line-height: 25px;
}

.theosReihe-text {
  padding: 30px;
}

.voyage {
  line-height: 25px;
  grid-column: 2/3;
  text-align: center;
  display: block;
  justify-content: center;
  min-height: 320px;
  line-height: 25px;
}

.voyage-text {
  padding: 30px;
}

.subscribe {
  background: #b0abab;
  grid-column: 3/4;
  text-align: center;
  display: block;
  justify-content: center;
  min-height: 320px;
  line-height: 25px;
}

.subscribe-text {
  line-height: 25px;
  padding: 30px;
}
