<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'rueggisberg-martinskirche/bild3.jpg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Dass eine reformierte Dorfkirche einen Namen hat, zudem noch den eines
        katholischen Heiligen, mag erstaunen, gibt aber bereits einen Hinweis
        zum Alter der Kirche: Sie muss bereits vor der Reformation, also vor
        1528 bestanden haben. Soll es tatsächlich Königin Bertha von Burgund
        gewesen sein, die für Rüeggisberg eine Kirche gestiftet hat, so müsste
        diese bereits spätestens Mitte des 10. Jahrhunderts errichtet worden
        sein, denn Königin Bertha ist wahrscheinlich um 966 n.Chr. verstorben.
        Falls es eine Legende sein sollte, können wir aber dennoch davon
        ausgehen, dass die Kirche im 11. Jahrhundert gebaut wurde. Belegt ist,
        dass der Hochadlige Herr Lütold von Rümligen dem Kloster Cluny 1072 die
        neu errichtete Kirche Rüeggisberg und ausreichend Güter geschenkt hat,
        mit der Bitte in diesem Gebiet eine kleine Klostergemeinschaft zu
        gründen, wo dann auch für das Seelenheil seiner Familie gebetet werden
        sollte. Die Süd- und Teile der Westwand dieser Dorfkirche könnten aus
        der Gründungszeit stammen, aber auch nordseitig sind romanische Spuren
        vorhanden, so ein Blendbogen wahrscheinlich aus dem 12. Jahrhundert.
        Südseitig weist die Mauer eine gut sichtbare Wölbung auf. Es sind die
        mit dem Mauerwerk verbundenen Überreste eines ursprünglichen Südturms.
        Das Fundament dieses Turmes wurde in den 1960er-Jahren freigelegt und
        für heutige Betrachter sichtbar gemacht. Der rechteckige Chorabschluss
        ersetzte in nachreformatorischer Zeit, höchstwahrscheinlich erst im
        späten 18. Jahrhundert, eine frühere Apsis, wie Pläne und Kostendevis
        belegen. Bei einem gelegten Brand von 1532 sind Kirche und umliegende
        Häuser weitgehend zerstört worden. Die mit 1516 datierte Glocke hätte
        wohl kaum diesen Brand überstanden, wenn sie schon im Glockenturm
        gehangen hätte. Denkbar ist hingegen, dass die Glocke ursprünglich für
        ein Kloster im Bernbiet gegossen worden war, dann nach dessen Aufhebung
        in der Reformation 1528 vorrätig wurde und nach dem Brand als Ersatz für
        die zerstörte Vorgängerglocken nach Rüeggisberg gelangte. Der
        Glockenspezialist Matthias Walter schreibt sie dem Glockengiesser Hans
        Zender zu und zählt sie zu den klangvollsten mittelalterlichen Glocken
        des Kantons. 1967 wurden bei einer umfassenden Aussenrenovation durch
        Ulrich Indermühle historische Spuren freigelegt, die Turmgestaltung
        wieder dem romanischen Erscheinungsbild nachempfunden und das Dach mit
        Biberschwanzziegeln eingedeckt.
      </p>
      <h2>Interieur</h2>
      <p>
        Drinnen erwartet die Kirchen- und Gottesdienstbesucherin ein behaglicher
        Kirchenraum. In den Jahren 1956/57 wurde dieser komplett neu gestaltet.
        Auffallend ist insbesondere der weite, elegante Chorbogen, der den zuvor
        offenen Kirchensaal wieder in Schiff und Chor unterteilt – eine armierte
        Betonkonstruktion! Als barocker Zeitzeuge bleibt der Taufstein von 1688,
        ein Geschenk des damaligen Stiftschaffners, möglicherweise aus der
        Werkstatt von Abraham Dünz I.
      </p>

      <img
        class="bild"
        src="../../../assets/images/rueggisberg-martinskirche/bild1.jpg"
        alt=""
      />
      <p class="bildunterschrift">(Bild: Ruth Rohrbach-Schütz)</p>
      <img
        class="bild"
        src="../../../assets/images/rueggisberg-martinskirche/bild2.jpg"
        alt=""
      />
      <p class="bildunterschrift">(Bild: Ruth Rohrbach-Schütz)</p>
      <p>
        Etwas seltsam mutet der recht grosse Abstand zwischen den beiden
        östlichen Chorfenstern an. Mit der Umgestaltung von Apsis zu
        rechteckigem Chorabschluss (18. Jh.) wurde, nachdem die Orgeln mit der
        Reformation aus den Kirchen verbannt worden waren, wieder ein Instrument
        eingebaut – eben, zwischen diese beiden Fenster. Im 20. (1957) wollte
        man sie auf der West-, im 21. Jahrhundert (2013) auf der Nordempore
        haben!
      </p>
      <h2>Die Glasmalerei von Felix Hoffmann und Emil Reich</h2>
      <p>
        Besonders sehenswert sind die drei Chorfenster, ein Spätwerk von Felix
        Hoffmann aus dem Jahr 1967. Der Fensterzyklus veranschaulicht die
        Heilige Dreieinigkeit: Gott Vater (Schöpfung), Sohn (von der Taufe Jesu
        bis zur Auferweckung des Lazarus‘) und Heiliger Geist (Karfreitag bis
        Pfingsten). Die Glasmalereien bestechen durch die Reduktion aufs
        Notwendige, die Gestik der Figuren und die Leuchtkraft der Farben. Der
        Künstler verstand es, durch kleine Details, das Geschehen in die Moderne
        zu transportieren und die Betrachterin mit einzubeziehen. Die
        Glasmalerei von Felix Hoffmann, wie auch die kleinen Scheiben in den
        Schifffenstern von Emil Reich (1980) mit Szenen aus vier Gleichnissen,
        laden Kirchenbesucher an allen Wochentagen zum individuellen
        Gottesdienst ein. Die Kirche ist immer offen.
      </p>
      <img
        class="bild"
        src="../../../assets/images/rueggisberg-martinskirche/bild3.jpg"
        alt=""
      />
      <p class="bildunterschrift">Foto: Ruth Rohrbach-Schütz</p>
      <p class="autor">
        Elisabeth Willen-Lanzrein ist Architekturhistorikerin und bietet
        Führungen in Rüeggisberg an.
      </p>

      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
         <ul>
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a style="color: black" routerLink="/{{ author.pathname[i] | removeshitespaces | lowercase }}">
              {{author.location[i]}}: 
              {{author.shorttitle[i]}} 
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Utz Tremp, Kathrin: Die Cluniazenser in der Schweiz. Rüeggisberg BE,
            in: Helvetia Sacra, Bd. III/2 (1991), S. 643–687.
          </li>
          <li>
            Guggisberg, Fritz: Die 3 Chorfenster in der Kirche Rüeggisberg,1997.
          </li>
        </ul>
      </div>

      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
