<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'luetzelflue-gotthelfzentrum/Bild00.jpeg'"
>
</app-title-image>

<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <br />
      <h2>Wie zu Gotthelfs Zeiten</h2>
      <br />
      <p id="firstParagraph">
        Das Gotthelf’sche Emmental des 19. Jahrhunderts – mit seinen lieblichen
        grünen Matten und grossen, schindeldächernen Bauernhöfen – das leuchtet
        in Lützelflüh auf wie eine ferne Erinnerung. Eine ferne Erinnerung an
        eine scheinbar heile Welt des protestantischen Christentums, in der die
        Kirche im Dorf war und tiefrot leuchtende Geranien ihren festen Platz
        vor kleinen Bauernhausfenstern innehatten. Eine Welt, in der sonntags
        noch – wie in Franz Schnyders (1910–1993) Verfilmung von
        <i>Die Käserei in der Vehfreude</i> (1958) – das ganze Dorf würdig
        gekleidet an der Allee zur Würzbrunnen Kirche entlang ‹z Predigt› ging.
        In der auf blühend-zirpenden Sommerwiesen, zwischen Apfel- und
        Zwetschgenbäumen, weisse Wäsche aufgehängt und im Herbst auf den Feldern
        grosse Kartoffeln aus dunkler, fruchtbarer Erde gehoben wurden. Für
        solch wohlige Vergangenheitsbilder gibt es hierzulande sogar ein Diktum:
        «Wie zu Gotthelfs Zeiten». Ein Sprüchlein, das stets dann geseufzt wird,
        wenn man sich zurücksehnt nach einfacheren, genügsameren Tagen, in denen
        die Sorge nicht dem Elend der ganzen Welt, sondern einfach Haus, Hof und
        den zuweilen zu viel Schnaps trinkenden Knechten galt. <br />
        Es gebe das Emmental in zwei Formen, sagte der Schweizer Schriftsteller
        E.Y. Meyer (*1946) einmal in einem Interview. Das reale Emmental, wie es
        historisch wirklich war und ist; und das Emmental als Mythos, als
        Chiffre für die Schweiz als Bauernland. Dasselbe liesse sich ebenso über
        den Dichter Jeremias Gotthelf sagen. Auch der «Ewige Gotthelf», wie ein
        Germanist einst seine Studie betitelte, wurde zum Mythos für eine
        Vergangenheit des Bernerlandes, die es so wohl nie wirklich gab. Denn
        weder die Zeit, in der Pfarrer Albert Bitzius (*1797, Murten, ✝︎1854,
        Lützelflüh), lebte, noch seine Biographie und erst recht nicht sein
        Werk, das er unter dem Pseudonym Jeremias Gotthelf veröffentlichte,
        waren auch nur annähernd so idyllisch, wie man sich das landläufig oft
        ausmalt. Tatsächlich entstand diese Literatur in einer Krisenzeit, in
        der grosse soziale und politische Umbrüche die Menschen in der Schweiz
        verunsicherten. Seine Welt war die konflikreiche Geburtsstunde der
        modernen Schweiz um 1848. <br />Aber das sentimentale Gotthelf-Bild nahm
        in der Schweiz schliesslich Überhand, und das wird bestimmt an der
        spezifischen Rezeptionsgeschichte seiner Werke liegen. Beliebt und
        landesweit gelesen waren und sind schliesslich die Romane. Schmöker wie
        <i>Geld und Geist</i> oder <i>Ueli der Knecht</i> gehören ins Buchregal
        eines jeden Altersheims. Und man sollte das nicht belächeln: Diese
        Bücher haben unzähligen Menschen durch lange Winter geholfen, sie haben
        unzählige Menschen die Gnade sehen lassen, die sie täglich in den
        kleinen Dingen umgibt. Hier schrieb ein Geistlicher, der seine Gemeinde
        nicht mit trockener Dogmatik einlullen oder mit pietistischer Strenge
        züchtigen wollte, sondern einer, der eine Vision gelingenden
        christlichen Lebens in eine stimmige Geschichte zu giessen wusste, in
        eine Lebenswelt, die seinen Leuten nahe war und vielen deshalb als
        gangbarer Weg einleuchtete. Gerne malte sich Gotthelf aus, wie es in
        seinem Dorf wohl aussehen würde, wenn die Menschen nur Gott fürchteten,
        rechtschaffen lebten und die Schönheit der Schöpfung als unverdientes
        Geschenk wahrzunehmen wüssten. Auch wenn das mitunter hochmoralistisch
        und in seiner Zeit verfangen daherkommt, stellt doch dieses Erzählwerk
        eine beeindruckende Übersetzungs- und Kommunikationsleistung
        christlichen Glaubens dar. Gotthelf ist darum nicht nur einer der
        grössten Dichter dieses Landes, sondern vor allem eine der bedeutendsten
        Pfarrpersonen, die in der reformierten Kirche gewirkt haben.
      </p>
      <h2>Ein Besuch im Zentrum</h2>
      <p>
        In diesem Sinne ist das Gotthelf-Zentrum in Lützelflüh, angesiedelt
        neben der Dorfkirche im Pfarrhaus, wo Bitzius und die Seinen lebten,
        kein biederes Heimatmuseum, sondern ein Kulturzentrum von nationaler und
        nicht zuletzt theologisch hoher Bedeutung. Mit dem Zug, von einer
        Wanderung der Emme entlang, oder einfach vom Dorf herkommend, wirkt das
        Haus auf den ersten Blick wie ein gewöhnliches – wenn auch besonders
        hübsches und gut erhaltenes – Berner Landpfarrhaus. Wer sich aber näher
        heranwagt, dem erschliesst sich hier eine kleine Welt. Die faszinierende
        Entstehungsgeschichte des Gotthelf-Zentrums erzählt mir Heinrich Schütz,
        Visionär und Projektleiter des Museums, beim Kaffee.
      </p>

      <img
        class="bild"
        src="../../../assets/images/luetzelflue-gotthelfzentrum/Bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Das Gotthelf Zentrum im Pfarrhaus Lützelflüh im Winter. Albert Bitzius
        lebte hier von 1831–1854. (Bild: Mit freundlicher Genehmigung von
        Heinrich Schütz, Gotthelf Zentrum Emmental Lützelflüh)
      </p>
      <p>
        Im Jahr 1997, am 200. Geburtstag von Albert Bitzius, war Gotthelf
        plötzlich wieder in aller Munde. Auch im Berner Grossen Rat wurde er zum
        Politikum. Was tun mit dem Erbe des Berner Schriftstellers? Staub umgab
        den Namen und seine sonnenvergilbten Bücher, die meist nur noch
        antiquarisch zu greifen waren (die letzte Edition im Verlag Eugen
        Rentsch lag über 50 Jahre zurück). Nach langen Gesprächen entschied der
        Grosse Rat 2005, die Herausgabe einer historisch-kritischen Werkausgabe
        an der Universität Bern zu lancieren. Es ist eines der ganz grossen
        germanistischen Editionsprojekte: fast siebzig Bände sollen bis etwa in
        das Jahr 2038 von der Forschungsstelle Jeremias Gotthelf veröffentlicht
        werden. Darin sollen all seine Romane, Erzählungen, Korrespondenzen und
        Predigten abgedruckt und mit einem historisch-kritischen Kommentar
        versehen werden. Aber damit noch nicht genug. Man wollte Gotthelf nicht
        nur wieder lesen, sondern auch einer interessierten Öffentlichkeit
        zugänglich machen, ihn erleben können! So kam die Idee auf, aus dem
        historischen Pfarrhaus in Lützelflüh ein Museum zu machen. Die neu
        gegründete Jeremias Gotthelf-Stiftung kaufte daraufhin das Pfarrhaus und
        baute, nach einem weiteren Grossratsentscheid, einen gläsernen Anbau und
        ein Museum im Untergeschoss ein. Eine feierliche Eröffnung des Zentrums
        fand im Sommer 2012 statt, am denkwürdigen Tag des 13. Augusts, an dem
        im Jahre 1837 die grosse <i>Wassernot im Emmental</i> wütete. Es ist ein
        gelungenes bauliches Konzept. Das alte Pfarrhaus, 1655 im
        Renaissance-Stil erbaut, wurde mit einem transparenten Kubus ergänzt, in
        dem der Museumsempfang, ein kleines Kaffee und die Büroräume
        untergebracht sind. So hat man das Museum auch architektonisch von
        Beginn an gegen alle Anflüge von reiner Nostalgie immunisiert: Gotthelf
        hat auch unserer Gegenwart noch etwas zu sagen.
      </p>

      <img
        class="bild"
        src="../../../assets/images/luetzelflue-gotthelfzentrum/Bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Der moderne Anbau an das historische Pfarrhaus. Hinter dem Haus steht
        der sogenannte Spycher, der heute als «Gotthelf-Stube» eine kleine
        Erweiterung des Museums bildet. (Bild: Daniel Herrmann)
      </p>
      <p>
        Wer hier also zu Besuch kommt – das Museum ist jeweils von Frühling bis
        Herbst geöffnet – soll das nicht in Erwartung eines zweiten
        Ballenbergmuseums tun. Es gibt hier keine Korbflechtereikurse zu
        belegen, sondern Literatur zu erleben. Gotthelf war schliesslich
        Protestant durch und durch, ein Mann des Wortes. So werden
        beispielsweise im ersten Museumsraum, unter der historischen
        Schreibstube im ersten Stock, Gotthelfs Werke präsentiert und mit
        Einleitungen versehen. In anderen Räumen finden sich Porträts,
        Landschaftsgemälde, zahlreiche persönliche Gegenstände, wie Gotthelfs
        Kaffeekanne, Schreibzeug oder das Sonntagsgeschirr, sowie an die Wand
        gedruckte Wortmeldungen des Pfarrers, die dieses Haus aufleben und
        menschlich werden lassen. Man darf durch die Räume laufen, innehalten
        und sich vorstellen, was in einem derart geschichtsträgtigen Pfarrhaus
        wohl alles passiert sei. Sicher wurde hier nicht nur Weltliteratur
        geschrieben. Das reformierte Pfarrhaus macht doch aus, dass gerade hier
        das Alltägliche als Teil des christlichen Lebens nicht negiert wird. So
        wurde hier bestimmt viel gekocht und gegessen, über Unnützes geredet und
        gelacht. Es wurden Ehekrisen ausgetragen, Kinder kamen zur Welt,
        schwierige und bereichernde Gäste wurden in Empfang genommen, schlaflose
        Nächte vor dem Predigtsonntag durchgestanden. Ein Haus eben, in dem
        Menschen lebten, und das heute noch so regen Besuch bekommt. Man
        verlässt diesen Ort womöglich etwas nachdenklich, aber auch belebt,
        angeregt, voller Lese- und Schreiblust. Das Gotthelf-Zentrum tut somit
        der Schweizer Kultur- und Kirchenlandschaft einen guten Dienst. Ob hier
        unser Gotthelf-, oder gar unser Vergangenheitsbild der ländlichen
        Schweiz nachhaltig verändert, bereichert und etwas näher an die Realität
        gerückt wird, das wird sich noch zeigen.
      </p>

      <img
        class="bild"
        src="../../../assets/images/luetzelflue-gotthelfzentrum/Bild3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Ein Blick in das Museum im Erdgeschoss des Gotthelf Zentrums. (Bild: Mit
        freundlicher Genehmigung von Heinrich Schütz, Gotthelf Zentrum Emmental
        Lützelflüh)
      </p>
      <p class="bildunterschrift">
        Abbildungsnachweis, Titelbild: Der Pfarrer als Schreiber: Albert Bitzius
        (1797–1854, alias Jeremias Gotthelf), ausgerüstet mit Stift und
        Notizblock. Bildnis von Johann Friedrich Dietler, um 1844. (Bild: Mit
        freundlicher Genehmigung von Heinrich Schütz, Gotthelf Zentrum Emmental
        Lützelflüh)
      </p>

      <p class="autor">
        Daniel N. Herrmann ist Theologiestudent im Master an der Universität
        Bern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Frutiger, Max: Die Gotthelf-Kirche Lützelflüh. Bilder und
            Begebenheiten aus ihrer Vergangenheit, Lützelflüh 1974.
          </li>
          <li>
            Günther, Werner: Der Ewige Gotthelf, Erlenbach-Zürich/Leipzig 1934.
          </li>
          <li>Meyer, E.Y.: Der Ritt. Ein Gotthelf-Roman, Wien 2004.</li>
          <li>
            Die Webseite der Forschungsstelle Jeremias Gotthelf an der
            Universität Bern, verfügbar unter:
            <a target="_blank" href="https://www.gotthelf.unibe.ch/"
              >Forschungsstelle Jeremias Gotthelf</a
            >
            (28.04.2023).
          </li>
          <li>
            Wichtige Informationen zum Gotthelf Zentrum Emmental Lützelflüh,
            verfügbar unter:
            <a target="_blank" href="https://www.gotthelf.ch/de"
              >Gotthelf Zentrum Emmental</a
            >
            (28.04.2023).
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
