<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'oberdorf-wallfahrtskirche/Bild1.jpg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Die barocke Landkirche ist ein Baudenkmal von nationaler Bedeutung und
        hat ihre Existenz der ins 15. Jahrhundert zurückreichenden
        Wallfahrtstradition zu verdanken. Gegen Ende des 16. Jahrhunderts war
        die Wallfahrt nach Oberdorf derart beliebt, dass Papst Clemens VIII.
        (Pontifikat 1592–1605), aufgrund der persönlichen Bitte vom Ratsherrn
        Hans Jakob vom Staal (1540–1615) eine Breve (Erlass) betreffend
        Wallfahrt nach Oberdorf aussprach (1595). Es sollten dieselben Gnaden
        und Ablässe gewährt werden wie bei einer Wallfahrt nach Einsiedeln.
        Selbstverständlich ging es dabei der Solothurnischen Obrigkeit auch
        darum, die finanziellen Ressourcen der Wallfahrer in die heimischen
        Gefilde zu lenken, anstatt sie an andere Wallfahrtsorte zu verlieren.
      </p>

      <img
        class="bild"
        src="../../../assets/images/oberdorf-wallfahrtskirche/Bild1.jpg"
        alt=""
      />
      <p class="bildunterschrift">
        Wallfahrtskirche Oberdorf, 1600–1615. (Bild: Peter Widmer)
      </p>

      <h2><em>Helvetia Sancta und Sancta Maria</em></h2>

      <p>
        Oberdorf zählte im 17. Jahrhundert zu den bedeutendsten marianischen
        Kultstätten der römisch-katholischen Eidgenossenschaft. Das
        Heiligenlexikon Helvetia Sancta des Ittinger Karthäusers Heinrich Murer
        (1588–1638), 1648 veröffentlicht, zeigt auf dem Titelblatt des ersten
        Kapitels sechs marianische Kultstätten, angeordnet um eine Madonna im
        Strahlenkranz. Es sind Einsiedeln, Mariastein, Werthenstein, Hergiswald,
        Maria in der Au (Franziskanerkirche) und Oberdorf. Der Glaube an Wunder
        war in der Lebenswelt der frühneuzeitlichen Menschen fest verankert und
        damit auch die Vorstellung, dass die göttliche Präsenz in diesen
        bedeutenden Gnadenorten besonders zu spüren sei. Die Orte wurden
        aufgesucht, um die seelischen oder körperlichen Nöte mittels Fürbitte in
        die Hände Gottes zu legen; als Mittler:innen zu Gott standen die
        Heiligen und insbesondere die heilige Maria, Mutter Gottes. <br />In
        Oberdorf entstand 1420 als Ersatz der mittelalterlichen Kapelle ein
        grösserer, der Jungfrau Maria geweihter Neubau. Das bis heute erhaltene
        Gnadenbild, eine sitzende Madonna, als Holzskulptur polychrom gefasst
        und vergoldet, dürfte aus jener Zeit stammen und bildet in Oberdorf seit
        Jahrhunderten das Zentrum der Marienverehrung.
      </p>

      <img
        class="bild"
        src="../../../assets/images/oberdorf-wallfahrtskirche/Bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Gnadenbild von Oberdorf, um 1420. (Bild: Peter Widmer)
      </p>
      <h2>
        Der Neubau (1600–1615) und die Neuausstattung der Kirche (1676–1677)
      </h2>
      <p>
        Gegen Ende des 16. Jahrhunderts war es mit dem Zustand der Kirche nicht
        mehr zum Besten bestellt. Reparaturen wurden in Angriff genommen. In
        derselben Zeit nahm die Beliebtheit des Wallfahrtortes derart zu, dass
        die Planung eines stark vergrösserten Kirchenneubaus in Angriff genommen
        wurde. Dies auch aufgrund der gezielten Förderung durch die weltlichen
        und kirchlichen Obrigkeiten und im Zusammenhang mit dem weiter oben
        erwähnten Erlass von Papst Clemens VIII. (1536–1605). Aufgrund der
        topographischen Lage auf dem Hügel wurde entschieden, die Erweiterung
        gegen Süden vorzunehmen. Der Turm wurde beibehalten und der Chor der
        alten Kirche wurde zur Wallfahrtskapelle. Die Planung und die Ausführung
        lag in den Händen von Hauptmann Wilhelm Schwaller (1510–1562) und
        Hauptmann Jost Greder von Wartenfels (1553–1629). Der Umbau wurde dank
        zahlreicher grosszügiger Spenden ermöglicht: Fast alle Solothurner
        Zünfte, verschiedene Solothurner Persönlichkeiten aus Politik und
        Militär, mehrere Geistliche und der französische Ambassador Louis
        Lefèvre de Caumartin (1552–1623) leisteten finanzielle Beiträge.
        <br />Der damalige Innenraum der Kirche muss man sich ohne Stuckaturen,
        mit einer flachen Holzdecke im Schiff vorstellen. Die westliche
        Seitenkapelle lässt den damaligen Raumeindruck am ehesten erahnen. Das
        Äussere der Kirche entsprach bereits dem heutigen Aussehen.
      </p>

      <img
        class="bild"
        src="../../../assets/images/oberdorf-wallfahrtskirche/Bild3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Blick in Richtung Chor und in die linke Seitenkappelle, in der die
        Madonna aus Balm steht. (Bild: Peter Widmer)
      </p>
      <p>
        1676 wurde nach kurzer Vorbereitungsphase entschieden, die Kirche
        einzuwölben und mit Stuckaturen durch Meister Michael Schmutzer
        (1639–1676) aus dem bayrischen Wessobrunn zu versehen. Nebst dem Ersatz
        der Flachdecke im Schiff durch das Tonnengewölbe wurden die Wände mit
        einer anspruchsvollen architektonischen Gliederung und dekorativer
        Ausschmückung mit Stuck sowie die Errichtung der Altäre und der Kanzel
        in Stuckmarmor ausgeführt. Die üppigen Stuckaturen zeigen mit
        Akanthusmotiven, Muscheln, Fruchtgebinden, Laubwerk, Vasen, Engelsköpfen
        und Medaillons den charakteristischen Formenreichtum der
        Schmutzer-Werkstatt.
        <br />Die Stuckausstattung der Kirche in Oberdorf gehört zum Besten, was
        diese Werkstatt in der Zeit des Hochbarocks in der Schweiz hinterlassen
        hat. Die Seitenaltäre, die Kanzel und andere Ausstattungsobjekte sind
        mit Wappen als private Stiftungen von Solothurner Familien, Militär und
        Politikern, welche sich Frankreich an den Hals warfen, gekennzeichnet.
        Aus der Laterne über dem Chor grüsst daher die Bourbonenlilie des Königs
        von Frankreich. Solothurn war in dieser Zeit Residenzstadt der
        französischen Könige (Ambassadorenstadt). Das Soldpatriziat als führende
        Gesellschaftsschicht zog durch die Nähe zu Frankreich finanziell und
        kulturell reichlich Nutzen. Das Stadtbild und die zahlreichen
        patrizischen Sommerhäuser in der Umgebung künden noch heute davon.
        <br />Bei der Wallfahrtskirche wurde 1765 der Turm um ein Geschoss mit
        Schallöffnungen erhöht und mit einer mit Kupfer eingedeckten barocken
        Haube mit achteckiger Laterne versehen. Die Arbeiten erfolgten unter der
        Leitung des Architekten Gaetano Pisoni (1713–1782), welcher gleichzeitig
        mit der Planung des Neubaus der St.-Ursen-Kirche beschäftigt war. In der
        Epoche der Helvetik, nach dem Franzoseneinfall von 1798, gingen einige
        gestiftete Kabinettscheiben, ein grosses Kruzifix, Altargemälde und
        Teile des Kirchenschatzes verloren. <br />1861 fand während der Amtszeit
        von Pfarrer Wirz eine umfassende Renovation des Kircheninnern statt.
        Anlass dazu war die allgemeine Verschmutzung welche eines Gotteshauses
        als unwürdig betrachtet wurde.1872 erhielt die Kirche einen neuen
        Hochaltar, welcher 1955 entfernt wurde. 1892 wurde eine Orgelempore über
        dem Haupteingang eingebaut.
      </p>

      <img
        class="bild"
        src="../../../assets/images/oberdorf-wallfahrtskirche/Bild4.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Die Madonna von Balm bei Messen mit einer Kopie der Krone, weil die
        originale Krone gestohlen wurde. (Bild: Peter Widmer)
      </p>
      <h2>
        Die Restaurierung von 1955–1957 und die Madonna von Balm bei Messen
      </h2>
      <p>
        Ihr heutiges Gesicht fand die Kirche anlässlich der Restaurierung
        1955–1957. Beteiligt waren die kantonale und eidgenössische
        Denkmalpflege und das Solothurner Architekturbüro Studer & Stäuble.
        Aufgrund eines Gutachtens vom eidgenössischen Experten Linus Birchler
        (1893–1967), wurde die als störend empfundenen Elemente des 19. und
        frühen 20. Jahrhunderts entfernt, um den hochbarocken Kirchenraum wieder
        herzustellen. Unter anderem wurde die 1892 eingebaute Orgelempore
        entfernt. Auf der Turmseite des Schiffs, gegenüber der Gnadenkapelle
        wurde eine Estrade für die neue Orgel eingebaut. Ebenfalls wurde das
        Stuckportal von der Aussen- auf die Innenseite des Haupteingangs
        versetzt. Charakteristisch für den Vorzustand des Portals war die im
        Sprenggiebel thronende, aus grünlichem Sandstein gefertigte bekrönte
        sogenannte Madonna von Balm bei Messen aus dem 15. Jahrhundert, welche
        heute auf dem Altar in der linken Seitenkapelle ruht. Auf welche Weise
        die Madonna nach der Reformation von Balm nach Oberdorf gelangte, ist
        nicht bekannt. Man spricht von einer abenteuerlichen Reise.
        <br />Um das verwaiste Podest im Strenggiebel wieder zu füllen,
        fertigten die Stuckateure anlässlich der Restaurierung 1955–1977 eine
        zum Verwechseln ähnliche Kopie der Maria inklusive Krone an. Leider
        wurde der originalen Maria, nun auf dem linken Seitenaltar und so in
        Reichweite der Kirchenbesucher, die Krone gestohlen. Erst neulich,
        anlässlich der umfassenden Restaurierung und Konservierung des
        Kircheninneren im Jahre 2021, unter der Leitung des Autors dieses
        Beitrags, konnte von der Kopie der Marienkrone eine Kopie angefertigt
        werden, welche die originale Maria wiederum trägt.
      </p>
      <img
        class="bild"
        src="../../../assets/images/oberdorf-wallfahrtskirche/Bild5.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Kopie der Maria von Balm ohne Krone auf dem Podest im Sprenggiebel, weil
        während der Restaurierung eine Kopie der Krone für das Original
        angefertigt wurde. (Bild: Peter Widmer)
      </p>

      <p class="autor">Peter Widmer ist freischaffender Architekt</p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}:
              {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            «400 Jahre Kirche Oberdorf», Jahrbuch für Solothurnische Geschichte,
            Bd. 88., herausgegeben vom Historischen Verein des Kantons
            Solothurn, Solothurn, 2015, verfügbar unter:
            <a
              target="_blank"
              href="https://www.e-periodica.ch/digbib/view?pid=jsg-003%3A2015%3A88"
              >www.e-periodica.ch</a
            >
            (03.03.2022).
          </li>
          <li>
            Jäggi, Gregor/Rickenmann, Agnell/ Fink, Urban/Martinez José R.: 400
            Jahre Wallfahrtskirche Maria Oberdorf 1615–2015, Bilder, Geschichte
            und Fakten, Oberdorf 2017.
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
