* {
  box-sizing: border-box;
}


#details {
  
  color: white;
  display: block;
  padding: 50% 2%;
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  line-height: 25px;
  filter: none;
  // backdrop-filter: grayscale(100%);
}

.container {
  height: 490px;
  width: auto;
  justify-items: center;
  align-items: center;
  row-gap: 0;
  background-image: linear-gradient(black, black),
    url("../../../../assets/images/first.jpg");
  background-blend-mode: saturation;
  background-size: cover;
  background-position: center center;
  display: block;
}

.read {
  border-color: white;
  width: 165px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 200;
}

.mat-mdc-button,
.mat-mdc-icon-button,
.mat-mdc-outlined-button:hover ::ng-deep {
  transition: 0.5s;
  background: rgb(155, 30, 30);
  opacity: 0.9;
}

.location {
  display: block;
  text-align: center;
  line-height: 50px;
}


.title {
  display: block;
  text-align: center;
  line-height: 50px;
}

.date {
  display: block;
  text-align: center;
  line-height: 30px;
}

.button {
  display: block;
  text-align: center;
  line-height: 25px;
}

.title h2 {
  font-family: "Playfair Display";
  font-size: 36px;
}

.location h4 {
  font-family: "Montserrat";
  text-transform: uppercase;
}

mat-stroked-button .date h4 {
  font-family: "Montserrat";
}

@media (min-width: 1700px) {

  .title h2 {
    font-size: 2.1vw;
    line-height: 2.5vw;
    font-weight: 300;
  }
  
  .location h4 {
    font-weight: 300;
    font-size: 0.9vw;
    line-height: 2vw;
    letter-spacing: 0.1rem;
  }

  .date {
    font-size: 0.9vw;
    line-height: 3vw;
  }

  .read {
    border-color: white;
    width: 10vw;
    height: 2.4vw;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    font-weight: 200;
  }

  .container {
    height: 30vw;
  }

}

@media (max-width: 1000px) {
  .textWrapper {
    width: 98%;
  }
}