<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'basel-clarakirche/Bild1.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Die Clarakirche in Basel war ursprünglich Teil eines Frauenklosters, das
        zur Zeit der Ausbreitung der mittelalterlichen Bettelorden entstand. Die
        ersten Schwestern, Klarissen, kamen um 1266 aus dem Kloster Paradies bei
        Schaffhausen nach Basel. Hier bezogen sie beim Spalentor ein zuvor von
        Franziskanern bewohntes Haus. 1279 wies der Basler Bischof Heinrich von
        Isny (1222–1288) den Schwestern das Haus der Sackbrüder in Kleinbasel
        zu, deren Orden am Konzil von Lyon 1274 verboten worden war. Die bald
        einsetzenden Vergabungen und die Eintritte vornehmer Töchter sicherten
        den Bestand des Klarissenklosters, das im Leben Kleinbasels neben der
        wirtschaftlichen eine markante spirituelle Rolle spielte.
      </p>
      <h2>Das Vorbild der heiligen Clara</h2>
      <p>
        «Immer und immer wieder haben wir uns freiwillig zur allerhöchsten Armut
        verpflichtet, unserer Herrin, damit nach meinem Tod die Schwestern, die
        sind und die noch kommen werden, niemals von ihr abfallen ...» (1253).
        Das Zitat aus dem Testament der heiligen Clara verweist auf das zentrale
        Anliegen ihres religiösen Lebens. Chiara di Favarone (1194-1253)
        entstammte einer wohlhabenden, adeligen Familie. Beindruckt durch das
        Vorbild des heiligen Franziskus (gestorben 1226), den sie im Dom zu
        Assisi hatte predigen hören, verliess sie 1212 ihr Elternhaus, um
        Christus in radikaler Armut nachzufolgen. In der kleinen Kirche
        Portiuncula vollzog sie in einer symbolischen Zeremonie, bei der
        Franziskus ihr die Haare abschnitt, die Abkehr von der Welt. <br />Noch
        im selben Jahr übersiedelte Clara mit gleichgesinnten Frauen in die
        Gebäude beim Kirchlein San Damiano, unweit von Assisi. Die von ihr
        1216-1217 niedergeschriebene Regel verpflichtete die Gemeinschaft zu
        vollkommener Armut und strenger Busse. Nach diesem Vorbild und mehreren,
        von der Kirche geforderten Überarbeitungen der ursprünglichen Regel
        entfaltete sich der Frauenorden der Klarissen als weiblicher Zweig der
        Franziskaner.
      </p>

      <h2>Das Clarakloster in Basel</h2>
      <p>
        In dieser Form setzte der Ausbau bestehender Gebäude zum Kleinbasler
        Klarissenkloster ein. Die Niederlassung lag am Ende der von der
        Rheinbrücke kommenden Gasse und grenzte im Osten an die Stadtmauer. An
        der Nordseite der Kirche war der Kreuzgang mit einem kleinen Friedhof
        angebaut, auf der Südseite befanden sich der Wirtschaftshof mit Kaplanei
        und Schaffnei, das Backhaus, Ställe und Scheunen. In der hinteren
        Klosterpartei an der Stadtmauer lagen Gärten und Baumwiesen.
        <br />Die innere Ordnung des Klosters war geprägt durch die Klausur,
        Stillschweigen, Meditation, tägliche Heilige Messe und Rezitation des
        kirchlichen Stundengebets. Gelegentlich wurden Mädchen zur Erziehung in
        die Klausur aufgenommen, dazu Pfründner und Pfründnerinnen, die ihren
        Lebensabend im Kloster verbrachten. Manche Nonnen zu St. Clara waren
        adeliger Herkunft; am Anfang des 16. Jahrhunderts zählte das
        Clarakloster 43 Schwestern.
      </p>
      <h2>Die Klosteranlage nach der Reformation</h2>
      <p>
        Mit der Entscheidung des Basler Rates für die Reformation war die
        Aufforderung an Mönche und Nonnen verbunden, aus ihrem Kloster
        auszutreten. Die Schwestern von St. Clara fügten sich der verordneten
        Säkularisation. Am 4. Dezember 1529 übergaben die beiden
        letztverbliebenen Nonnen, Äbtissin Barbara Grieb und Schwester Barbara
        Glein, das Clarakloster mit all seinem Besitz der Stadt Basel. Die
        Gebäude wurden vermietet und wirtschaftlichen Zwecken zugeführt. <br />
        Kurz nach der Übernahme des Klosters nutzte der städtische Rat dessen
        Lage nahe der Stadtmauer zur Verbesserung der Verteidigungsanlagen. Der
        Nonnenchor der Kirche und der Ostflügel des Kreuzgangs wurden 1531
        abgebrochen zugunsten eines Bollwerks, das die Aufstellung von
        Geschützen ermöglichte. Die um mehr als die Hälfte verkleinerte Kirche
        behielt ihre Funktion als Ort reformierten Gottesdienstes; sie
        unterstand dem Pfarrer und Bann (Gemeindeleitung)zu St. Theodor und
        wurde - zusätzlich zum Sonntagsgottesdienst - an Werktagen für die
        Frühpredigt benützt. Diese Ordnung galt bis zur Mitte des 19.
        Jahrhunderts.
      </p>

      <img
        class="bild"
        src="../../../assets/images/basel-clarakirche/Bild2.jpeg"
        alt=""
      />

      <p class="bildunterschrift">
        Vogelschauplan der Stadt Basel, Kupferstich von Matthäus Merian d.Ä.,
        1615/1617. Im Vordergrund die Stadtmauer und das Clarabollwerk.
        (Universitätsbibliothek Basel, Kartenslg Schw Ml 4; verfügbar unter:
        <a
          target="_blank"
          href="https://commons.wikimedia.org/wiki/File:UBBasel_Map_1615_Kartenslg_Schw_Ml_4.tif"
          >UB-Basel Map 1615 Matthäus Merian</a
        >)
      </p>

      <h2>Katholische Zuzüger und Zuzügerinnen in Basel</h2>
      <p>
        Der Aufschwung in Handel, Gewerbe und Industrie hatte seit dem 18.
        Jahrhundert zur Folge, dass zumeist junge Zuzüger, auch aus katholischen
        Gegenden als erwünschte Arbeitskräfte in Basel Aufnahme fanden. Von den
        rund 15'000 Einwohnern der Stadt am Ende des 18. Jahrhunderts waren mehr
        als 1000 römisch-katholischer Konfession. <br />
        Seit 1797 bemühte sich eine Gruppe katholischer Laien um den aus Bayern
        eingewanderten Gärtner Joseph Lacher († 1814), ein Lokal für ihren
        Gottesdienst in der Stadt ausfindig zu machen. Der Rat wies den
        Bittstellern zu diesem Zweck zunächst ein Magazin beim Clarahof zu. Mit
        der helvetischen Verfassung von 1798, die erstmals die Gewissens- und
        Kultusfreiheit proklamierte, liess sich ein weiteres Entgegenkommen der
        Behörden begründen: sie gestatteten den Katholiken im Oktober 1798 die
        Mitbenützung der Clarakirche. Der bisweilen schwierige Simultangebrauch
        des Gotteshauses durch Protestanten und Katholiken wurde bis 1853
        aufrechterhalten. Die katholische Gemeinde zählte damals bereits mehr
        als 5000 Seelen, sodass die Stadt einen Umbau der viel zu kleinen,
        renovationsbedürftigen Kirche ins Auge fasste.
      </p>

      <img
        class="bild"
        src="../../../assets/images/basel-clarakirche/Bild3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Die Clarakirche von Südosten, mit anschliessendem Wirtschaftshof
        (Clarahof) und Garten, Aquarell von Peter Toussaint, 1835. (Bild:
        Staatsarchiv Basel-Stadt, Bild Falk. C 72)
      </p>

      <h2>Die heutige Clarakirche</h2>

      <p>
        Die Abtragung des Clarabollwerks 1854 gab den Platz frei, um die seit
        Langem gewünschte Erweiterung der Clarakirche anzugehen. Der Grosse Rat
        Basels bewilligte den notwendigen Kredit für den Umbau, den der
        Architekt Amadeus Merian (1808-1889) leitete. Die Bauarbeiten begannen
        1858 und zogen sich über drei Jahre hin; die vergrösserte Kirche diente
        schon seit September 1859 wieder dem Gottesdienst.
        <br />Dem Bedürfnis nach einer Kirche mit möglichst vielen Sitzplätzen
        entsprach Architekt Merian, indem er die fünf Joche der alten Kirche um
        vier neue Joche nach Osten in Richtung der ehemaligen Stadtmauer
        verlängerte; dem Mittelschiff fügte er einen Chor mit polygonalem
        Abschluss an. Die neue Clarakirche war circa drei Meter länger als die
        vorreformatorische Klosterkirche. Die zusätzlichen Pfeiler des
        Innenraums bildete man exakt den bestehenden nach. Für den gesamten Bau
        kam roter Sandstein zur Anwendung.
      </p>

      <img
        class="bild"
        src="../../../assets/images/basel-clarakirche/Bild4.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Die durch Umbau erweiterte, heutige Clarakirche, Blick von Nordwesten,
        1860. (Bild: Staatsarchiv Basel-Stadt, AL 45, 1-63-4).
      </p>

      <h2>Weitere Renovationen</h2>
      <p>
        Um die Clarakirche sammelte sich im Verlauf des 19. Jahrhunderts eine
        römisch-katholische Kirchgemeinde mit einem Pfarrer, mehreren Vikaren
        und einer eigenen Vorsteherschaft, sodass St. Clara Mutterkirche der
        nachreformatorischen römisch-katholischen Glaubensgemeinschaft in Basel
        wurde. Das Gebäude selbst ist Eigentum des Kantons Basel-Stadt, die
        römisch-katholische Gemeinde erhielt es zur Nutzniessung. Die
        Renovationen von 1932/1936 und 1973/1974 brachten – dem veränderten
        Zeitgeschmack folgend – eine drastische Reduktion des malerischen und
        plastischen Schmucks. Hinter diesen Umgestaltungen stand das Anliegen,
        dem Raum eine Atmosphäre franziskanischer Schlichtheit zu verleihen, die
        in Beziehung zum Lebensideal des heiligen Franziskus und der heiligen
        Clara steht. Dies macht die Bedeutung der Clarakirche als
        theologisch-historisch bedeutsamen Ort aus. Im Kern lässt sich an dieser
        Kirche die Kirchengeschichte der Stadt, jene der römisch-katholischen
        Kirche vor Ort und der Niederschlag der Bettelorden in Basel ablesen.
      </p>

      <p class="autor">
        Patrick Braun, Dr. phil., ist freischaffender Historiker und war von
        1977-2007 Redaktionsmitglied der Helvetia Sacra in Basel.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Gerz-von Büren, Veronika: «Klarissenkloster St. Clara in Basel», in:
            Helvetia Sacra, Bd. V/1, Der Franziskusorden. Die Franziskaner,
            Klarissen, Regulierten Franziskaner-Terziarinnen und Minimen in der
            Schweiz, Bern 1978,552-557.
          </li>
          <li>
            Lacher, Joseph: Höre, mein Kind und Nachkommenschaft. Chronik der
            katholischen Gemeinde Basel 1792–1804, Edition und Nachwort von
            Patrick Braun, Basel 2009.
          </li>
          <li>
            Wollmann, Therese/Ackermann, Felix: Die Basler Kirche St. Clara.
            Pfarrkirche der Römisch-Katholischen Kirche Basel, ehemalige
            Klosterkirche der Clarissen, Basel 2009.
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
