/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$rot: #d6002b; // Rot
$schwarz: rgb(0, 0, 0); // Schwarz
$weiss: rgb(255, 255, 255); // Weiss
