/* You can add global styles to this file, and also import other style files */

html,
body {
  // height: 100%;
    // width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
     margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


$rot: #e6002e; // Rot
$schwarz: rgb(0, 0, 0); // Schwarz
$weiss: rgb(255, 255, 255); // Weiss
