<div class="container-title">
    <div class="cover">
        <div class="textWrapper">
            <p>theos</p>
            <h1>Team</h1>
        </div>
    </div>
</div>
<div class="team">
    <mat-card class="example-card">
        <img mat-card-image src="../../assets/images/maria.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                <a href="https://www.histtheol.unibe.ch/ueber_uns/personen/basso_schaub_adriana/index_ger.html"
                    style="text-decoration: none;">Maria Lissek</a>
                <br><br>
                Dr. Maria Lissek ist Postdoktorandin am Institut für Historische Theologie.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card" style="text-align: center;">
        <img mat-card-image src="../../assets/images/adriana.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                <a href="https://www.histtheol.unibe.ch/ueber_uns/personen/basso_schaub_adriana/index_ger.html"
                    style="text-decoration: none;">Adriana</a>
                <br><br>
                Adriana Basso Schaub ist studentische Hilfsassistentin am Institut für Historische
                Theologie.

            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="../../assets/images/martin.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                <a href="https://www.histtheol.unibe.ch/ueber_uns/personen/basso_schaub_adriana/index_ger.html"
                    style="text-decoration: none;">Martin Sallmann</a>
                <br><br>
                Dr. Martin Sallmann ist Professor am Institut für Historische Theologie für Neuere Geschichte des
                Christentums und Konfessionskunde.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <img mat-card-image class="img-responsive" src="../../assets/images/2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                <a href="https://www.histtheol.unibe.ch/ueber_uns/personen/basso_schaub_adriana/index_ger.html"
                    style="text-decoration: none;">Katharina Heyden</a>
                <br><br>
                Dr. Katharina Heyden ist Professorin am Institut für Historische Theologie für Ältere Geschichte des
                Christentums und der interreligiösen Begegnungen.
            </p>
        </mat-card-content>
    </mat-card>


</div>