<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'bern-gerechtigkeitsbrunnen/bild00.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p id="firstParagraph">
        Am unteren Ende der Berner Altstadt steht der Gerechtigkeitsbrunnen. Er
        ist benannt nach der weit aufragenden Frauenfigur an seiner Spitze, eine
        Personifikation der Gerechtigkeit des Freiburger Bildhauers Hans Gieng
        (1525–1562). Das heutige Erscheinungsbild des Brunnens ist Wegmarke
        eines Prozesses vielfacher Veränderungen, die in den bald 500 Jahren
        seit seiner Aufstellung 1543 durch die Stadt vorgenommen wurden. Immer
        wieder wurde er übermalt, Elemente ausgetauscht, zwischenzeitlich sogar
        der ganze Brunnen an einen anderen Ort versetzt. Zuletzt wurde er 1986
        gestürzt und zerbrach. Der von Gieng bearbeitete Stein wurde wieder
        zusammengefügt und befindet sich seitdem im Bernischen Historischen
        Museum (Abb. 1). Die heutige Figur auf dem Brunnen ist eine Nachbildung.
        <br />Wie ihre Vorgängerin hat sie den historischen Ursprung Berns an
        der Nydegg im Rücken. Ihre Vorderseite zeigt bergauf Richtung Zytglogge,
        von wo aus ihr das im Stadtbach hinabströmende Wasser entgegenfliesst.
        Damals wie heute sieht die Gerechtigkeit davon nichts. Mit verbundenen
        Augen erhebt sie sich über die Gasse, was die Unvoreingenommenheit ihrer
        Urteile anzeigt, die sie mit der Waage fällt und mit ihrem mächtigen
        Schwert vollstreckt.
      </p>

      <h2>Grosse Männer ganz klein</h2>
      <p>
        Das Motiv des Schwertes wiederholt sich zu ihren Füssen, wo die Figur
        eines Kaisers bis zum Oberkörper aus dem Brunnenstock hervorkommt. Sein
        Ellenbogen ist aufgestützt, so ruht das Schwert in seiner Armbeuge. Auch
        er sieht nicht, denn seine Augen sind geschlossen. Eine Hand an sein Ohr
        gelegt und den Kopf in den Nacken, horcht er zur übergrossen
        Gerechtigkeit über ihm hinauf, ohne tatsächlich zu ihr zu schauen.
        <br />
        Bewegt man sich vom Kaiser ausgehend im Uhrzeigersinn um den Brunnen,
        begegnet man drei weiteren Männern, die ebenfalls die Augen geschlossen
        haben. Hinter dem Kaiser ist ein Mann, der in der Forschung lange als
        Schultheiss galt, heute aber als König gelesen wird. Neben ihm befindet
        sich ein Sultan mit Turban (Abb. 2 und 3). Seine Lippen deuten einen
        Laut an, der scheinbar ein erstauntes Erwachen begleitet. Grund dafür
        gäbe die rechte Hand des Papstes, die dieser dem Sultan von hinten auf
        die Schulter legt, gerade so, als wollte er ihn wecken. <br />
        Diese vier Männer mit ihren kleinen Körpern reichen der Gerechtigkeit
        gerade eben bis zu den Waden. Anderen Menschen gegenüber mögen sie
        erhaben sein, ihr aber sind sie alle untergeordnet. Die Übergrösse der
        Gerechtigkeit wird damit zur Übermacht. Was daraus folgt, ist gerade
        wegen der geschlossenen Augen der vier Männer in verschiedene Richtungen
        denkbar: Schlafen sie und erkennen die Gerechtigkeit nicht? Oder ahmen
        sie mit ihren geschlossenen Lidern die Augenbinde nach und machen sich
        so selbst blind, um gerecht zu herrschen – was damals nicht zuletzt das
        Fällen von Urteilen beinhaltete? Anders gefragt: Sind sie irdische
        Vertreter der Gerechtigkeit; oder werden sie selbst von ihr beurteilt?
      </p>

      <img
        class="bild"
        src="../../../assets/images/bern-gerechtigkeitsbrunnen/bild1_2_3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Abb. 1: Hans Gieng, Gerechtigkeitsbrunnen, 1543, Neuenburger Kalkstein,
        155 cm (Höhe), Bernisches Historisches Museum, Bern. (Bild: Stefan
        Rebsamen) <br />
        Abb. 2: Detail der Brunnenfigur, Replik von 1988, Seitenansicht mit
        Papst, Kaiser und König. (Bild: Adriana Basso Schaub) <br />
        Abb. 3: Detail der Brunnenfigur, Replik von 1988, Seitenansicht mit
        Papst und Sultan. (Bild: Adriana Basso Schaub)
      </p>
      <h2>Gerecht – gerichtet</h2>

      <p>
        Die Rezeptionsgeschichte des Brunnens zeigt, dass sein Figurenensemble
        für beide Lesarten anschlussfähig ist. Immer wieder ist es künstlerisch
        aufgegriffen und dabei in verschiedene Richtungen ausgedeutet worden.
        Die Forschung hat diese späteren und konkreteren Interpretationen – in
        denen die Herrscher zum Beispiel zerbrochene Schwerter halten – auf den
        Brunnen zurückprojiziert. So kam man gemeinhin zum Schluss, er zeichne
        ein Bild irdischer Herrschaft, die universal, das heisst in allen ihren
        Repräsentanten, gleichermassen der Gerechtigkeit unterworfen ist. <br />
        Bei dieser Deutungstradition blieb allerdings die Grundstruktur des
        Brunnens selbst unberücksichtigt. Die Herrscher befinden sich zwar alle
        zu Füssen der Gerechtigkeit, sie teilen sich aber in zwei Paare.
        Besonders deutlich ist das auf der Rückseite zu sehen, wo sich Sultan
        und König dezidiert voneinander wegdrehen, hin zu Papst und Kaiser (Abb.
        2 und 3). Dieses Arrangement wird durch die Waage mit ihren zwei Schalen
        vorgegeben. Lässt man sich bei der Betrachtung des Brunnens von ihr
        leiten, drängt sich eine Frage auf, die über das ermunternde Bild der
        Gerechtigkeit unterworfener Machthaber hinausgeht: Wenn die vier hier
        beurteilt werden, wer von ihnen muss das Urteil fürchten?
      </p>

      <h2>Kunsturteile</h2>

      <p>
        Dazu beinhaltet der Brunnen eine Reihe suggestiver Elemente. Da ist
        zunächst der Kaiser, dessen in der heutigen Fassung blaues Gewand mit
        goldenen Applikationen jenes der Gerechtigkeit wiederholt. Auf sie
        horchend und mit der gleichen Waffe ausgestattet, wirkt er wie eine
        Miniatur-Variante der Frau über ihm. Der Papst auf der anderen Seite ist
        dagegen in einer prekären Lage: Die Gerechtigkeit hält die Waage, ihr
        Instrument der Urteilsfindung, direkt über seinen Kopf. Das ist
        besonders fatal, da die Waage voll beweglich ist. Ein Hauch und schon
        gerät sie drohend über dem Papst ins Schwanken. <br />
        Zu welcher Seite sie sich schliesslich neigen wird, das kündigt die
        schräge Hüftstellung der Gerechtigkeit an. Denn diese Körperhaltung
        erzeugt eine subtil gesetzte Rhythmisierung ihres Gewandes. Über Kaiser
        und König bildet es einen grosszügigen Bogen. Auf der anderen Seite
        wallt der Stoff gegen die herrschaftlichen Kopfbedeckungen von Sultan
        und Papst und droht sie bald davonzufegen. <br />
        Das so angedeutete Urteil zeichnet sich im verzogenen Gesicht des
        Papstes ab. Seine Mimik dürfte dabei auch seiner Positionierung am Fuss
        der Gerechtigkeit gelten – denn ihr überhaupt in diesem Masse
        unterworfen zu sein, ist für ihn bereits ein Richtspruch. Dem
        päpstlichen Selbstverständnis nach wäre ihr gebührlicher Platz wohl zu
        seiner Seite. So findet man sie im apostolischen Palast im Vatikan neben
        Papst Urban I. (Abb. 4). Um eine Stufe herabgesetzt zeichnet sie ihn
        aus, statt über ihn zu richten. Dass der Berner Brunnen den
        Stellvertreter des Weltenrichters Christus dagegen zum Gerichteten
        degradiert, ist ein visueller Marker für das Bekenntnis dieser Stadt,
        die 1528, fünfzehn Jahre vor Aufstellung des Brunnens, die Reformation
        einführte.
      </p>
      <img
        class="bild"
        src="../../../assets/images/bern-gerechtigkeitsbrunnen/bild4.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Abb. 4: Raffael Umkreis, Detail der Freskierung der Sala di Costantino,
        1520–1524, Apostolischer Palast, Vatikan. (Bild [zugeschnitten]:
        <a
          target="_blank"
          href="https://en.m.wikipedia.org/wiki/File:Sala_di_costantino,_papa_urbano_I_tra_la_giustizia_e_la_carità.jpg"
          >Wikimedia commons</a
        >)
      </p>

      <p>
        Zum Ungleichgewicht der beiden Paare links und rechts der Gerechtigkeit
        trägt auch die Stilisierung des Sultans zu einem Herrscher bei, der
        schon im Erwachen den Säbel erhebt. Sie macht die Schreckgestalt der
        «Türkengefahr» zum Teil des Brunnens, ein Begriff, mit dem damals wegen
        einer vermeintlich drohenden «Entchristianisierung» Europas Alarm
        geschlagen wurde. Durchaus denkbar ist, dass dabei konkrete Machthaber
        den kleinen Männern als Vorbilder dienten. Tatsächlich erinnern die
        Gesichter des Kaisers und des Königs an die markanten Züge der
        Habsburger Kaiser Karl V. (reg. 1530–1556) und seinem Bruder Ferdinand
        (ab 1526 König von Böhmen und Ungarn, ab 1531 römischer König und
        Statthalter des Kaisers). Während ihrer Regentschaft war das Heilige
        Römische Reich – zu dem auch Bern gehörte – in anhaltende militärische
        Konflikte mit Sultan Suleiman I (reg. 1520–1566) verwickelt. Zu direkten
        Konfrontationen kam es von Tunis bis nach Wien, wohin Suleimans
        osmanisches Heer erstmals 1529 vorstiess. Zur Zeit der Aufstellung des
        Brunnens kontrollierte er weite Teile des Mittelmeers und hatte jüngst
        erhebliche Gebietsgewinne im von Ferdinand beanspruchten Ungarn zu
        verzeichnen. <br />
        Ob sich in Bern in das Wasserplätschern am neuen Gerechtigkeitsbrunnen
        Gespräche über diese Kämpfe zu Land und zur See mischten, bleibt
        Spekulation. Über den Sultan als Gegner hätten BernerInnen aber in jedem
        Fall hören können und das sogar in einem narrativen Zusammenhang mit dem
        Papst. Denn lokale Prediger brachten die «Türkengefahr» auch für die
        Zwecke des reformierten Bekenntnisses in Stellung. Der Reformator
        Sebastian Meyer (ca. 1465–1545) etwa vernahm von «den Türken» und vom
        Papst «blasphemische und satanische Stimmen» (Meyer 1539, 57), weswegen
        er in ihnen Zeichen des anbrechenden Weltuntergangs erkannte. In
        Illustrationen zu seinem Kommentar der Johannesoffenbarung von 1539
        erscheinen Papst und Sultan als zwei ineinander verschlungene Monster –
        das eine mit Tiara, das andere mit Turban auf dem Kopf –, die ihre
        Anhänger in einen flammenschlagenden Abgrund reissen. An anderer Stelle
        sieht man, wie sie mit ihrem Gefolge Menschen vor sich hertreiben und
        enthaupten, wobei der Papst selbst zur Waffe greift (Abb. 5 und 6).
      </p>

      <img
        class="bild"
        src="../../../assets/images/bern-gerechtigkeitsbrunnen/bild5_6_.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Abb. 5 und 6: Matthias Gerung, Illustrationen zu Meyer 1539,
        Holzschnitte auf Papier, 23,4 x 16,2 cm, eingelegt in: Meyer, Sebastian:
        Auslegung der Offenbarung Johannis. Übers. Laurentius Agricola, 1544,
        Bayerische Staatsbibliothek München, Cgm 6592, fo. 78b und fo. 254b,
        urn:nbn:de:bvb:12-bsb00104170-1. (Bilder [zugeschnitten]:
        <a
          target="_blank"
          href="https://www.digitale-sammlungen.de/de/view/bsb00104170?page=178,179"
          >Cgm 6592, fo. 78b</a
        >
        und
        <a
          target="_blank"
          href="https://www.digitale-sammlungen.de/de/view/bsb00104170?page=602,603"
          >Cgm 6592, fo. 254b</a
        >)
      </p>

      <h2>Despoten nah und fern</h2>

      <p>
        Der am Brunnen dargestellte Schulterschluss von Papst und Sultan wird in
        Abgrenzung zu den weltlich-christlichen Herrschern auf der anderen Seite
        der Gerechtigkeit inszeniert. Gerade in Bern werden einige Freude daran
        gehabt haben, diese Vertreter des Reiches genauso der Gerechtigkeit
        unterworfen zu sehen wie die verteufelten Despoten aus dem Süden und dem
        Osten. Darunter nicht zuletzt die Mächtigen der Stadt: Bern gehörte
        damals zwar zum Reich, genoss aber als eidgenössischer Ort und grösster
        Stadtstaat nördlich der Alpen eine weitreichende Unabhängigkeit. Dass im
        Zweifelsfall jedoch der Autorität des Papstes, derer man sich erst
        jüngst entzogen hatte, oder der eines muslimischen Sultans, die
        Zugehörigkeit zum Kaiser und seinen Fürsten immer noch vorgezogen wurde,
        dafür findet der Brunnen ein pointiertes Bild. <br />
        Dass Papst und Sultan in diesem und den weniger dezenten Bildern dieser
        Zeit gerade durch den Vorwurf diskreditiert werden, ihre Religionen mit
        Gewalt zu verbreiteten, mag heute irritieren. Denn die Reichsstadt Bern
        brachte ihren Glauben 1536 selbst mit Waffen in das Waadtland. Mit
        diesem vermeintlichen Widerspruch wirft der Gerechtigkeitsbrunnen aber
        ein umso interessanteres Schlaglicht auf eine Stadt, die sich mit ihren
        Brunnen selbst darstellte und ihrer selbst vergewisserte. Die
        Spiegelungen der Skulpturen, die noch heute in den bewegten
        Wasseroberflächen der Berner Brunnenbecken zu beobachten sind, können
        eine Erinnerung sein, welche verzerrten Bilder mitunter entstehen, wenn
        Selbstwahrnehmung, Religion und Machtinteressen in der Unterscheidung
        zwischen ‹uns› und ‹den anderen› zusammenfliessen.
      </p>

      <p class="autor">
        Torben Hanhart ist Doktorand am Institut für Kunstgeschichte an der
        Universität Bern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Basso Schaub, Adriana: «Josef Werner, Allegorie der Gerechtigkeit,
            1662», in: Annette Kranen, Urte Krass & Nina Zimmermann (Hgg.): Der
            Weg zum Glück — die Berner Kebes-Tafel und die Bilderwelten des
            Barock. Kat. Ausst. Kunstmuseum Bern, Bern 2021: Open Publishing,
            198–205, verfügbar unter:
            <a
              target="_blank"
              href="https://books.unibe.ch/index.php/BB/catalog/book/2"
              >doi.org/10.36950/kat-wzg-2021</a
            >
            (25.04.2024).
          </li>
          <li>
            Konrad, Felix: «Von der ‹Türkengefahr› zu Exotismus und
            Orientalismus: Der Islam als Antithese Europas (1453–1914)?», in:
            Institut für Europäische Geschichte (Hg.): Europäische Geschichte
            Online (EGO), verfügbar unter:
            <a
              target="_blank"
              href="https://www.ieg-ego.eu/de/threads/modelle-und-stereotypen/tuerkengefahr-exotismus-orientalismus/felix-konrad-von-der-tuerkengefahr-zu-exotismus-und-orientalismus-1453-1914"
              >www.ieg-ego.eu/konradf-2010-de</a
            >
            (25.04.2024). (Speziell zur «Türkengefahr» und Bern: Roettig, Petra:
            Reformation als Apokalypse: die Holzschnitte von Matthias Gerung im
            Codex germanicus 6592 der Bayerischen Staatsbibliothek in München,
            Bern 1991).
          </li>
          <li>
            Meyer, Sebastian (1539). Apocalypsim Iohannis Apostoli D. Sebastiani
            Meyer Ecclesiastae Bernen[sis] Commentarius. Zürich: Froschauer, 57.
            (Übersetzung-TH), verfügbar unter:
            <a
              target="_blank"
              href="https://www.digitale-sammlungen.de/view/bsb11059159?page=125"
              >www.digitale-sammlungen.de/view/bsb11059159?page=125</a
            >
            (25.04.2024).
          </li>
          <li>
            Schneeberger, Ursula: Zuo beschirmen die gerechtikeytt, (…) und wer
            es allen fürsten lyett. Staat, Krieg und Moral im Programm der
            Berner Figurenbrunnen», in: André Holenstein (Hg.): Berns mächtige
            Zeit. Bern 2006, 157–161. (Siehe im gleichen Band auch über Berns
            Verhältnis zum Reich: Christian Windler: «Die Grenzen der Macht.
            Bern in den europäischen Mächtebeziehungen», 116–123).
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
