<div class="wrapper">
    <div class="wilkommen">
        <div class="matkachel">
            <div class="theosReihe">
                <div class="theosReihe-text">
                    <a href="https://schwabe.ch/wiborada-von-st.-gallen-978-3-7965-4500-9"><mat-card class="example-card">
                <img class="reihe-image" mat-card-image src="../../../assets/theosreihe2.jpg"
                    alt="You're supposed to see a picture here">
            </mat-card>
            </a>
                </div>

            </div>
        </div>
        <div class="voyage">
            <div class="voyage-text text kachel">
                <h2 id="voyage-text" style="margin-bottom: 5px;">«Le seul véritable voyage, le seul bain de Jouvence, ce
                    ne serait pas d'aller vers
                    de nouveaux
                    paysages,
                    mais d'avoir d'autres yeux, de voir l'univers avec les yeux d'un autre, de cent autres.»
                </h2>
                <p id="author" style="text-align: left;"> Marcel Proust, La Prisonnière (Paris 1923, 762)</p>

                <p id="erklärung">
                    <span class="accent">theos-</span>Projekt:
                    Willkommen auf der Seite «<span class="accent">THE</span>ologisch bedeutsame <span
                        class="accent">O</span>rte der <span class="accent">S</span>chweiz» (theos). Hier finden Sie
                    Texte und Bilder zu Orten in der Schweiz oder mit Schweizbezug, die nach Ansicht der Autor_innen von
                    theologischer Bedeutung sind. Das Institut für Historische Theologie der Universität Bern möchte Sie
                    mit dieser Seite dazu einladen, bekannte Orte mit anderen Augen zu sehen.
                </p>

                <p>Gern können Sie auch
                    selbst einen Beitrag über einen Ort Ihrer Wahl verfassen. Nähere Informationen dazu finden Sie →
                    <a routerLink="/beitrag"> hier.</a>
                </p>

            </div>
        </div>
        <div class="subscribe kachel">
            <p class="abotext">
                «Subscribe/ Kontaktformular»:
                <br><br>
                Ich möchte gerne informiert werden, wenn ein neuer Beitrag bei <span class="accent">theos</span>
                erscheint.
                <br>
                <a href="https://www.theol.unibe.ch/forschung/formulare/theologisch_bedeutsame_orte_in_der_schweiz/index_ger.html"
                    target="_blank">→ Kontaktformular</a>

            </p>

        </div>
    </div>
    <div class="theos-reihe ">
        <div class="reihe-left kachel">
            <p><span class="accent">«theos-</span>Reihe»: Der zweite theos-Band ist erschienen: «Wiborada von St.
                Gallen. Neuentdeckung einer Heiligen», herausgegeben von Ann-Katrin Gässlein und Gregor Emmenegger,
                Basel 2022.
                <br>
                Als Printversion oder eBook <a href="https://schwabe.ch/wiborada-von-st.-gallen-978-3-7965-4500-9" target="_blank">hier</a> erhältlich.
            </p>
        </div>
        <div class="text-reihe text kachel">
            <p><span class="accent">theos-</span>Reihe: Die
                Reihe beim
                Schwabe-Verlag nimmt Orte
                in den Blick, an denen sich der kulturelle und
                religiöse Austausch innerhalb der Schweiz wie auch mit Nachbarregionen manifestiert: «Theologisch
                bedeutsame Orte der Schweiz» (theos).
                Die Bände der Reihe befassen sich interdisziplinär und religionsübergreifend mit konkreten Orten
                sowie mit Gemeinschaften, Personen, Traditionen oder Ereignissen, die diese Orte theologisch
                bedeutsam machten – und dies bis heute tun. Von Interesse sind daher auch historische und
                gegenwärtige Nachwirkungen sowie die gesellschaftliche Rolle, die solche Orte heute spielen.
                <br>
                Die Reihe wird herausgegeben von Katharina Heyden und Maria Lissek in Verbindung mit Gregor
                Emmenegger, Ann-Katrin Gässlein, Karin Mykytjuk-Hitz, Franziska Metzger, Martin Sallmann und Ueli
                Zahnd.
            </p>
        </div>
        <div class="reihe-right kachel">
            <a href="https://www.histtheol.unibe.ch/ueber_uns/theos_festveranstaltung/index_ger.html"><mat-card class="example-card">
                <img class="reihe-image" mat-card-image src="../../../assets/theos_festveranstaltung.jpg"
                    alt="You're supposed to see a picture here">
            </mat-card>
        </a>
        </div>
    </div>
    <div class="studientage ">
        <div class="studientage-left kachel">
            <a href="https://schwabe.ch/produkttypen/reihen/theologisch-bedeutsame-orte-der-schweiz/"><mat-card class="example-card">
                <img class="reihe-image" mat-card-image src="../../../assets/theosreihe.jpg"
                    alt="You're supposed to see a picture here">
            </mat-card>
        </a>
        </div>
        <div class="text kachel">
            <p><span class="accent">theos-</span>Studientage: theos
                fördert den Dialog zwischen Universität und Gesellschaft und verbindet die Vielfalt der Perspektiven auf
                die
                religiöse Landschaft der Schweiz. Es versteht sich als partizipative Wissenschaft, an der jede_r, unter
                Berücksichtigung qualitätssichernder Kriterien, teilhaben und einen Beitrag schreiben kann. theos will
                damit
                die kritische und kreative Auseinandersetzung mit dem kulturellen Erbe der Schweiz fördern.
                Dies soll nicht ausschliesslich digital, sondern in einer Verbindung von Internet- und physischer
                Präsenz an
                theologisch bedeutsamen Orten geschehen: Im Oktober 2019 fand erstmals ein theos- Studientag statt, der
                sich
                dem Jerusalemer Passionspanorama in der Scherzliger Kirche am Thuner See widmete. Dabei konnten
                wissenschaftliche Fachpersonen und gesellschaftliche Lokalexpert_innen mit Interessierten ins Gespräch
                kommen und neue Thesen diskutieren. Mit der theos-Website und den theos-Studientagen ist dem Institut
                für
                Historische Theologie daran gelegen, einen Dialog zwischen Gesellschaft und Wissenschaft über das
                kulturelle
                Erbe der Schweiz zu initiieren und dieses digital sichtbar zu machen.</p>
        </div>
        <div class="studientage-right kachel">
            <p>
                <a href="https://www.srf.ch/audio/perspektiven/jerusalem-am-thunersee-eine-reise-zu-religioesen-begegnungsorten?id=11966882
            " target="_blank">Hier</a> können Sie eine Sendung des SRF über das theos-Projekt hören:
                Jerusalem am Thunersee – eine Reise zu religiösen Begegnungsorten.
            </p>
            <br />
            <!--
                <p>
                    <a href="../../../../assets/pdf/4500_theos2_St.Galler_Tagblatt_17.08.2022.pdf" target="_blank">Hier</a> 
                    finden Sie einen Beitrag des St. Galler Tagblatts zur heiligen Wiborada.
                </p>
            -->
        </div>
    </div>
</div>