<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'kleinhoechstetten-kirche/bild0.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <h2>Abseits gelegen: Zufallsbegegnung am Wanderweg</h2>
      <br />
      <p id="firstParagraph">
        Die evangelisch-reformierte Kirche Kleinhöchstetten liegt an einem
        Wanderweg zwischen Bern und Thun im oberen Aaretal. Zwischen dem auf
        einer Terrasse gelegenen Ort Kleinhöchstetten (549m) und dem
        gegenüberliegenden Belpberg verlaufen parallel zueinander die Aare und
        die weithin hörbare Autobahn A6. Östlich verläuft die Thunstrasse nach
        Rubigen. Die Kirche ist somit von hochfrequentierten Strassen umgeben,
        selbst jedoch kaum in den Öffentlichen Verkehr eingebunden. Im Süden
        eröffnet sich der Blick auf die Berner Alpen.
      </p>

      <p>
        Die Kirche befindet sich, von den wenigen Gebäuden des Weilers umgeben,
        an einem kleinen Platz, und kann zu Fuss umrundet werden. Ausser einem
        Hinweis auf der Wanderbeschilderung deutet wenig auf die Existenz eines
        in zweierlei Hinsicht höchst bedeutsamen Schauplatzes der (Berner)
        Christ_innentumsgeschichte hin, der in der Mitte des 20. Jahrhunderts
        gerade noch vor dem Abriss bewahrt werden konnte. Heute lädt die
        renovierte und in ihrer frühmittelalterlichen Struktur
        wiederhergestellte kleine Kirche zum Verweilen ein.
      </p>

      <img
        class="bild"
        src="../../../assets/images/kleinhoechstetten-kirche/bild1.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Westseite mit Eingang und Vorhalle. (Bild: Miriam Löhr)
      </p>
      <h2>Früheste christliche Zeugnisse aus Stein in der Region</h2>
      <p>
        Das Aaretal war mutmasslich bereits in vorchristlicher Zeit keltisch
        besiedelt. Für den Ort Kleinhöchstetten lässt sich keine vorrömische
        Besiedelung nachweisen, von einer römischen Ansiedelung ist jedoch
        auszugehen. Zum einen lag der Ort verkehrsgünstig zwischen römischen
        Ortschaften, zum anderen lassen Mauerrestfunde unter der Kirche darauf
        schliessen. Unterschiedlich zu datierende Grabfunde um die Kirche herum
        deuten auf eine Nutzung als Pfarrkirche. Schriftliche Dokumente zur
        Baugeschichte fehlen weitgehend, so dass heutige Erkenntnisse wesentlich
        auf Ausgrabungen in den 1950er Jahren fussen.
      </p>
      <h2>Ein Kirchlein unter der Kirche</h2>
      <p>
        Neben römischen Mauerresten wurde unter dem heutigen Grundriss das
        weitgehend analoge Fundament einer kleineren, frühmittelalterlichen
        Saalkirche gefunden. Dieser ältere Bau stammt mutmasslich aus der Zeit
        der Wende des 7. zum 8. Jahrhundert, in der weitere Kirchbauten am
        Thunersee und in der Aaretal-Region zu den ersten steinernen
        christlichen Manifestierungen gehören. Die heutige Kirche, die im
        Wesentlichen aus dem vergrösserten Neubau besteht, misst knapp 20x10m.
        Zu datieren ist dieser heutige Bau mutmasslich in das hochburgundische
        10. Jahrhundert. Der Raum umfasst neben Saal, Chor und Apsis zwei vom
        Chor abgehende Annexe. Im Gebiet der heutigen Schweiz finden sich
        mehrere Annexkirchen frühmittelalterlichen Typs, jedoch ist nur
        Kleinhöchstetten über die Mauerfundamente hinaus erhalten.
      </p>
      <img
        class="bild"
        src="../../../assets/images/kleinhoechstetten-kirche/bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Ostseite mit Apsis und Nischenkranz. (Bild: Miriam Löhr)
      </p>
      <h2>
        Spätmittelalterliche Kirchenumnutzung: Kleinhöchstetten wird
        Wallfahrtskirche
      </h2>
      <p>
        1348 erfährt «Hönstetton» als Marienkirche «Unserer Lieben Frau»
        erstmalig eine Erwähnung in Urkunden, als Wallfahrtskirche mit Priester
        1353. In Folge dieser «Umnutzung» wurden umfassende bauliche
        Veränderungen vorgenommen, die die Stadt Bern, inzwischen
        Pfrundeigentümerin der Kirche, veranlasste. Die Annexe verschwanden,
        eine Sakristei wurde erbaut, ebenso wie der Triumphbogen an der Schwelle
        zum Chorraum. Die Fenster wurden erneuert, Wandmalereien aufgetragen,
        ein Wandtabernakel für Hostien sowie ein kleines Becken, eine Piscina,
        eingebaut. Die theologische Grosswetterlage zog jedoch sehr bald erneut
        grundlegende Veränderungen nach sich.
      </p>
      <h2>Anfänge der Berner Reformation in Kleinhöchstetten</h2>
      <p>
        Die Kleinhöchstettener Pfarrer Johann Wecker, wirkend von 1498 bis 1522,
        sowie Jörg (Georg) Brunner (erstmals erwähnt 1520–1571) vertraten
        vehement die neue Lehre. Brunner zog mit seinen flammenden Predigten die
        Aufmerksamkeit auf Kleinhöchstetten und nicht zuletzt Kritik auf sich:
        Am 29. August 1522 musste er sich im Berner Barfüsserkloster einer
        umfassenden Anklageschrift stellen. Brunner gilt als erster Reformator
        im Bernbiet, indem er den Bernischen Rat mit den Thesen des deutschen
        Reformators Martin Luther konfrontierte. Durch den erfolgreichen Ausgang
        des Religionsgesprächs bestärkt, verweigerte Brunner die Lesung der
        Messe, woraufhin er aus dem Amt entfernt und des Landes verwiesen wurde.
        In der Folge wurde die Kleinhöchstettener Wallfahrtskirche ihrer
        Funktion entzogen und 1534 an den Landwirt Sulpitius Nussbaum verkauft.
        Das nun profanierte Gebäude diente fortan als Knechtsunterkunft, Stall,
        Werkstatt und Lagerraum.
      </p>
      <img
        class="bild"
        src="../../../assets/images/kleinhoechstetten-kirche/bild3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Gedenktafel an Jörg Brunner am Eingang der Kirche. (Bild: Miriam Löhr)
      </p>
      <h2>Niedergang und Zerfall</h2>
      <p>
        Mit der Zeit verfiel das Gebäude zunehmend. 1939 sollte die ehemalige
        Kirche abgerissen werden, was jedoch während des Zweiten Weltkriegs
        zunächst vergessen ging. Nach einem Einsturz eines Teiles des
        Kirchendachs stand die Ruine 1952 zum Verkauf. Dass es nicht zu einem
        Abriss kam, ist dem Worber Sekundarlehrer Ernst Aebi und 24 seiner
        Schüler zu verdanken, die beim Berner Heimatschutz für den Erhalt des
        historischen Gebäudes eintraten. Trotz der hohen Kosten und Zweifeln an
        der Tauglichkeit der kleinen Kirche als heutiges Gotteshaus gelang die
        Finanzierung durch unterschiedliche Geldgeber_innen auf Bundes- sowie
        kantonaler Seite, des Heimatschutzes, der Landeskirche sowie durch
        Privatspenden.
      </p>
      <h2>Restauration der Ruine und heutige Bedeutung</h2>
      <p>
        In den Jahren 1962–1965 wurde die Kirche restauriert und in ihren
        vorreformatorischen, spätmittelalterlichen Grundriss zurückversetzt. Vor
        dem Haupteingang wurde eine offene Vorhalle errichtet, ferner wurde ein
        Dachreiter mit zwei Glocken aufgesetzt. Wandtabernakel und Malereien
        wurden, soweit möglich, restauriert. Das Gebäude in seiner heutigen Form
        weist ein spätgotisches sowie mehrere kleine romanische Fenster auf. Der
        Nischenkranz der Apsis ähnelt denen der Amsoldinger und Spiezer
        Kirchbauten, ist jedoch einfacher gehalten und damit möglicherweise
        älter. Die Kirche steht mit dem Nischenkranz mutmasslich mit
        italienischen Baustilen der Zeit in Beziehung.
      </p>
      <p>
        Mit der Lage an einer wichtigen historischen Verkehrsachse zwischen dem
        Norden und dem Süden der Alpen, unter keltischem, alemannischem,
        burgundischem und römischem Einfluss und als Ausgangspunkt der Berner
        Reformation ist die Kirche Kleinhöchstetten Schauplatz «europäischer»
        Geschichte. Kunstgeschichtlich ist sie mit Sakralbauten weit über die
        Thunersee-Region hinaus verbunden. Als historischer Bau bietet die
        kleine Kirche ein Fenster in vergangene Zeiten und verbindet ihre
        bewegte Geschichte mit der Gegenwart.
      </p>
      <p>Die Kirche gehört heute als Gotteshaus zur Kirchgemeinde Münsingen.</p>
      <img
        class="bild"
        src="../../../assets/images/kleinhoechstetten-kirche/bild4.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Schiff mit Blick auf Triumphbogen und Chor. (Bild: Miriam Löhr)
      </p>
      <p class="autor">
        Miriam Löhr ist Postdoktorandin am Institut für Praktische Theologie an
        der Theologischen Fakultät der Universität Bern.
      </p>
      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier: 
        </p>
        <ul style="margin-top:0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a style="color: black" routerLink="/{{ author.pathname[i] | removeshitespaces | lowercase }}">
              {{author.location[i]}}: 
              {{author.shorttitle[i]}} 
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Caviezel-Rüegg, Zita: Die Kirche Kleinhöchstetten, Schweizerische
            Gesellschaft für Kunstgeschichte GSK, Bern 1996.
          </li>
          <li>
            Dubler, Anne-Marie: Artikel Kleinhöchstetten (Version vom
            21.10.2008), in: Historisches Lexikon der Schweiz HLS, verfügbar
            unter: <a target="_blank"
              href="https://hls-dhs-dss.ch/de/articles/008339/2008-10-21/"
              >https://hls-dhs-dss.ch</a
            >(27.12.2021).
          </li>

          <li>
            Website der Reformierten Kirche Münsingen: 
            <a target="_blank" href="https://www.ref-muensingen.ch/Geschichte_Kleinhoechstetten"
              >https://www.ref-muensingen.ch</a
            >
            (28.12.2021).
          </li>
        </ul>
      </div>
           <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
