<app-title-image
  [author]="author.author"
  [title]="title"
  [date]="date"
  [image]="'trouvaille-alleeins/Bild1.jpeg'"
>
</app-title-image>
<div class="wrapper">
  <div class="text">
    <div class="innerText">
      <p style="font-style: italic">
        Diese Miniaturen erschienen bis auf wenige Ausnahmen zwischen 2006 und
        2008 im «saemann», der Vorgängerzeitung von «reformiert.» Sie führen zu
        oft übersehenen Orten und Monumenten der bernischen und schweizerischen
        Kirchengeschichte. Der Umfang war jeweils vorgegeben. Die Texte möchten
        auf engem Raum in chronologisch-thematischer Ordnung narrativ und
        kontemplativ eine kleine Theologie entfalten. (RD)
      </p>
      <br />

      <p id="firstParagraph">
        In Kleinhöchstetten, auf der rechten Seite der Aare, liegt am Rand einer
        Moräne die ehemalige Wallfahrtskirche Unsere liebe Frau. Der kunstvolle
        Bau, dessen Apsis mit ihrem Nischenkranz an lombardische Vorbilder
        erinnert, reicht in die Mitte des 10. Jahrhunderts zurück. Er ist nach
        der Reformation profaniert und anderweitig genutzt worden. Als er 1962
        bis 1965 restauriert und für den Gottesdienst hergerichtet wurde, befand
        er sich in einem traurigen Zustand. <br />
        1522 bis 1525, im Vorfeld der Berner Reformation, war Jörg Brunner (vor
        1520–nach 1571) in Kleinhöchstetten Wallfahrtspriester. Er übte in
        seinen Predigten scharfe Kritik an der Amtsführung der kirchlichen
        Oberen und warf ihnen Ausbeutung und Irreführung der Gläubigen vor. Als
        er sich vor einer Untersuchungskommission verantworten musste, berief er
        sich allein auf die Heilige Schrift und erklärte, mit kirchlichen
        Gesetzen, sofern sie nicht mit der Bibel übereinstimmten, habe er nichts
        zu schaffen. So ist mit der Kirche Kleinhöchstetten die Erinnerung an
        die Erneuerung, aber auch an die Spaltung der Kirche verknüpft.
      </p>
      <img
        class="bild"
        src="../../../assets/images/trouvaille-alleeins/Bild2.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Die ehemalige Wallfahrtskirche, deren Apsis mit ihrem Nischenkranz an
        lombardische Vorbilder erinnert, reicht in die Mitte des 10.
        Jahrhunderts zurück. (Bild: Adriana Basso Schaub)
      </p>

      <p>
        Schräg gegenüber von Kleinhöchstetten, jenseits von Aare und Gürbe,
        befindet sich, ebenfalls in leicht erhöhter Lage, das Ökumenische
        Zentrum Kehrsatz. Es ist ein Gemeinschaftswerk der Reformierten und
        Katholiken, wurde 1976 eingeweiht und wird von beiden Gemeinden
        gemeinsam genutzt. Sie wollen dem nachleben, was auf dem Grundstein des
        Zentrums (nach Johannes 17,21) als letzter Wille Jesu für seine
        Jüngerinnen und Jünger festgehalten und zum Leitsatz der ökumenischen
        Bewegung geworden ist: «… dass sie alle eins seien». <br />
        Zwischen der Schliessung der Wallfahrtskirche in Kleinhöchstetten und
        der Eröffnung des «Öki» in Kehrsatz liegen mehr als vier Jahrhunderte:
        Für die beiden Kirchen waren es Zeiten der Hoffnung und der
        Enttäuschung, der Abgrenzung und der Immunisierung (im 16. und 17.
        Jahrhundert), der Annäherung und Öffnung (im 18. Jahrhundert), des
        Zusammenpralls und des Rückzugs (im 19. Jahrhundert) und erneuter
        Annäherung (im 20. Jahrhundert). Das «Öki» ist ein Kind dieser
        wechselvollen Geschichte, im Besondern der ökumenischen Bewegung des 20.
        Jahrhunderts und des Zweiten Vatikanischen Konzils (1962–1965).
        Wallfahrtskirche und Ökumenisches Zentrum: Die christlichen Kirchen
        haben die Aufgabe und Verheissung, die Erfüllung des letzten Willens
        Jesu unter Wahrung ihrer jeweiligen Identität zu erbeten, zu bedenken
        und zu erleben. Ihre Geschichte und Prägung sind nicht eine Last, die
        sie abzulegen, sondern ein Schatz, den sie mitzubringen haben. Eine
        Gewähr dafür, dass immer alles reibungslos vonstatten geht, gibt es
        nicht. Aber die Richtung ist klar.
      </p>

      <img
        class="bild"
        src="../../../assets/images/trouvaille-alleeins/Bild3.jpeg"
        alt=""
      />
      <p class="bildunterschrift">
        Das Ökumenische Zentrum Kehrsatz. Es ist ein Gemeinschaftswerk der
        Reformierten und Katholiken, wurde 1976 eingeweiht und wird von beiden
        Gemeinden gemeinsam genutzt. (Bild: Adriana Basso Schaub)
      </p>

      <p class="autor">
        Dr. Rudolf Dellsperger ist ein Schweizer Theologe und emeritierter
        Professor für Neuere Kirchengeschichte, Konfessionskunde und
        Theologiegeschichte an der Universität Bern.
      </p>

      <div *ngIf="author.beitrag.length > 0" class="weitere">
        <p class="autor">
          Weitere Artikel von {{ author.author }} finden Sie hier:
        </p>
        <ul style="margin-top: 0">
          <li *ngFor="let beitrag of author.beitrag; let i = index">
            <a
              style="color: black"
              routerLink="/{{
                author.pathname[i] | removeshitespaces | lowercase
              }}"
            >
              {{ author.location[i] }}: {{ author.shorttitle[i] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="vertiefung">
        <h2>Zur Vertiefung:</h2>
        <ul>
          <li>
            Caviezel-Rüegg, Zita: Die Kirche Kleinhöchstetten, Kanton Bern, Bern
            1996.
          </li>
          <li>
            Walder, Ernst: «Reformation und moderner Staat», in: 450 Jahre
            Berner Reformation. Beiträge zur Geschichte der Berner Reformation
            und zu Niklaus Manuel, hg. v. Historischen Verein des Kantons Bern,
            Bern 1980, 484-506.
          </li>
          <li>
            Kaufmann, Ursula: Auf dass sie alle eins seien. Die Entstehung der
            reformierten Kirchgemeinde Kehrsatz. Lebendige Ökumene in Kehrsatz
            (betrachtet von 1972–1976), Kehrsatz 1993.
          </li>

          <li>
            Löhr, Miriam: Kleinhöchstetten – Die evangelisch-reformierte Kirche:
            Ältester erhaltener frühromanischer Sakralbau im Bernbiet und
            Ausgangspunkt der Berner Reformation, verfügbar unter:
            <a
              target="_blank"
              href="https://www.theos.unibe.ch/die-evangelisch-reformierte-kirche"
              >www.theos.unibe.ch_kleinhöchstetten
            </a>
            (10.02.2023).
          </li>
        </ul>
      </div>
      <h2>Lageplan:</h2>
      <div *ngFor="let id of ids" class="map-container">
        <div [id]="id" class="map"></div>
      </div>
    </div>
  </div>
</div>
